In [1]:
import pandas as pd
import numpy as np
import sklearn as sk
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

In [2]:
path = 'C:/Users/JoseAntonio/Desktop/ENOE/adri/2017/coe1t2017.csv'
df = pd.read_csv(path, encoding='latin', low_memory=False)
df.head()

,r_def,cd_a,ent,con,upm,d_sem,n_pro_viv,v_sel,n_hog,h_mud,...,p5g10,p5g11,p5g12,p5g13,p5g14,p5g15,p5g99,p5h,ur,fac
0,0.0,1.0,9.0,40001.0,900471.0,101.0,55.0,2.0,1.0,0.0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,,1.0,487.0
1,0.0,1.0,9.0,40001.0,900471.0,101.0,55.0,2.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,1.0,487.0
2,0.0,1.0,9.0,40001.0,900471.0,101.0,55.0,2.0,1.0,0.0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,,1.0,487.0
3,0.0,1.0,9.0,40001.0,900471.0,101.0,80.0,3.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,15.0,NaN,,1.0,487.0
4,0.0,1.0,9.0,40001.0,900471.0,101.0,80.0,3.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,1.0,487.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Columns: 186 entries, r_def to fac
dtypes: float64(100), object(86)
memory usage: 1.5+ GB

In [4]:
df.shape

(1048575, 186)

In [5]:
df.shape[0]

1048575

In [6]:
df.shape[1]

186

In [7]:
df.columns.values.tolist()

['r_def',
 'cd_a',
 'ent',
 'con',
 'upm',
 'd_sem',
 'n_pro_viv',
 'v_sel',
 'n_hog',
 'h_mud',
 'n_ent',
 'per',
 'n_ren',
 'eda',
 'n_inf',
 'p1',
 'p1a1',
 'p1a2',
 'p1a3',
 'p1b',
 'p1c',
 'p1d',
 'p1e',
 'p2_1',
 'p2_2',
 'p2_3',
 'p2_4',
 'p2_9',
 'p2a_dia',
 'p2a_sem',
 'p2a_mes',
 'p2a_anio',
 'p2b_dia',
 'p2b_sem',
 'p2b_mes',
 'p2b_anio',
 'p2b',
 'p2c',
 'p2d1',
 'p2d2',
 'p2d3',
 'p2d4',
 'p2d5',
 'p2d6',
 'p2d7',
 'p2d8',
 'p2d9',
 'p2d10',
 'p2d11',
 'p2d99',
 'p2e',
 'p2f',
 'p2g1',
 'p2g2',
 'p2h1',
 'p2h2',
 'p2h3',
 'p2h4',
 'p2h9',
 'p3',
 'p3a',
 'p3b',
 'p3c1',
 'p3c2',
 'p3c3',
 'p3c4',
 'p3c9',
 'p3d',
 'p3e',
 'p3f1',
 'p3f2',
 'p3g1_1',
 'p3g1_2',
 'p3g2_1',
 'p3g2_2',
 'p3g3_1',
 'p3g3_2',
 'p3g4_1',
 'p3g4_2',
 'p3g9',
 'p3g_tot',
 'p3h',
 'p3i',
 'p3j',
 'p3k1',
 'p3k2',
 'p3l1',
 'p3l2',
 'p3l3',
 'p3l4',
 'p3l5',
 'p3l9',
 'p3m1',
 'p3m2',
 'p3m3',
 'p3m4',
 'p3m5',
 'p3m6',
 'p3m7',
 'p3m8',
 'p3m9',
 'p3n',
 'p3o',
 'p3p1',
 'p3p2',
 'p3q',
 'p3r_anio',
 'p3r_mes',
 'p3r',
 'p3s',
 'p3t_anio',
 'p3t_mes',
 'p4',
 'p4_1',
 'p4_2',
 'p4_3',
 'p4a',
 'p4a_1',
 'p4b',
 'p4c',
 'p4d1',
 'p4d2',
 'p4d3',
 'p4e',
 'p4f',
 'p4g',
 'p4h',
 'p4i',
 'p4i_1',
 'p5',
 'p5a',
 'p5b',
 'p5c_hlu',
 'p5c_mlu',
 'p5c_hma',
 'p5c_mma',
 'p5c_hmi',
 'p5c_mmi',
 'p5c_hju',
 'p5c_mju',
 'p5c_hvi',
 'p5c_mvi',
 'p5c_hsa',
 'p5c_msa',
 'p5c_hdo',
 'p5c_mdo',
 'p5c_thrs',
 'p5c_tdia',
 'p5d',
 'p5e1',
 'p5e_hlu',
 'p5e_mlu',
 'p5e_hma',
 'p5e_mma',
 'p5e_hmi',
 'p5e_mmi',
 'p5e_hju',
 'p5e_mju',
 'p5e_hvi',
 'p5e_mvi',
 'p5e_hsa',
 'p5e_msa',
 'p5e_hdo',
 'p5e_mdo',
 'p5e_thrs',
 'p5e_tdia',
 'p5f',
 'p5g1',
 'p5g2',
 'p5g3',
 'p5g4',
 'p5g5',
 'p5g6',
 'p5g7',
 'p5g8',
 'p5g9',
 'p5g10',
 'p5g11',
 'p5g12',
 'p5g13',
 'p5g14',
 'p5g15',
 'p5g99',
 'p5h',
 'ur',
 'fac']

In [8]:
df.dtypes

r_def        float64
cd_a         float64
ent          float64
con          float64
upm          float64
d_sem        float64
n_pro_viv    float64
v_sel        float64
n_hog        float64
h_mud        float64
n_ent        float64
per          float64
n_ren        float64
eda          float64
n_inf        float64
p1           float64
p1a1          object
p1a2          object
p1a3          object
p1b           object
p1c          float64
p1d           object
p1e           object
p2_1          object
p2_2          object
p2_3          object
p2_4          object
p2_9          object
p2a_dia      float64
p2a_sem       object
              ...
p5e_hju      float64
p5e_mju      float64
p5e_hvi      float64
p5e_mvi      float64
p5e_hsa      float64
p5e_msa      float64
p5e_hdo      float64
p5e_mdo      float64
p5e_thrs     float64
p5e_tdia      object
p5f          float64
p5g1         float64
p5g2         float64
p5g3         float64
p5g4         float64
p5g5         float64
p5g6         float64
p5g7         float64
p5g8         float64
p5g9         float64
p5g10        float64
p5g11        float64
p5g12        float64
p5g13        float64
p5g14        float64
p5g15        float64
p5g99        float64
p5h           object
ur           float64
fac          float64
Length: 186, dtype: object

## Copia de df

In [9]:
df_copy_20151 = df.copy()

In [10]:
df_copy_20151.shape

(1048575, 186)

## Verificando si tenemos datos faltantes

In [11]:
df.notnull()

,r_def,cd_a,ent,con,upm,d_sem,n_pro_viv,v_sel,n_hog,h_mud,...,p5g10,p5g11,p5g12,p5g13,p5g14,p5g15,p5g99,p5h,ur,fac
0,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,True,False,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
5,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
6,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
7,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
8,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
9,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
10,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
11,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
12,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
13,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
14,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
15,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,True,False,True,True,True
16,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
17,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
18,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
19,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
20,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
21,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
22,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
23,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
24,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
25,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
26,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
27,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
28,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
29,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048545,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048546,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048547,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048548,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048549,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048550,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048551,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048552,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048553,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048554,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048555,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048556,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048557,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048558,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048559,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048560,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048561,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048562,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048563,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048564,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048565,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048566,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048567,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048568,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048569,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,True,False,False,True,True
1048570,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048571,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048572,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048573,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048574,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

## Columnas con datos completos (complete data) y faltantes (missing data)

In [12]:
df_copy_20151.notnull().all()

r_def        False
cd_a         False
ent          False
con          False
upm          False
d_sem        False
n_pro_viv    False
v_sel        False
n_hog        False
h_mud        False
n_ent        False
per          False
n_ren        False
eda          False
n_inf        False
p1           False
p1a1         False
p1a2         False
p1a3         False
p1b          False
p1c          False
p1d          False
p1e          False
p2_1         False
p2_2         False
p2_3         False
p2_4         False
p2_9         False
p2a_dia      False
p2a_sem      False
             ...
p5e_hju      False
p5e_mju      False
p5e_hvi      False
p5e_mvi      False
p5e_hsa      False
p5e_msa      False
p5e_hdo      False
p5e_mdo      False
p5e_thrs     False
p5e_tdia     False
p5f          False
p5g1         False
p5g2         False
p5g3         False
p5g4         False
p5g5         False
p5g6         False
p5g7         False
p5g8         False
p5g9         False
p5g10        False
p5g11        False
p5g12        False
p5g13        False
p5g14        False
p5g15        False
p5g99        False
p5h          False
ur           False
fac          False
Length: 186, dtype: bool

In [13]:
df_copy_20151 = df_copy_20151.fillna(value=99)

In [14]:
df_copy_20151.head()

,r_def,cd_a,ent,con,upm,d_sem,n_pro_viv,v_sel,n_hog,h_mud,...,p5g10,p5g11,p5g12,p5g13,p5g14,p5g15,p5g99,p5h,ur,fac
0,0.0,1.0,9.0,40001.0,900471.0,101.0,55.0,2.0,1.0,0.0,...,99.0,99.0,99.0,99.0,14.0,99.0,99.0,,1.0,487.0
1,0.0,1.0,9.0,40001.0,900471.0,101.0,55.0,2.0,1.0,0.0,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,,1.0,487.0
2,0.0,1.0,9.0,40001.0,900471.0,101.0,55.0,2.0,1.0,0.0,...,99.0,99.0,99.0,99.0,14.0,99.0,99.0,,1.0,487.0
3,0.0,1.0,9.0,40001.0,900471.0,101.0,80.0,3.0,1.0,0.0,...,99.0,99.0,99.0,99.0,99.0,15.0,99.0,,1.0,487.0
4,0.0,1.0,9.0,40001.0,900471.0,101.0,80.0,3.0,1.0,0.0,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,,1.0,487.0

## Resultado definitivo de la entrevista (r_def)

0 Entrevista completa

In [15]:
df_copy_20151['r_def'] = df_copy_20151['r_def'].astype('int64')
df_copy_20151.r_def.value_counts()

0     1048574
99          1
Name: r_def, dtype: int64

## Ciudad autorrepresentada (cd_a)
1 MÃ©xico 2 Guadalajara 3 Monterrey 4 Puebla 5 LeÃ³n 6 TorreÃ³n (a partir de 2017) 7 San Luis PotosÃ­ 8 MÃ©rida 9 Chihuahua 10 Tampico 12 Veracruz 13 Acapulco 14 Aguascalientes 15 Morelia 16 Toluca 17 Saltillo 18 Villahermosa 19 Tuxtla GutiÃ©rrez 21 Tijuana 24 CuliacÃ¡n 25 Hermosillo 26 Durango 27 Tepic 28 Campeche 29 Cuernavaca 31 Oaxaca 32 Zacatecas 33 Colima 36 QuerÃ©taro 39 Tlaxcala 40 La Paz 41 CancÃºn 43 Pachuca 81 Complemento urbano-rural 82 Complemento urbano-rural 83 Complemento urbano-rural 84 Complemento urbano-rural 85 Complemento urbano-rural 86 Complemento urbano-rural

In [16]:
df_copy_20151['cd_a'] = df_copy_20151['cd_a'].astype('int64')
df_copy_20151.cd_a.value_counts()

86    138974
81     65617
84     50739
1      50299
83     48831
85     35496
5      34070
3      31911
2      31826
4      30585
82     24395
16     24291
6      22188
14     21842
15     21755
7      21753
24     21666
19     21124
17     21060
8      20548
18     20382
21     19792
9      19297
13     18688
10     18299
39     17169
26     16465
12     16085
32     16047
31     15860
27     15632
25     15625
29     15142
36     14884
33     14787
43     14501
28     14414
41     13701
40     12834
99         1
Name: cd_a, dtype: int64

## Entidad (ent)
1 Aguascalientes 2 Baja California 3 Baja California Sur 4 Campeche 5 Coahuila de Zaragoza 6 Colima 7 Chiapas 8 Chihuahua 9 Distrito Federal 10 Durango 11 Guanajuato 12 Guerrero 13 Hidalgo 14 Jalisco 15 MÃ©xico 16 MichoacÃ¡n de Ocampo 17 Morelos 18 Nayarit 19 Nuevo LeÃ³n 20 Oaxaca 21 Puebla 22 QuerÃ©taro 23 Quintana Roo 24 San Luis PotosÃ­ 25 Sinaloa 26 Sonora 27 Tabasco 28 Tamaulipas 29 Tlaxcala 30 Veracruz de Ignacio de la Llave 31 YucatÃ¡n 32 Zacatecas

In [17]:
df_copy_20151['ent'] = df_copy_20151['ent'].astype('int64')
df_copy_20151.ent.value_counts()

15    54997
11    48049
5     45744
21    42470
14    41998
19    39623
7     37852
30    34433
2     34085
24    34009
16    33985
1     33891
25    33210
27    32687
10    32498
31    32259
12    32194
20    31572
9     31411
8     30978
28    29779
32    28801
29    27266
18    26959
4     26916
22    26434
26    25829
17    25526
13    24976
6     24652
23    22848
3     20643
99        1
Name: ent, dtype: int64

## Control (con)
Primer dÃ­gito Ãmbito del nÃºmero de control 0 El control pertenece a la muestra anterior 4 Ciudades autorrepresentadas 5 Complemento urbano 6 Rural

Los Ãºltimos cuatro Consecutivo por entidad dÃ­gitos y Ã¡mbito 0001-9999 ]

In [18]:
df_copy_20151['con'] = df_copy_20151['con'].astype('int64')
df_copy_20151.con.value_counts()

60007    5356
60004    5273
60005    5122
60002    5116
60001    5059
60009    5046
60013    4968
60003    4943
60015    4905
60008    4854
60012    4803
60006    4671
60010    4652
60011    4624
60014    4558
50007    3809
60016    3715
60017    3696
50008    3669
50016    3618
60020    3460
60018    3405
50014    3387
50029    3340
50023    3339
60021    3308
60019    3299
50013    3245
50030    3227
50017    3202
         ...
40619      42
40638      42
40628      41
50265      41
40605      41
40602      40
40609      40
50266      37
40606      36
50235      36
50270      34
50264      34
50262      34
50257      34
40630      32
50263      32
40603      31
40613      31
50259      29
50258      28
40610      26
50261      26
40618      23
40608      23
50268      22
40637      22
50267      16
50260      13
40629       6
99          1
Name: con, Length: 1382, dtype: int64

## Unidad primaria de muestreo (upm)
0100001-3299999 NÃºmero de la unidad primaria de muestreo

In [19]:
df_copy_20151['upm'] = df_copy_20151['upm'].astype('int64')
df_copy_20151.upm.value_counts()

2104512    262
1523639    256
401384     248
3160360    244
761661     242
2202586    241
1527006    240
2701676    239
1527012    239
2403483    239
2106640    237
1703122    237
102171     235
1561473    234
3102796    231
1360780    230
2460710    230
2061000    228
3103644    227
3103665    227
460244     226
2060981    225
460155     225
762502     223
1702361    223
3102754    222
1525099    221
2960066    221
3062418    221
160186     220
          ...
2301319      3
3000202      3
1300571      3
3000208      3
919392       3
2202109      3
2201883      3
2806404      3
300228       3
3002294      3
3102151      3
1905640      3
2302222      3
1302846      3
917067       3
1202675      2
206852       2
2300475      2
1700593      2
1104978      2
1102068      2
916358       2
1200118      2
2805141      2
2805045      2
910336       2
99           1
2500966      1
300157       1
3100772      1
Name: upm, Length: 22068, dtype: int64

## DistribuciÃ³n semanal(D_SEM)Â¶
Primer dÃ­gito 1-500

In [20]:
df_copy_20151['d_sem'] = df_copy_20151['d_sem'].astype('int64')
df_copy_20151.d_sem.value_counts()

102    35332
203    35330
402    35250
503    35186
103    35070
403    34739
202    34637
501    34599
303    34596
101    34587
201    34577
301    34552
302    34459
401    33833
502    33815
411    11000
110    10967
408    10920
304    10897
510    10843
211    10839
310    10807
206    10800
212    10789
509    10783
406    10772
507    10767
105    10756
504    10753
111    10726
       ...
311    10647
413    10639
109    10638
104    10635
511    10612
208    10608
305    10605
412    10589
112    10574
405    10534
309    10500
505    10500
107    10456
308    10435
404    10384
306    10377
106    10374
213    10311
108    10302
207    10288
513    10261
410    10260
205    10240
313    10226
506    10225
204    10138
113    10116
508    10035
210    10000
99         1
Name: d_sem, Length: 66, dtype: int64

## NÃºmero progresivo de la vivienda (N_PRO_VIV)
NÃºmero progresivo de la vivienda 0001-9999

NÃºmero progresivo de la vivienda en el listado 0001-9999

In [21]:
df_copy_20151['n_pro_viv'] = df_copy_20151['n_pro_viv'].astype('int64')
df_copy_20151.n_pro_viv.value_counts()

21     7986
18     7860
17     7725
65     7710
39     7586
29     7580
31     7573
4      7565
67     7562
59     7554
8      7554
42     7535
43     7526
11     7493
10     7480
14     7472
49     7452
16     7448
34     7419
53     7402
24     7398
38     7396
37     7365
22     7360
46     7334
48     7301
57     7298
80     7298
77     7294
60     7294
       ...
595       4
464       4
555       4
529       4
552       4
714       4
456       4
445       4
688       4
707       4
441       4
534       3
474       3
644       2
842       2
536       2
592       2
487       2
518       2
520       2
519       2
482       2
460       2
690       2
521       2
556       2
637       2
573       2
512       2
569       1
Name: n_pro_viv, Length: 559, dtype: int64

## Vivienda seleccionada (V_SEL)
01-99 seleccionada

In [22]:
df_copy_20151['v_sel'] = df_copy_20151['v_sel'].astype('int64')
df_copy_20151.v_sel.value_counts()

1     166521
3     165516
2     164622
4     164308
5     163545
6      15046
9      14993
8      14990
15     14985
12     14902
18     14889
16     14870
14     14830
11     14801
10     14789
13     14781
17     14780
7      14712
19     14221
20     14194
21      1471
22       581
23       161
24        55
25        11
99         1
Name: v_sel, dtype: int64

## NÃºmero de hogar (n_hog)
1 NÃºmero de hogar principal dentro de la vivienda
2-9 NÃºmero de hogar adicional dentro de la vivienda

In [23]:
df_copy_20151['n_hog'] = df_copy_20151['n_hog'].astype('int64')
df_copy_20151.n_hog.value_counts()

1     1043924
2        4079
3         496
4          60
5          14
99          1
6           1
Name: n_hog, dtype: int64

## Hogar mudado (h_mud)
0-4 NÃºmero de veces que el hogar se ha mudado

In [24]:
df_copy_20151['h_mud'] = df_copy_20151['h_mud'].astype('int64')
df_copy_20151.h_mud.value_counts()

0     1017389
1       27868
2        2969
3         325
4          23
99          1
Name: h_mud, dtype: int64

## NÃºmero de entrevista o visita (n_ent)
1-5 NÃºmero de entrevista o visita realizada a la vivienda

In [25]:
df_copy_20151['n_ent'] = df_copy_20151['n_ent'].astype('int64')
df_copy_20151.n_ent.value_counts()

1     211151
2     210535
3     209942
4     208767
5     208179
99         1
Name: n_ent, dtype: int64

## Periodo (per)
Primer dÃ­gito, 1-4
Primer dÃ­gito Trimestre de aÃ±o 1 Enero-Marzo 2 Abril-Junio 3 Julio-Septiembre 4 Octubre-Diciembre

Segundo y tercer dÃ­gito 05-99 AÃ±o en curso

In [26]:
df_copy_20151['per'] = df_copy_20151['per'].astype('int64')
df_copy_20151.per.value_counts()

217    312033
317    307117
117    306380
417    123044
99          1
Name: per, dtype: int64

## NÃºmero de renglÃ³n (n_ren)
01-30 NÃºmero de renglÃ³n del integrante del hogar

In [27]:
df_copy_20151['n_ren'] = df_copy_20151['n_ren'].astype('int64')
df_copy_20151.n_ren.value_counts()

1     358703
2     315038
3     182574
4     105755
5      47628
6      20399
7       9166
8       4535
9       2209
10      1168
11       608
12       359
13       189
14       108
15        54
16        29
17        24
18        19
19         6
20         3
99         1
Name: n_ren, dtype: int64

## Edad (eda)
00 Menores de 1 aÃ±o 01-96 NÃºmero de aÃ±os cumplidos del integrante del hogar 97 97 aÃ±os y mÃ¡s 98 Edad no especificada para mayores (12 aÃ±os y mÃ¡s) 99 Edad no especificada para menores (00 a 11 aÃ±os)

In [28]:
df_copy_20151['eda'] = df_copy_20151['eda'].astype('int64')
df_copy_20151.eda.value_counts()

16    24536
18    24533
15    24422
17    24347
13    23548
12    23517
14    23439
22    22955
19    22787
23    22457
20    22405
21    22082
24    21876
25    21292
26    21086
27    19924
40    19556
30    19542
28    19445
43    19386
31    18706
36    18553
33    18456
29    18310
42    18235
38    18124
39    18111
41    18104
35    17949
34    17859
      ...
70     6108
71     5510
72     5045
73     4907
74     4578
75     4360
76     4133
77     3761
78     3293
80     3065
79     2793
81     2690
83     2171
82     2105
84     1938
85     1746
86     1599
87     1403
88     1042
89      874
90      732
98      640
91      569
97      548
92      455
93      385
94      353
95      291
96      233
99        1
Name: eda, Length: 88, dtype: int64

## RenglÃ³n del Informante (n_inf)
01-30, 97, 99 NÃºmero de renglÃ³n del informante

In [29]:
df_copy_20151['n_inf'] = df_copy_20151['n_inf'].astype('int64')
df_copy_20151.n_inf.value_counts()

2     457317
1     392238
3     101123
4      51509
5      23778
6      10966
7       5388
8       2706
9       1322
10       600
99       498
11       402
97       246
12       203
13       112
14        57
15        44
16        37
17        19
18         9
19         1
Name: n_inf, dtype: int64

## Pregunta 1: Ahora le voy a preguntar por la situaciÃ³n laboral de â€¦Â¿La semana pasada trabajÃ³ por lo menos una hora? (P1)
1 SÃ­ 2 No

In [30]:
df_copy_20151['p1'] = df_copy_20151['p1'].astype('int64')
df_copy_20151.p1.value_counts()

1     549953
2     498621
99         1
Name: p1, dtype: int64

## OpciÃ³n 1: realizÃ³ una actividad que le proporcionÃ³ ingresos? (P1A1)
1 SÃ­ realizÃ³ una actividad que le proporcionÃ³ ingresos? 
9 No aplica

In [31]:
 df_copy_20151['p1a1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [32]:
df_copy_20151['p1a1'] = df_copy_20151['p1a1'].astype('int64')
df_copy_20151.p1a1.value_counts()

99    1044068
1        4507
Name: p1a1, dtype: int64

## OpciÃ³n 2: ayudar en las tierras o en el negocio de un familiar o de otra persona? (p1a2)

2 SÃ­ ayudÃ³ en las tierras o en el negocio de un familiar o de otra persona?
99  No aplica

In [33]:
df_copy_20151['p1a2'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [34]:
df_copy_20151['p1a2'] = df_copy_20151['p1a2'].astype('int64')
df_copy_20151.p1a2.value_counts()

99    1043973
2        4602
Name: p1a2, dtype: int64

## OpciÃ³n 3: no trabajÃ³ la semana pasada (p1a3)
3 No trabajÃ³ la semana pasada  
99 No aplica

In [35]:
df_copy_20151['p1a3'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [36]:
df_copy_20151['p1a3'] = df_copy_20151['p1a3'].astype('int64')
df_copy_20151.p1a3.value_counts()

99    559057
3     489518
Name: p1a3, dtype: int64

##  Pregunta 1b: Aunque ya me dijo que ... no trabajÃ³ la semana pasada, Â¿tiene algÃºn empleo negocio o realiza alguna actividad por  su cuenta? (p1b)
 1 Si
 2 No 
 99 No se sabe

In [37]:
df_copy_20151['p1b'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [38]:
df_copy_20151['p1b'] = df_copy_20151['p1b'].astype('int64')
df_copy_20151.p1b.value_counts()

99    559057
2     458478
1      31040
Name: p1b, dtype: int64

## Pregunta 1c: Â¿CuÃ¡l CarÃ¡cter es la razÃ³n principal por la que ... no trabajÃ³ la semana pasada? (p1c)
01 Huelga o paro laboral 02 Paro tÃ©cnico 03 SuspensiÃ³n temporal de sus funciones (asalariado) 04 Asistencia a cursos de capacitaciÃ³n 05 Vacaciones 06 Permiso, enfermedad o arreglo de asuntos personales 07 Falta de vehÃ­culo o descompostura de maquinaria 08 Falta de materias primas,financiamiento o clientes 09 Mal tiempo o fenÃ³meno natural 10 TÃ©rmino de temporada de trabajo o cultivo 11 ComenzarÃ¡ un trabajo o negocio nuevo 12 Otra razÃ³n 99 No sabe

In [39]:
df_copy_20151['p1c'] = df_copy_20151['p1c'].astype('int64')
df_copy_20151.p1c.value_counts()

99    1017586
5        8769
6        8671
8        8006
10       2260
12       1209
9         916
11        466
7         365
3         199
4          65
2          40
1          23
Name: p1c, dtype: int64

## Pregunta 1d: Durante esre periodo de ausencia Â¿... recibe sueldo o ganancias? (p1d)

1 SÃ­
2 No
99 No sabe

In [40]:
df_copy_20151['p1d'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [41]:
df_copy_20151['p1d'] = df_copy_20151['p1d'].astype('int64')
df_copy_20151.p1d.value_counts()

99    1018328
2       20634
1        9488
9         125
Name: p1d, dtype: int64

In [42]:
df_copy_20151['p1d'].replace(to_replace=['9', '99'],value='99',inplace=True)

## Pregunta 1e: Â¿En Â¿cuÃ¡nto tiempo regresarÃ¡... a este semana ? mismi trabajo?(p1e)

1 Ya se reincorporÃ³ o regresara a trabajar esta 
2 En cuantro semanas o menos
3 En mÃ¡s de cuatro  semanas
4 No hay seguridad de que regrese a trabajar  o cuÃ¡ndo reinicie su actividad?
5 No regresarÃ¡
99 No sabe

In [43]:
df_copy_20151['p1e'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [44]:
df_copy_20151['p1e'] = df_copy_20151['p1e'].astype('int64')
df_copy_20151.p1e.value_counts()

99    1027816
2       10040
1        5153
3        2516
4        2401
9         630
5          19
Name: p1e, dtype: int64

In [45]:
df_copy_20151['p1e'].replace(to_replace=['9', '99'],value='99',inplace=True)

## OpciÃ³n 1: buscar trabajo en otro paÃ­s o hacer preparativos para cruzar la frontera ? (p2_1)

1 SÃ­ buscÃ³ trabajo aquÃ­ en el paÃ­s 
99 No sabe

In [46]:
df_copy_20151['p2_1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [47]:
df_copy_20151['p2_1'] = df_copy_20151['p2_1'].astype('int64')
df_copy_20151.p2_1.value_counts()

99    1048286
1         289
Name: p2_1, dtype: int64

## OpciÃ³n 2: buscar trabajo aquÃ­ en el paÃ­s (p2_2)

2 BuscÃ³ trabajo aquÃ­ en el paÃ­s
99 No sabe

In [48]:
df_copy_20151['p2_2'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [49]:
df_copy_20151['p2_2'] = df_copy_20151['p2_2'].astype('int64')
df_copy_20151.p2_2.value_counts()

99    1025791
2       22784
Name: p2_2, dtype: int64

## OpciÃ³n 3: poner un negocio o realizar una actividad por su cuenta sin poder todavÃ­a comenzar? (p2_3)

3 SÃ­ trato de poner un negocio o realizo una activida por su cuenta sin poder todavÃ­a comenzar?
99 No sabe

In [50]:
df_copy_20151['p2_3'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [51]:
df_copy_20151['p2_3'] = df_copy_20151['p2_3'].astype('int64')
df_copy_20151.p2_3.value_counts()

99    1048235
3         340
Name: p2_3, dtype: int64

## OpciÃ³n 4: Â¿no ha tratado de buscar tranajo ?(p2_4)
4 Entonces, Â¿no ha tratado de buscar trabajo? 99 No aplica

In [52]:
df_copy_20151['p2_4'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [53]:
df_copy_20151['p2_4'] = df_copy_20151['p2_4'].astype('int64')
df_copy_20151.p2_4.value_counts()

99    597411
4     451164
Name: p2_4, dtype: int64

## OpciÃ³n 9: No sabe (p2_9)
9 No sabe 99 aplica

In [54]:
df_copy_20151['p2_9'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [55]:
df_copy_20151['p2_9'] = df_copy_20151['p2_9'].astype('int64')
df_copy_20151.p2_9.value_counts()

99    1048539
9          36
Name: p2_9, dtype: int64

# Pregunta 2A: Â¿En quÃ© fecha comenzÃ³ â€¦ a buscar trabajo (o comenzÃ³ con los preparativos para poner el negocio)?

## DÃ­a en que comenzÃ³ (p2a_dia) 
1 -31 DÃ­a en quÃ© comenzÃ³ 
9 No se sabe

In [56]:
df_copy_20151['p2a_dia'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [57]:
df_copy_20151['p2a_dia'] = df_copy_20151['p2a_dia'].astype('int64')
df_copy_20151.p1c.value_counts()

99    1017586
5        8769
6        8671
8        8006
10       2260
12       1209
9         916
11        466
7         365
3         199
4          65
2          40
1          23
Name: p1c, dtype: int64

## Sema en que comenzÃ³ (p2a_sem)
1-4 Semana quÃ© comenzo 99 No sabe

In [58]:
df_copy_20151['p2a_sem'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [59]:
df_copy_20151['p2a_sem'] = df_copy_20151['p2a_sem'].astype('int64')
df_copy_20151.p2a_sem.value_counts()

99    1038781
1        4050
2        2152
4        1365
9        1268
3         959
Name: p2a_sem, dtype: int64

## Mes en que comenzÃ³ (p2a_mes) 
1 ComenzÃ³ en enero
2 ComenzÃ³ en febrero
03 ComenzÃ³ en marzo
04 ComenzÃ³ en abril
05 ComenzÃ³ en mayo
06 ComenzÃ³ en junio
07 ComenzÃ³ en julio
08 ComenzÃ³ en agosto
09 ComenzÃ³ en septiembre
10 ComenzÃ³ en octubre
11 ComenzÃ³ en noviembre
12 ComenzÃ³ en diciembre
99 No sabe

In [60]:
df_copy_20151['p2a_mes'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [61]:
df_copy_20151['p2a_mes'] = df_copy_20151['p2a_mes'].astype('int64')
df_copy_20151.p2a_mes.value_counts()

99    1025296
1        3438
6        2261
5        2241
7        2153
8        2100
3        2046
4        2009
2        2009
9        1450
12       1323
11       1188
10       1061
Name: p2a_mes, dtype: int64

## AÃ±o en que comenzÃ³ (p2a_anio)
1950- aÃ±o actual 9999 No sabe

In [62]:
df_copy_20151['p2a_anio'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [63]:
df_copy_20151['p2a_anio'] = df_copy_20151['p2a_anio'].astype('int64')
df_copy_20151.p2a_anio.value_counts()

99      1025225
2017      20049
2016       3016
2015        134
2014         46
2012         31
2013         17
2011         16
2007         13
2010          9
2009          8
2001          3
9999          3
2006          1
2004          1
2003          1
2000          1
2008          1
Name: p2a_anio, dtype: int64

# Pregunta 2B: Â¿En quÃ© fecha fue la Ãºltima vez que â€¦ buscÃ³ trabajo (o terminÃ³ con los preparativos para poner el negocio)?

# DÃ­a en que terminÃ³ (p2b_dia)
1-31 DÃ­a en que terminoo 99 No sabe

In [64]:
df_copy_20151['p2b_dia'] = df_copy_20151['p2b_dia'].astype('int64')
df_copy_20151.p2b_dia.value_counts()

99    1029997
10        985
15        949
20        940
3         708
6         663
28        640
17        630
7         626
30        623
8         619
5         611
24        608
1         599
13        590
4         587
16        583
2         582
9         565
18        562
22        552
21        538
12        537
27        537
25        536
14        530
26        508
11        487
23        477
19        438
29        413
31        355
Name: p2b_dia, dtype: int64

## Semana en que terminÃ³ (p2b_sem)
1-4 Semana en que termino 99 nose sabe

In [65]:
df_copy_20151['p2b_sem'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [66]:
df_copy_20151['p2b_sem'] = df_copy_20151['p2b_sem'].astype('int64')
df_copy_20151.p2b_sem.value_counts()

99    1043803
1        1461
4        1161
2        1040
3         675
9         435
Name: p2b_sem, dtype: int64

##  Mes en que terminÃ³(p2b_mes)  
01 TerminÃ³ en enero
02 TerminÃ³ en febrero
03 TerminÃ³ en marzo
04 TerminÃ³ en abril
05 TerminÃ³ en mayo
06 TerminÃ³ en junio
07 TerminÃ³ en julio
08 TerminÃ³ en agosto
09 TerminÃ³ en septiembre
10 TerminÃ³ en octubre
11 TerminÃ³ en noviembre
12 TerminÃ³ en diciembre
99 No sabe

In [67]:
df_copy_20151['p2b_mes'] = df_copy_20151['p2b_mes'].astype('int64')
df_copy_20151.p2b_mes.value_counts()

99    1025239
5        2417
1        2395
8        2351
6        2293
7        2270
3        2228
4        2081
2        2077
9        2033
10       1077
12       1071
11       1043
Name: p2b_mes, dtype: int64

## AÃ±o en que terminÃ³ (p2b_anio)

1950-aÃ±o actual AÃ±o en que terminÃ³
9999 No sabe

In [68]:
df_copy_20151['p2b_anio'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [69]:
df_copy_20151['p2b_anio'] = df_copy_20151['p2b_anio'].astype('int64')
df_copy_20151.p2b_anio.value_counts()

99      1025225
2017      22662
2016        669
2015         12
9999          4
2018          2
2011          1
Name: p2b_anio, dtype: int64

## Â¿En quÃ© fecha fue la Ãºltima vez que... buscÃ³ trabajo (o terminÃ³ conlos preparativos para poner el negocio)? (p2b)
 
1 Hasta 1 mes
2 MÃ¡s de  1 hasta 2 meses
3 Mas de 2 has 3 meses
4 MÃ¡s de 3 meses
99 No sabe

In [70]:
df_copy_20151['p2b'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [71]:
df_copy_20151['p2b'] = df_copy_20151['p2b'].astype('int64')
df_copy_20151.p2b.value_counts()

99    1025225
1       21820
2         933
4         300
3         285
9          12
Name: p2b, dtype: int64

##  Â¿... estaba dispuesto a trabajar la semana pasada?(p2c)
1 Si
2 No
99 No sabe

In [72]:
df_copy_20151['p2c'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [73]:
df_copy_20151['p2c'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [74]:
df_copy_20151['p2c'] = df_copy_20151['p2c'].astype('int64')
df_copy_20151.p2c.value_counts()

99    1025554
1       22754
2         267
Name: p2c, dtype: int64

# Pregunta 2D: Â¿AdÃ³nde acudiÃ³ o que hizoâ€¦para buscar empleo (o iniciar un negocio o actividad por su cuenta)?

## OpciÃ³n 1: acudiÃ³ directamente al lugar de trabajo (p2d1)
1 Si acudiÃ³ directamente al lugar de trabajo
99 No sabe

In [75]:
df_copy_20151['p2d1'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [76]:
df_copy_20151['p2d1'] = df_copy_20151['p2d1'].astype('int64')
df_copy_20151.p2d1.value_counts()

99    1032035
1       16540
Name: p2d1, dtype: int64

## OpciÃ³n 2: hizo trÃ¡mites en una agencia o bolsa de trabajo privada (p2d2)
2 Si hizo trÃ¡mites en una agencia o bolsa de trabajo privada
99 No sabe

In [77]:
df_copy_20151['p2d2'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [78]:
df_copy_20151['p2d2'] = df_copy_20151['p2d2'].astype('int64')
df_copy_20151.p2d2.value_counts()

99    1048323
2         252
Name: p2d2, dtype: int64

## OpciÃ³n 3: hizo trÃ¡mites en un servicio pÃºblico de colocaciÃ³n (p2d3)
3 SÃ­ hizo trÃ¡mites en un servicio pÃºblico de colocaciÃ³n
99 No se sabe

In [79]:
df_copy_20151['p2d3'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [80]:
df_copy_20151['p2d3'] = df_copy_20151['p2d3'].astype('int64')
df_copy_20151.p2d3.value_counts()

99    1048237
3         338
Name: p2d3, dtype: int64

## opciÃ³n 4: hizo trÃ¡mirtes en algÃºn programa de empleo temporal del gobierno(p2d4)

4 SÃ­ hizo trÃ¡mites en algÃºn programa de empleo temporal del gobierno
99 No se sabe

In [81]:
df_copy_20151['p2d4'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [82]:
df_copy_20151['p2d4'] = df_copy_20151['p2d4'].astype('int64')
df_copy_20151.p2d4.value_counts()

99    1048344
4         231
Name: p2d4, dtype: int64

## OpciÃ³n 5: hizo trÃ¡mites o realizo alguna actividad para iniciar un negocio por su cuenta (p2d5)
5 Si hizo trÃ¡mites o realizÃ³ alguna actividad para iniciar un negocio por su cuenta 
99 No sabe

In [83]:
df_copy_20151['p2d5'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [84]:
df_copy_20151['p2d5'] = df_copy_20151['p2d5'].astype('int64')
df_copy_20151.p2d5.value_counts()

99    1048358
5         217
Name: p2d5, dtype: int64

## OpciÃ³n 6: puso o contestÃ³ un anuncio en internet  (p2d6)

6 Si puso o contestÃ³ un anuncio en internet 
99 No sabe

In [85]:
df_copy_20151['p2d6'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [86]:
df_copy_20151['p2d6'] = df_copy_20151['p2d6'].astype('int64')
df_copy_20151.p2d6.value_counts()

99    1044506
6        4069
Name: p2d6, dtype: int64

## OpciÃ³n 7: puso o contestÃ³ un anuncio en algÃºn lugar pÃºblico o en medios de comunicaciÃ³n (periodico,radio)  (p2d7)
7 SÃ­ puso o contestÃ³ un anuncio en algÃºn lugar pÃºblico o en medios de comunicaciÃ³n (periÃ³do, radio)
99 No sabe

In [87]:
df_copy_20151['p2d7'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [88]:
df_copy_20151['p2d7'] = df_copy_20151['p2d7'].astype('int64')
df_copy_20151.p2d7.value_counts()

99    1047167
7        1408
Name: p2d7, dtype: int64

## OpciÃ³n 8: acudiÃ³ a un sindicato o gremio (p2d8)
8 Si acudiÃ³ a un sindicato o gremio 
99 No sabe

In [89]:
df_copy_20151['p2d8'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [90]:
df_copy_20151['p2d8'] = df_copy_20151['p2d8'].astype('int64')
df_copy_20151.p2d8.value_counts()

99    1048468
8         107
Name: p2d8, dtype: int64

## OpciÃ³n 9: pidiÃ³ a conocidfos que lo recomendaran o le avisaran o le avisaran de algun trabajo (p2d9)

9 SÃ­ pidio a conocidos o familiares que lo recomendaran o le avisaran de algÃºn trabajo 
99 No sabe

In [91]:
df_copy_20151['p2d9'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [92]:
df_copy_20151['p2d9'] = df_copy_20151['p2d9'].astype('int64')
df_copy_20151.p2d9.value_counts()

99    1045591
9        2984
Name: p2d9, dtype: int64

## OpciÃ³n 10: solo consulto el anuncio clasificado (p2d10)
10 Solo consultÃ³ el anuncio clasificado
99 No sabe

In [93]:
df_copy_20151['p2d10'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [94]:
df_copy_20151['p2d10'] = df_copy_20151['p2d10'].astype('int64')
df_copy_20151.p2d10.value_counts()

99    1048156
10        419
Name: p2d10, dtype: int64

## Otra actividad (p2d11)
11 Si realizo otra actividad
99 No sabe

In [95]:
df_copy_20151['p2d11'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [96]:
df_copy_20151['p2d11'] = df_copy_20151['p2d11'].astype('int64')
df_copy_20151.p2d11.value_counts()

99    1048518
11         57
Name: p2d11, dtype: int64

## No sabe(p2d99)
99 No sabe

In [97]:
df_copy_20151['p2d99'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [98]:
df_copy_20151['p2d99'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [99]:
df_copy_20151['p2d99'] = df_copy_20151['p2d99'].astype('int64')
df_copy_20151.p2d99.value_counts()

99    1048575
Name: p2d99, dtype: int64

## Pregunta 2e: Â¿..es (p2e)

1 Una persona temporalmente ausente de su actividad u oficio
2 pensionado o jubilado de su empleo?
3 estudiante?
4 una persona que se dedica a los quehaceres de su hogar?
5 una persona con alguna  limitaciÃ³n fÃ­sica o mental  que le impide trabajar por  el resto de su vida?
6 Otra condiciÃ³n
99No sabe

In [100]:
df_copy_20151['p2e'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [101]:
df_copy_20151['p2e'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [102]:
df_copy_20151['p2e'] = df_copy_20151['p2e'].astype('int64')
df_copy_20151.p2e.value_counts()

99    596852
4     207927
3     162644
2      39371
6      21291
1      14801
5       5689
Name: p2e, dtype: int64

## Actualmente,Â¿... tiene necesidad de trabajar?(p2f)
1 sÃ­ tiene necesidad de trabajar
2 Solo tiene deseos de trabajar
3 No tiene necesidad no deseos de trabajar
99 No sabe

In [103]:
df_copy_20151['p2f'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [104]:
df_copy_20151['p2f'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [105]:
df_copy_20151['p2f'] = df_copy_20151['p2f'].astype('int64')
df_copy_20151.p2f.value_counts()

99    617435
3     346299
1      72567
2      12274
Name: p2f, dtype: int64

## Hay alguna otra razon, ademÃ¡s de ser(menciona lo que contstaron en p2e) por la que ... no este buscando trabajo (p2g1)

1 SÃ­
2 No
99 No sabe

In [106]:
df_copy_20151['p2g1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [107]:
df_copy_20151['p2g1'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [108]:
df_copy_20151['p2g1'] = df_copy_20151['p2g1'].astype('int64')
df_copy_20151.p2g1.value_counts()

99    963698
2      49422
1      35455
Name: p2g1, dtype: int64

## **  Opciones de respuesta cuando p2g1= 1 (p2g2)
 
1 EstÃ¡ esperando la respuesta a una solicitud o estÃ¡ apaladrando con un patrÃ³n que lo llamarÃ¡ en fecha prÃ³xima
2 No hay trabajo en su especialidad, oficio o profesiÃ³n
3 No cuenta con la escolaridad, los papeles o la experiencia necesaria para realizar un trabajo
4 Piensa que por su edad o por su aspecto no lo aceptarÃ­an en un trabajo
5 En su localidad no hay trabajo o sÃ³lo se realiza en ciertas temporadas del aÃ±o
6 La inseguridad pÃºblica o el exceso de trÃ¡mites lo desalientan a iniciar una actividad
7 Espera recuperarse de una enfermedad o accidente
8 EstÃ¡ embarazada
9 No tiene quiÃ©n le cuide a sus hijos pequeÃ±os,ancianos o enfermos
10 No lo(a) deja un familiar
11 Otras razones de mercado
12 Otras razones personales
99 No sabe

In [109]:
df_copy_20151['p2g2'] = df_copy_20151['p2g2'].astype('int64')
df_copy_20151.p2g2.value_counts()

99    1013120
9       14660
4        6364
12       4191
7        3357
5        2534
10       2129
8         778
3         648
11        302
1         257
2         161
6          74
Name: p2g2, dtype: int64

# Pregunta 2H: Â¿â€¦ha trabajado alguna vez en su vida

## OpciÃ³n 1: una pago o salario?(p2h1)
1 por un pago o salario ?
99 No sabe

In [110]:
df_copy_20151['p2h1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [111]:
df_copy_20151['p2h1'] = df_copy_20151['p2h1'].astype('int64')
df_copy_20151.p2h1.value_counts()

99    844309
1     204266
Name: p2h1, dtype: int64

## OpciÃ³n 2: por su cuenta? (p2h2)
2 por su cuenta
99 No sabe

In [112]:
df_copy_20151['p2h2'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [113]:
df_copy_20151['p2h2'] = df_copy_20151['p2h2'].astype('int64')
df_copy_20151.p2h2.value_counts()

99    1021391
2       27184
Name: p2h2, dtype: int64

## OpciÃ³n 3: ayudando en el negocio o actividad econÃ³mica de alguna persona? (p2h3)
3 ayudando en el negocio o actividad econÃ³mica
99 no sabe

In [114]:
df_copy_20151['p2h3'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [115]:
df_copy_20151['p2h3'] = df_copy_20151['p2h3'].astype('int64')
df_copy_20151.p2h3.value_counts()

99    1041300
3        7275
Name: p2h3, dtype: int64

## OpciÃ³n 4: nunca ha trabajado (p2h4)

4 Nunca ha trabajado 
99 No aplica

In [116]:
df_copy_20151['p2h4'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [117]:
df_copy_20151['p2h4'] = df_copy_20151['p2h4'].astype('int64')
df_copy_20151.p2h4.value_counts()

99    814348
4     234227
Name: p2h4, dtype: int64

## OpciÃ³n 9: No sabe (p2h9)
99 No sabe

In [118]:
df_copy_20151['p2h9'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [119]:
df_copy_20151['p2h9'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [120]:
df_copy_20151['p2h9'] = df_copy_20151['p2h9'].astype('int64')
df_copy_20151.p2h9.value_counts()

99    1048575
Name: p2h9, dtype: int64

## * Si... tiene mÃ¡s de un trabajo, hablemos del principal Â¿Cuales son las tareas o funciones principales que.... desempeÃ±a en su trabajo?(p3)

In [121]:
df_copy_20151['p3'] = df_copy_20151['p3'].astype('int64')
df_copy_20151.p3.value_counts()

99      474551
4211     35042
4111     24224
9611     20651
7121     15909
9111     14270
9221     14061
8342     13965
6111     12826
3115     12150
9621     11233
8341     10434
5114      9615
5313      8897
3111      8379
9521      8343
7513      7885
2332      7323
3121      6955
9512      6796
5116      6465
9411      5870
3132      5808
2632      5764
9231      5509
4224      5389
2121      5026
8212      4986
5111      4770
2512      4635
         ...
1312        16
1112        16
4233        15
2421        15
2134        14
2639        14
5411        13
2151        12
5252        11
1619         9
2234         9
2991         9
6119         8
8349         8
8162         8
1525         8
2992         7
9322         7
9732         7
2391         6
6231         5
9733         5
1225         5
2649         4
1129         3
6129         2
2141         2
2339         2
2334         2
6999         1
Name: p3, Length: 466, dtype: int64

## Â¿En su trabajo... tiene un jefe(a) o superior? (p3a)
1 Si
2 No
99 No sabe

In [122]:
df_copy_20151['p3a'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [123]:
df_copy_20151['p3a'] = df_copy_20151['p3a'].astype('int64')
df_copy_20151.p3a.value_counts()

99    474551
1     432581
2     141443
Name: p3a, dtype: int64

## Entonces, Â¿... se dedica a un negocio o activida por su cuenta?(p3b)

1 SÃ­
2 No
99 No sabe

In [124]:
df_copy_20151['p3b'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [125]:
df_copy_20151['p3b'] = df_copy_20151['p3b'].astype('int64')
df_copy_20151.p3b.value_counts()

99    907132
1     140331
2       1112
Name: p3b, dtype: int64

#  Pregunta 3C: Â¿â€¦ofrece sus productos o servicios

## OpciÃ³n 1: a una sola empresa, negocio o intermediario ?(p3c1)

1 a una sola empresa, negocio o intermediario?
99 No sabe

In [126]:
df_copy_20151['p3c1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [127]:
df_copy_20151['p3c1'] = df_copy_20151['p3c1'].astype('int64')
df_copy_20151.p3c1.value_counts()

99    1044577
1        3998
Name: p3c1, dtype: int64

## OpciÃ³n 2: a varios negocios, empresas o intermediarios? (p3c2)
2 a varios negocios, empresas o intermediarios?
99 No sabe

In [128]:
df_copy_20151['p3c2'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [129]:
df_copy_20151['p3c2'] = df_copy_20151['p3c2'].astype('int64')
df_copy_20151.p3c2.value_counts()

99    1038236
2       10339
Name: p3c2, dtype: int64

## OpciÃ³n 3: directamente al pÃºblico? (p3c3)

3 directamente al pÃºblico?
99 No aplica

In [130]:
df_copy_20151['p3c3'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [131]:
df_copy_20151['p3c3'] = df_copy_20151['p3c3'].astype('int64')
df_copy_20151.p3c3.value_counts()

99    923714
3     124861
Name: p3c3, dtype: int64

## OpciÃ³n 4: autoconsumo gropecuario (p3c4)

4 Es autoconsumo agropecuario
99 No sabe

In [132]:
df_copy_20151['p3c4'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [133]:
df_copy_20151['p3c4'] = df_copy_20151['p3c4'].astype('int64')
df_copy_20151.p3c4.value_counts()

99    1040323
4        8252
Name: p3c4, dtype: int64

## No sabe (p3c9)
99 No sabe

In [134]:
df_copy_20151['p3c9'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [135]:
df_copy_20151['p3c9'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [136]:
df_copy_20151['p3c9'] = df_copy_20151['p3c9'].astype('int64')
df_copy_20151.p3c9.value_counts()

99    1048575
Name: p3c9, dtype: int64

## Â¿... tiene empleados o le ayudan personas en su negocio o actividad?(p3d)

1 SÃ­
2 No
99 No sabe

In [137]:
df_copy_20151['p3d'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [138]:
df_copy_20151['p3d'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [139]:
df_copy_20151['p3d'] = df_copy_20151['p3d'].astype('int64')
df_copy_20151.p3d.value_counts()

99    908274
2      90737
1      49564
Name: p3d, dtype: int64

## Â¿...Tiene (p3e)

1 no solo tipo de negocio (o actividad)?
2 varios tipos de negocios?
99 no sabe

In [140]:
df_copy_20151['p3e'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [141]:
df_copy_20151['p3e'] = df_copy_20151['p3e'].astype('int64')
df_copy_20151.p3e.value_counts()

99    999011
1      49339
2        225
Name: p3e, dtype: int64

## Â¿CuÃ¡ntos puestos o establecimientos (o en su caso vehÃ­culos) forman este negocio o empresa?(p3f1)
1 Â¿Uno solo?
2 Â¿MÃ¡s de uno?
3 No tiene establecimiento (o vehÃ­culo)
99 No sabe

In [142]:
df_copy_20151['p3f1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [143]:
df_copy_20151['p3f1'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [144]:
df_copy_20151['p3f1'] = df_copy_20151['p3f1'].astype('int64')
df_copy_20151.p3f1.value_counts()

99    999035
1      44204
3       4563
2        773
Name: p3f1, dtype: int64

## Â¿CuÃ¡ntos puestos o establecimientos (o en su caso vehÃ­culos) forman este negocio o empresa?(p3f2)

2-98 Cantidad de puestos o vehÃ­culos
99 No sabe

In [145]:
df_copy_20151['p3f2'] = df_copy_20151['p3f2'].astype('int64')
df_copy_20151.p3f2.value_counts()

99    1047809
2         490
3         135
4          55
5          28
6          13
10         12
20          7
7           7
11          4
1           3
9           2
24          2
80          1
12          1
8           1
15          1
17          1
28          1
30          1
50          1
Name: p3f2, dtype: int64

# Pregunta 3G: De las personas que ocupa o le ayudan aâ€¦,Â¿cuÃ¡ntos son

## OpciÃ³n 1:  trabajadores que reciben un pago?(p3g1_1)
1 trabajadores que reciben un pago?
99 No sabe

In [146]:
df_copy_20151['p3g1_1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [147]:
df_copy_20151['p3g1_1'] = df_copy_20151['p3g1_1'].astype('int64')
df_copy_20151.p3g1_1.value_counts()

99    1021504
1       27071
Name: p3g1_1, dtype: int64

## NÃºmero de trabajadores (p3g1_2)
1-998 NÃºmero de trabajadores
999 No sabe nÃºmero de trabajadores

In [148]:
df_copy_20151['p3g1_2'] = df_copy_20151['p3g1_2'].astype('int64')
df_copy_20151.p3g1_2.value_counts()

99     1021507
1        13143
2         6060
3         2499
4         1448
5          994
6          589
10         505
8          293
7          246
20         190
999        189
15         162
12         113
9          109
30          77
50          46
25          44
40          36
11          34
18          28
16          27
14          25
100         21
13          20
60          18
17          15
22          13
24          13
35          10
        ...
65           3
200          3
29           2
38           2
150          2
55           2
110          2
600          2
32           1
220          1
166          1
800          1
230          1
250          1
650          1
325          1
140          1
115          1
123          1
119          1
31           1
102          1
98           1
90           1
75           1
67           1
63           1
52           1
37           1
42           1
Name: p3g1_2, Length: 75, dtype: int64

## OpciÃ³n 2: socios? (p3g2_1) 
2 socios?
99 No sabe

In [149]:
df_copy_20151['p3g2_1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [150]:
df_copy_20151['p3g2_1'] = df_copy_20151['p3g2_1'].astype('int64')
df_copy_20151.p3g2_1.value_counts()

99    1040191
2        8384
Name: p3g2_1, dtype: int64

## NÃºmero de trabajadores  (p3g2_2)
1 - 998 Cantidad en opcion 1 de pregunta 3g
999 No sabe que nÃºmero de trabajadores

In [151]:
df_copy_20151['p3g2_2'] = df_copy_20151['p3g2_2'].astype('int64')
df_copy_20151.p3g2_2.value_counts()

99     1040191
1         6371
2         1040
3          427
4          208
5          101
6           42
7           24
10          23
8           23
999         15
9           13
14           9
20           8
11           8
12           7
80           6
15           6
16           5
150          4
30           4
13           4
40           3
29           3
74           2
17           2
73           2
25           2
24           2
27           2
72           2
19           1
120          1
210          1
200          1
157          1
140          1
137          1
45           1
55           1
22           1
34           1
32           1
28           1
290          1
23           1
18           1
Name: p3g2_2, dtype: int64

## OpciÃ³n 3: trabajadores sin pago? (p3g3_1)
3 trabajadores sin pago?
99 No sabe

In [152]:
df_copy_20151['p3g3_1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [153]:
df_copy_20151['p3g3_1'] = df_copy_20151['p3g3_1'].astype('int64')
df_copy_20151.p3g3_1.value_counts()

99    1029196
3       19379
Name: p3g3_1, dtype: int64

## * NÃºmero de trabajadores (p3g3_2)
1-998 Cantidad en opciÃ³n 3 de pregunta 3g 
999 No sabe nÃºmero de trabajadores

In [154]:
df_copy_20151['p3g3_2'] = df_copy_20151['p3g3_2'].astype('int64')
df_copy_20151.p3g3_2.value_counts()

99     1029196
1        14379
2         3513
3         1050
4          298
5           83
6           25
7           17
8            4
999          3
25           2
9            2
100          1
50           1
10           1
Name: p3g3_2, dtype: int64

## *OpciÃ³n 4: no sabe quÃ© tipo de trabajadores son (p3g4_1)
4 No sabe que tipo de trabajadores son

In [155]:
df_copy_20151['p3g4_1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [156]:
df_copy_20151['p3g4_1'] = df_copy_20151['p3g4_1'].astype('int64')
df_copy_20151.p3g4_1.value_counts()

99    1048569
4           6
Name: p3g4_1, dtype: int64

## NÃºmero de trabajadores(p3g4_2)
1-998 Cantidad en opciÃ³n 4 de pregunta 3g
999 No sabe

In [157]:
df_copy_20151['p3g4_2'] = df_copy_20151['p3g4_2'].astype('int64')
df_copy_20151.p3g4_2.value_counts()

99     1048569
999          2
2            2
3            1
1            1
Name: p3g4_2, dtype: int64

## OpciÃ³n 9: no sabe (p3g9)
99 No sabe

In [158]:
df_copy_20151['p3g9'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [159]:
df_copy_20151['p3g9'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [160]:
df_copy_20151['p3g9'] = df_copy_20151['p3g9'].astype('int64')
df_copy_20151.p3g9.value_counts()

99    1048575
Name: p3g9, dtype: int64

## Sumatoria de nÃºmero de trabajadores (p3g_tot)
1-998 Sumatoria de nÃºmero de trabajadores
999  No sabe

In [161]:
df_copy_20151['p3g_tot'] = df_copy_20151['p3g_tot'].astype('int64')
df_copy_20151.p3g_tot.value_counts()

99     999156
1       27450
2       10482
3        4447
4        2236
5        1271
6         791
10        458
7         365
8         342
999       202
9         153
20        152
15        138
11        121
12        111
30         59
13         56
16         52
14         48
21         38
25         37
18         32
17         28
50         27
40         23
22         21
100        17
26         16
31         12
        ...
325         1
295         1
203         1
220         1
224         1
231         1
302         1
504         1
123         1
122         1
58          1
56          1
66          1
53          1
67          1
71          1
48          1
44          1
43          1
76          1
38          1
37          1
84          1
90          1
604         1
605         1
117         1
63          1
121         1
508         1
Name: p3g_tot, Length: 110, dtype: int64

## Â¿En este trabajo ...  (p3h)
1 recibe un pago?
2 es un trabajador no  familiar sin pago?
3 es un trabajador familiar  sin pago?
99 No sabe

In [162]:
df_copy_20151['p3h'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [163]:
df_copy_20151['p3h'] = df_copy_20151['p3h'].astype('int64')
df_copy_20151.p3h.value_counts()

99    614882
1     409512
3      22479
2       1702
Name: p3h, dtype: int64

## Â¿En su empleo... Pertenece a algÃºn sindicato? (p3i)

1 Si
2 No 
99 No sabe

In [164]:
df_copy_20151['p3i'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [165]:
df_copy_20151['p3i'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [166]:
df_copy_20151['p3i'] = df_copy_20151['p3i'].astype('int64')
df_copy_20151.p3i.value_counts()

99    644689
2     216068
1     187818
Name: p3i, dtype: int64

##  Â¿En su empleo... cuenta con un contrato por escrito?(p3j) 
1 Si
2 No
99 No sabe

In [167]:
df_copy_20151['p3j'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [168]:
df_copy_20151['p3j'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [169]:
df_copy_20151['p3j'] = df_copy_20151['p3j'].astype('int64')
df_copy_20151.p3j.value_counts()

99    931870
1      65578
2      51127
Name: p3j, dtype: int64

## Â¿El contrato de .... es ?(p3k1)
1 temporal o por obra determinada?
2 de base, planta o por tienpo indefinido ?
99 No sabe

In [170]:
df_copy_20151['p3k1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [171]:
df_copy_20151['p3k1'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [172]:
df_copy_20151['p3k1'] = df_copy_20151['p3k1'].astype('int64')
df_copy_20151.p3k1.value_counts()

99    983418
2      53961
1      11196
Name: p3k1, dtype: int64

## Desglose de contrato temporal(p3k2)

1 menos de dos meses de dos a seis meses
3 mÃ¡s de seis meses hasta  un aÃ±o
4 hasta el tÃ©rmino de la obra
99 No sabe

In [173]:
df_copy_20151['p3k2'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [174]:
df_copy_20151['p3k2'] = df_copy_20151['p3k2'].astype('int64')
df_copy_20151.p3k2.value_counts()

99    1037379
2        4426
3        3268
4        2035
1        1467
Name: p3k2, dtype: int64

 # Pregunta 3L: En este trabajo, Â¿a ... le dan

## OpciÃ³n 1: aguinaldo ? (p3l1)
1 Aguinaldo?
99 No sabe

In [175]:
df_copy_20151['p3l1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [176]:
df_copy_20151['p3l1'] = df_copy_20151['p3l1'].astype('int64')
df_copy_20151.p3l1.value_counts()

99    971973
1      76602
Name: p3l1, dtype: int64

## OpciÃ³n 2: vacaciones con goce de sueldo ? (p3l2)
2 vacaciones con goce de sueldo?
99 No sabe

In [177]:
df_copy_20151['p3l2'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [178]:
df_copy_20151['p3l2'] = df_copy_20151['p3l2'].astype('int64')
df_copy_20151.p3l2.value_counts()

99    981918
2      66657
Name: p3l2, dtype: int64

## OpciÃ³n 3: reparto de utilidades?(p3l3)
3 reparto de utilidades?
99 no sabe

In [179]:
df_copy_20151['p3l3'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [180]:
df_copy_20151['p3l3'] = df_copy_20151['p3l3'].astype('int64')
df_copy_20151.p3l3.value_counts()

99    1026614
3       21961
Name: p3l3, dtype: int64

## OpciÃ³n 4: ninguna de las anteriores (p3l4)
4 Ninguna de las anteriores
99 No sabe

In [181]:
df_copy_20151['p3l4'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [182]:
df_copy_20151['p3l4'] = df_copy_20151['p3l4'].astype('int64')
df_copy_20151.p3l4.value_counts()

99    1046564
4        2011
Name: p3l4, dtype: int64

## OpciÃ³n 5: no le dan nada (p3l5)
5 No le dad nada
99 No sabe

In [183]:
df_copy_20151['p3l5'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [184]:
df_copy_20151['p3l5'] = df_copy_20151['p3l5'].astype('int64')
df_copy_20151.p3l5.value_counts()

99    1010336
5       38239
Name: p3l5, dtype: int64

## OpciÃ³n 9: nos sabe(p3l9)
99 No sabe

In [185]:
df_copy_20151['p3l9'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [186]:
df_copy_20151['p3l9'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [187]:
df_copy_20151['p3l9'] = df_copy_20151['p3l9'].astype('int64')
df_copy_20151.p3l9.value_counts()

99    1048575
Name: p3l9, dtype: int64

# Pregunta 3M: En este trabajo, aâ€¦le dan, aunque no utilice,

## OpciÃ³n 1: crÃ©dito para vivienda (infonavit, fovissste)(p3m1)
1 crÃ©dito para vivienda (Infonavit,Fovissste)?
99 No sabe

In [188]:
df_copy_20151['p3m1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [189]:
df_copy_20151['p3m1'] = df_copy_20151['p3m1'].astype('int64')
df_copy_20151.p3m1.value_counts()

99    990241
1      58334
Name: p3m1, dtype: int64

## OpciÃ³n 2: guarderÃ­a? (p3m2)
2 guarderÃ­a?
99 No sabe

In [190]:
df_copy_20151['p3m2'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [191]:
df_copy_20151['p3m2'] = df_copy_20151['p3m2'].astype('int64')
df_copy_20151.p3m2.value_counts()

99    1031721
2       16854
Name: p3m2, dtype: int64

## tiempo para cuidados maternos o paternos ?(p3m3)
3 tiempo para cuidados maternos o paternos?
99 No se sabe

In [192]:
df_copy_20151['p3m3'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [193]:
df_copy_20151['p3m3'] = df_copy_20151['p3m3'].astype('int64')
df_copy_20151.p3m3.value_counts()

99    1032632
3       15943
Name: p3m3, dtype: int64

## OpciÃ³n 4: fondo de retiro (SAR o Afore)(p3m4)
4 fondo de retiro (SAR o Afore)?
99 No sabe

In [194]:
df_copy_20151['p3m4'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [195]:
df_copy_20151['p3m4'] = df_copy_20151['p3m4'].astype('int64')
df_copy_20151.p3m4.value_counts()

99    990070
4      58505
Name: p3m4, dtype: int64

## OpciÃ³n 5: seguro de vida? (p3m5)
5 seguro de vida?
99 No sabe

In [196]:
df_copy_20151['p3m5'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [197]:
df_copy_20151['p3m5'] = df_copy_20151['p3m5'].astype('int64')
df_copy_20151.p3m5.value_counts()

99    1023520
5       25055
Name: p3m5, dtype: int64

## OpciÃ³n 6: seguro privado para gastos mÃ©dicos ?(p3m6)
6 seguro privado para gastos mÃ©dicos?
99 No sabe

In [198]:
df_copy_20151['p3m6'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [199]:
df_copy_20151['p3m6'] = df_copy_20151['p3m6'].astype('int64')
df_copy_20151.p3m6.value_counts()

99    1044336
6        4239
Name: p3m6, dtype: int64

## OpciÃ³n 7: prÃ©stamos personales y/o caja de ahorro? (p3m7)
7 prÃ©stamos personales y/o caja de ahorro?
99 No sabe

In [200]:
df_copy_20151['p3m7'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [201]:
df_copy_20151['p3m7'] = df_copy_20151['p3m7'].astype('int64')
df_copy_20151.p3m7.value_counts()

99    1015939
7       32636
Name: p3m7, dtype: int64

## OpciÃ³n 8: ninguna de las anteriores (p3m8)
8 Ninguna de las anteriores
99 No sabe

In [202]:
df_copy_20151['p3m8'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [203]:
df_copy_20151['p3m8'] = df_copy_20151['p3m8'].astype('int64')
df_copy_20151.p3m8.value_counts()

99    1034801
8       13774
Name: p3m8, dtype: int64

## OpciÃ³n 9: no sabe(p3m9)
99 No sabe

In [204]:
df_copy_20151['p3m9'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [205]:
df_copy_20151['p3m9'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [206]:
df_copy_20151['p3m9'] = df_copy_20151['p3m9'].astype('int64')
df_copy_20151.p3m9.value_counts()

99    1048575
Name: p3m9, dtype: int64

## Â¿CÃ³mo se enterÃ³... de este empleo ? (p3n)
1 AcudiÃ³ directamente al lugar de trabajo(fÃ¡brica, tienda,taller)
2 AcudiÃ³ a una agencia o bolsa de trabajo privada
3 AcudiÃ³ a un servicio pÃºblico de colocaciÃ³n
4 Por medio de un programa de empleo temporal del gobierno (federal, estatal y/o municipal)
5 AcudiÃ³ a un sindicato o gremio
6 Por internet
7 Por medio de un anuncio en un lugar pÃºblico o en  medios de comunicaciÃ³n (periÃ³dico, radio)
8 Por medio de un familiar, amigo o conocido
9 Le ofrecieron el empleo
10 Otro medio
99 No sabe

In [207]:
df_copy_20151['p3n'] = df_copy_20151['p3n'].astype('int64')
df_copy_20151.p3n.value_counts()

99    932983
8      64205
1      21914
9      12752
7      10846
6       3080
5       1292
10       761
2        302
3        224
4        216
Name: p3n, dtype: int64

## Para conseguir o conservar este trabajo, Â¿... se vio obligado a cambiar de ciudad o localidad? (p3o)
1 SÃ­
2 No
99 No sabe

In [208]:
df_copy_20151['p3o'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [209]:
df_copy_20151['p3o'] = df_copy_20151['p3o'].astype('int64')
df_copy_20151.p3o.value_counts()

99    930327
2     115735
1       2513
Name: p3o, dtype: int64

## Antes de este cambio, Â¿en quÃ© estado de la RepÃºblica o paÃ­s vivÃ­a...?(p3p1)
1 En el mismo estado
2 En otro estado
3 En otro paÃ­s
99 No sabe

In [210]:
df_copy_20151['p3p1'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [211]:
df_copy_20151['p3p1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [212]:
df_copy_20151['p3p1'] = df_copy_20151['p3p1'].astype('int64')
df_copy_20151.p3p1.value_counts()

99    1046065
2        1273
1        1183
3          54
Name: p3p1, dtype: int64

## * Clave asignada a la descripciÃ³n del lugar de residencia (p3p2)

In [213]:
df_copy_20151['p3p2'] = df_copy_20151['p3p2'].astype('int64')
df_copy_20151.p3p2.value_counts()

99     1046062
30         196
9          149
20         129
32         121
14         117
27         111
3          106
25         105
26         102
23          96
15          89
28          88
7           87
10          86
18          78
24          78
5           76
31          72
21          66
12          64
16          59
19          58
13          50
11          50
4           47
8           36
2           28
221         27
29          25
6           25
22          21
17          20
1           19
200         13
300         10
225          3
400          3
33           2
600          1
Name: p3p2, dtype: int64

## Â¿Aprosimadamente, cuantas personas, incluyendo al dueÃ±o, laboran donde trabaja...?(p3q)
1  1 persona
2  2 a 5 personas
3  6 a 10 personas
4  11 a 15 personas
5 16 a 20 personas
6 21 a 30 personas
7 31 a 50 personas
8 51 a 100 personas
9 101 a 250 personas
0 251 a 500 personas
11 501 y mÃ¡s personas
99 No sabe

In [214]:
df_copy_20151['p3q'] = df_copy_20151['p3q'].astype('int')
df_copy_20151.p3q.value_counts()

99    931822
2      37039
11     18989
3      12069
8       8171
9       7097
7       6450
5       5916
4       5864
6       5668
1       4914
10      4576
Name: p3q, dtype: int64

## * Â¿En que aÃ±o... entro a trabajar por primera para su actual empresa, instituciÃ³n o patrÃ³n (subordinados) comenzÃ³ o se hizo cargo de su actual  negocio (o  actividad) [independientes]  (p3r_anio)

1900-aÃ±o actual AÃ±o en pregunta 3r
9999 No sabe

In [215]:
df_copy_20151['p3r_anio'].replace(to_replace=['0','9999'],value='9999',inplace=True)

In [216]:
df_copy_20151['p3r_anio'] = df_copy_20151['p3r_anio'].astype('int64')
df_copy_20151.p3r_anio.value_counts()

99      881542
2016     29049
2015     17548
2014     14142
2013     10699
2017     10344
2012      9221
2010      7806
2011      6553
2006      5325
2007      5130
2000      4942
2008      4120
2009      3892
2002      3153
1996      2891
1997      2883
2001      2693
2005      2490
1990      1958
2004      1904
2003      1552
1998      1411
1987      1403
1999      1340
1992      1326
1986      1325
1995      1304
1991      1099
1994       864
         ...
1973        99
1971        98
1968        82
1965        79
1969        60
1957        41
1962        40
1963        36
1964        29
1956        28
1958        26
1955        24
1950        23
1959        21
1961        20
1953        12
1954        11
1948         8
1946         7
1945         6
1951         6
1952         5
1942         3
1949         2
1940         2
1937         2
1947         1
1944         1
1943         1
1941         1
Name: p3r_anio, Length: 81, dtype: int64

## mes (p3r_mes)
1 Enero
2 Febrero
3 Marzo
4 Abril
5 Mayo
6 Junio
7 Julio
8 Agosto
9 Septiembre
10 Octubre
11 Noviembre
12 Diciembre
99 No sabe mes que iniciÃ³
 trabajo

In [217]:
df_copy_20151['p3r_mes'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [218]:
df_copy_20151['p3r_mes'] = df_copy_20151['p3r_mes'].astype('int64')
df_copy_20151.p3r_mes.value_counts()

99    1009594
1        9943
2        4913
12       3313
11       3214
8        3174
10       2924
9        2774
3        2391
6        2290
7        1752
5        1232
4        1061
Name: p3r_mes, dtype: int64

## AÃ±o(p3r)
1 El aÃ±o en curso
2 El aÃ±o pasado
3 Antes del aÃ±o pasado
99 No sabe

In [219]:
df_copy_20151['p3r'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [220]:
df_copy_20151['p3r'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [221]:
df_copy_20151['p3r'] = df_copy_20151['p3r'].astype('int64')
df_copy_20151.p3r.value_counts()

99    882298
3     126884
2      29049
1      10344
Name: p3r, dtype: int64

##  Â¿Desde entonces... ha trabajado todos los aÃ±os para su actual empresa,  instituciÃ³n o patrÃ³n  (subordinados) ha  trabajado en todos  estos aÃ±os en su  actual negocio (o  actividad)  [Independientes] (p3s)
1 SÃ­ 
2 No
99 No sabe

In [222]:
df_copy_20151['p3s'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [223]:
df_copy_20151['p3s'] = df_copy_20151['p3s'].astype('int64')
df_copy_20151.p3s.value_counts()

99    921691
1     125681
2       1180
9         23
Name: p3s, dtype: int64

##  Â¿En quÃ© aÃ±o â€¦ regresÃ³ a trabajar  (subordinados)  reiniciÃ³ su actual  negocio (o actividad) [independientes] (p3t_anio)
1900-aÃ±o actual AÃ±o en pregunta 3t
9999 No sabe

In [224]:
df_copy_20151['p3t_anio'].replace(to_replace=[' ', '9999'],value='9999',inplace=True)

In [225]:
df_copy_20151['p3t_anio'] = df_copy_20151['p3t_anio'].astype('int64')
df_copy_20151.p3t_anio.value_counts()

99      1047394
2016        424
2017        177
2015        107
2014         94
2013         61
2012         47
2010         36
2011         31
2007         28
2009         25
2008         16
2006         14
2001         13
2003         12
2005         11
2002         10
2004          9
1998          8
2000          8
9999          7
1999          6
1990          4
1997          4
1996          4
1992          3
1987          3
1995          3
1991          2
1989          2
1984          2
1983          2
1986          2
1993          1
1985          1
1980          1
1975          1
1974          1
1961          1
Name: p3t_anio, dtype: int64

## Mes (p3t_mes)
1 Enero
2 Febrero
3 Marzo
4 Abril
5 Mayo
6 Junio
7 Julio
8 Agosto
9 Septiembre
10 Octubre
11 Noviembre
12 Diciembre
99 No sabe

In [226]:
df_copy_20151['p3t_mes'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [227]:
df_copy_20151['p3t_mes'] = df_copy_20151['p3t_mes'].astype('int64')
df_copy_20151.p3t_mes.value_counts()

99    1047980
1         150
12         82
11         65
2          60
10         49
8          37
9          36
3          32
7          26
5          24
6          23
4          11
Name: p3t_mes, dtype: int64

## Â¿CuÃ¡l es el nombre de la empresa, negocio o instituciÃ³n para la que ... trabaja o ayuda?(p4)
1 Nombre de la empresa
2 El negocio no tiene nombre
3 El trabajador (subordinado) de una  unidad domÃ©stica o trabajador de otro trabajador (a) trabajador(a)
4 Es un(a) trabajador(a) en el extranjero
99 No sabe

In [228]:
df_copy_20151['p4'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [229]:
df_copy_20151['p4'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [230]:
df_copy_20151['p4'] = df_copy_20151['p4'].astype('int64')
df_copy_20151.p4.value_counts()

99    881642
1     103316
2      55309
3       7948
4        360
Name: p4, dtype: int64

## *Campo exclusivo del sistema (p4_1)
1-2, blanco Campo exlusivo del sistema

In [231]:
df_copy_20151['p4_1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [232]:
df_copy_20151['p4_1'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [233]:
df_copy_20151['p4_1'] = df_copy_20151['p4_1'].astype('int64')
df_copy_20151.p4_1.value_counts()

99    1023843
1       19987
2        4745
Name: p4_1, dtype: int64

## Campo exclusivo del sistema (p4_2)
1-9, blanco Campo exclusivo del sistema

In [234]:
df_copy_20151['p4_2'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [235]:
df_copy_20151['p4_2'] = df_copy_20151['p4_2'].astype('int64')
df_copy_20151.p4_2.value_counts()

99    1023840
3        9911
5        4432
6        2994
1        2881
4        2311
2        2045
7         144
9           9
8           8
Name: p4_2, dtype: int64

## Campo exclusivo del sistema (p4_3)
1-2, blanco Campo exclusivo del sistema

In [236]:
df_copy_20151['p4_3'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [237]:
df_copy_20151['p4_3'] = df_copy_20151['p4_3'].astype('int64')
df_copy_20151.p4_3.value_counts()

99    1000419
2       47624
1         532
Name: p4_3, dtype: int64

## * Â¿A quÃ© se dedica esta empresa, negocio o instituciÃ³n?(p4a)

In [238]:
df_copy_20151['p4a'] = df_copy_20151['p4a'].astype('int64')
df_copy_20151.p4a.value_counts()

99      881542
1110     11992
7221     10513
4611      7997
8140      7580
2382      6166
6112      5777
3110      5625
2361      5542
4850      4325
3360      4249
9313      3975
5411      3754
8111      3488
4620      3338
9314      2709
4631      2578
8121      2542
6222      2517
4681      2316
9312      2154
3320      2106
1121      2071
3150      2013
4661      1993
8112      1959
4310      1909
4651      1874
7210      1754
4340      1737
         ...
6241        32
6232        31
7132        29
4882        28
3399        26
5223        26
2131        26
2222        18
8125        16
5180        13
4699         9
6150         9
4399         8
4860         4
9320         4
6121         4
5330         3
6199         3
8124         3
1142         3
9399         2
5612         2
7133         2
5210         2
7115         2
5299         1
2199         1
9319         1
6149         1
6229         1
Name: p4a, Length: 165, dtype: int64

## (p4a_1)

In [239]:
df_copy_20151['p4a_1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [240]:
df_copy_20151['p4a_1'] = df_copy_20151['p4a_1'].astype('int64')
df_copy_20151.p4a_1.value_counts()

99    881542
1     167016
2         17
Name: p4a_1, dtype: int64

## ** SÃ“LO PARA EL  ENTREVISTADOR( p4b)

1 Es una actividad  agropecuaria
 2 Es una instituciÃ³n educativa u hospital
 3 Es una instituciÃ³n pÃºblica o una sin fines de lucro
 4 Se trata de una actividad o negocio del sector privado
 5 AÃºn no se puede  determinar

In [241]:
df_copy_20151['p4b'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [242]:
df_copy_20151['p4b'] = df_copy_20151['p4b'].astype('int64')
df_copy_20151.p4b.value_counts()

99    889850
4     119985
1      14063
3      12431
2      12234
5         12
Name: p4b, dtype: int64

## Entonces ,Â¿estamos hablando de que este negocio es ?(p4c)
1 de tipo independiente personal o familiar?
2 una compaÃ±Ã­a o empresa del sector privado (sociedad mercantil:anÃ³nima o bajo otra modalidad; transnacional, cadena comercial,bancaria o de servicios)?
 3 Ninguno de los anteriores
 99 No sabe

In [243]:
df_copy_20151['p4c'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [244]:
df_copy_20151['p4c'] = df_copy_20151['p4c'].astype('int64')
df_copy_20151.p4c.value_counts()

99    928578
1      75405
2      44579
3         13
Name: p4c, dtype: int64

##  Entonces,Â¿... trabaja para (p4d1)
1 una instituciÃ³n de gobierno?
2 una instituciÃ³n no administrada por el gobierno?
99 No sabe

In [245]:
df_copy_20151['p4d1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [246]:
df_copy_20151['p4d1'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [247]:
df_copy_20151['p4d1'] = df_copy_20151['p4d1'].astype('int64')
df_copy_20151.p4d1.value_counts()

99    1023906
1       19957
2        4712
Name: p4d1, dtype: int64

## Opciones de respuestas cuando p4d1=2(p4d2)
1 InstituciÃ³n educativa u hospital particular
2 Una instituciÃ³n autÃ³noma
 y pÃºblica de estudios de
 nivel medio superior o
 superior (UNAM, UAM,
 UACH, universidades
 autÃ³nomas estatales)
3 â€œOrganismo autÃ³nomo
 (IFE, Institutos Estatales
 Electorales, Comisiones
 Nacionales o Estatales de
 Derechos Humanos)â€
4 â€œIglesia, asociaciÃ³n
 profesional, cÃ¡mara
 o sindicatoâ€
5 â€œAsociaciÃ³n civil no
clasificada en las opciones
 anterioresâ€
6 Organismo internacional
 Partido polÃ­tico
8 Ninguna de las anteriores
99 No sabe

In [248]:
df_copy_20151['p4d2'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [249]:
df_copy_20151['p4d2'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [250]:
df_copy_20151['p4d2'] = df_copy_20151['p4d2'].astype('int64')
df_copy_20151.p4d2.value_counts()

99    1023908
3        9995
5        4373
6        2987
1        2873
4        2259
2        2021
7         157
8           2
Name: p4d2, dtype: int64

## Campo explusivo el sistema(p4d3)
1-3, blanco Campo exclusivo del sistema

In [251]:
df_copy_20151['p4d3'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [252]:
df_copy_20151['p4d3'] = df_copy_20151['p4d3'].astype('int64')
df_copy_20151.p4d3.value_counts()

99    979354
3      50336
2      17979
1        906
Name: p4d3, dtype: int64

## Â¿El negocio o actividad(p4e)
1 cuenta con establecimientp y oficina
2 solo tiene oficina o
 despacho?
3 solo tiene local?
4 no tiene local, oficina o
 establecimiento?
99 No sabe

In [253]:
df_copy_20151['p4e'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [254]:
df_copy_20151['p4e'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [255]:
df_copy_20151['p4e'] = df_copy_20151['p4e'].astype('int64')
df_copy_20151.p4e.value_counts()

99    973196
4      37640
3      30894
1       3577
2       3268
Name: p4e, dtype: int64

## Entonces,Â¿en dÃ³nde se realizan las actividades de este negocio?(p4f)

1 En el campo, a cielo abierto,bordo,poza,mar 
2 Ambulante de casa en casa o en la calle
3 Puesto improvisado
4 En vehÃ­culo sin motor (bicicleta, triciclo, carretÃ³n,
 lancha)
5 En vehÃ­culo motorizado (automÃ³vil, motocicleta,
 camioneta)
6 En su propio domicilio sin instalaciÃ³n especial
7 En su propio domicilio con instalaciÃ³n especial
8 En el domicilio o propie dad del patrÃ³n o en el
 lugar donde lo requieren los clientes
9 Puesto semifijo
10 Puesto fijo
11 Otro lugar
99 No sabe

In [256]:
df_copy_20151['p4f'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [257]:
df_copy_20151['p4f'] = df_copy_20151['p4f'].astype('int64')
df_copy_20151.p4f.value_counts()

99    1010920
8       15784
6        6893
5        4383
2        2360
7        2265
3        2029
9        1870
4         849
10        565
11        364
1         293
Name: p4f, dtype: int64

## En este negocio o actividad,(p4g)
1 Â¿se acude a los servicios de un contador para llevar las cuentas?
2 Â¿sÃ³lo se utiliza un cuaderno o una libreta de apuntes personales para llevar las cuentas?
3 Aplica hasta periodo 415) EstÃ¡ inscrito en algÃºn
 esquema o rÃ©gimen para pequeÃ±os contribuyentes (Repecos) de la Secreta rÃ­a de Hacienda (lleva el cuadernillo de ingresos o utiliza la caja registradora)

In [258]:
df_copy_20151['p4g'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [259]:
df_copy_20151['p4g'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [260]:
df_copy_20151['p4g'] = df_copy_20151['p4g'].astype('int64')
df_copy_20151.p4g.value_counts()

99    980392
4      33722
1      20541
2       8679
3       5241
Name: p4g, dtype: int64

## Â¿Normalmente en que lugar trabaja...? (p4h)
1Â¿En las instalaciones (o vehiculos) de..?
2 Â¿En las instalaciones de otra empresa o instituciÃ³n a donde se le envÃ­a?
3 Â¿Visitando a distintos clientes?
4 Â¿En el lugar de la obra?
5 Ninguna de las anteriores
99 No sabe

In [261]:
df_copy_20151['p4h'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [262]:
df_copy_20151['p4h'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [263]:
df_copy_20151['p4h'] = df_copy_20151['p4h'].astype('int64')
df_copy_20151.p4h.value_counts()

99    1000519
1       40507
2        3391
4        2202
3        1843
5         113
Name: p4h, dtype: int64

## La empresa a la que oertenece.. Â¿tiene oficinas o establecimientos?(p4i)
1 en otros paÃ­ses?
2 Ãºnicamente de MÃ©xico  pero en varias ciudades del pais?
3 solo en una ciudad?
4 Se trata de un negocio
 que opera bajo la modali-
 dad de franquicia
9 No sabe

In [264]:
df_copy_20151['p4i'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [265]:
df_copy_20151['p4i'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [266]:
df_copy_20151['p4i'] = df_copy_20151['p4i'].astype('int64')
df_copy_20151.p4i.value_counts()

99    1001783
3       18089
2       17590
1       10004
4        1109
Name: p4i, dtype: int64

## Campo exclusivo del sistema (p4i_1)
1-3,blanco Campo exclusivo del sistema

In [267]:
df_copy_20151['p4i_1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [268]:
df_copy_20151['p4i_1'] = df_copy_20151['p4i_1'].astype('int64')
df_copy_20151.p4i_1.value_counts()

99    1000419
3       47612
1         464
2          80
Name: p4i_1, dtype: int64

## Â¿La jornada de trabajo de ... es?(p5)
1 de dÃ­a ? (entre las 6 am y las 8 pm)
2 de noche? (entre las 8 pm y las 6 am)
3 mixta?
4 rola turnos?
99 No sabe

In [269]:
df_copy_20151['p5'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [270]:
df_copy_20151['p5'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [271]:
df_copy_20151['p5'] = df_copy_20151['p5'].astype('int64')
df_copy_20151.p5.value_counts()

99    895978
1     135510
3       7589
4       6725
2       2773
Name: p5, dtype: int64

## La semana pasada, Â¿..tuvo poco trabajo que hacer?(p5a)
1 SÃ­
2 No trabajÃ³ la semana pasada
3 No se encontrÃ³ en esa situaciÃ³n
99 No sabe

In [272]:
df_copy_20151['p5a'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [273]:
df_copy_20151['p5a'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [274]:
df_copy_20151['p5a'] = df_copy_20151['p5a'].astype('int64')
df_copy_20151.p5a.value_counts()

3     521424
99    476367
1      35581
2      15203
Name: p5a, dtype: int64

## Â¿Le preocupa a ... esta situaciÃ³n?(p5b)
1 SÃ­
2 Solo un poco
3 No, porque asÃ­ es su trabajo
4 No, porque asÃ­ es en esta Ã©poca del aÃ±o
5 No, porque la considera una situaciÃ³n pasajera
6 No, por otras razones
99 No sabe

In [275]:
df_copy_20151['p5b'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [276]:
df_copy_20151['p5b'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [277]:
df_copy_20151['p5b'] = df_copy_20151['p5b'].astype('int64')
df_copy_20151.p5b.value_counts()

99    1013075
1       21150
3        6904
4        3153
2        2005
6        1900
5         388
Name: p5b, dtype: int64

# Pregunta 5C: Â¿QuÃ© dÃ­as y cuÃ¡ntas horas le dedicÃ³ ... a su trabajo  la semana pasada?

## Horas lunes (p5c_hlu)
00-24 NÃºmero de horas en lunes
98 TrabajÃ³ ese dÃ­a pero no sabe cuanto tiempo
99 No sabe si trabajÃ³ ese dÃ­a

In [278]:
df_copy_20151['p5c_hlu'] = df_copy_20151['p5c_hlu'].astype('int64')
df_copy_20151.p5c_hlu.value_counts()

99    491187
8     208410
10     63350
0      58060
9      53802
6      38644
12     31837
7      27134
5      19696
4      17959
3      10190
11      7596
2       7291
98      2881
1       2636
14      2186
16      1826
13      1336
15       957
18       558
17       549
24       432
20        26
19        22
21         6
23         2
22         2
Name: p5c_hlu, dtype: int64

## Minutos lunes (p5c_mlu)
00-59 NÃºmero de minutos en lunes

In [279]:
df_copy_20151['p5c_mlu'] = df_copy_20151['p5c_mlu'].astype('int64')
df_copy_20151.p5c_mlu.value_counts()

0     545998
99    491128
30     10929
40       101
15        71
45        70
20        66
10        36
36        33
1         29
50        24
8         23
5         10
35         8
3          7
12         7
9          5
6          5
25         5
11         4
37         2
4          2
7          1
2          1
48         1
46         1
31         1
32         1
33         1
38         1
41         1
42         1
43         1
24         1
Name: p5c_mlu, dtype: int64

## Horas martes (p5c_hma)
00-24 NÃºmero de horas en martes
98 TrabajÃ³ ese dÃ­a pero no sabe cuanto tiempo
99 No sabe si trabajÃ³ ese dÃ­a

In [280]:
df_copy_20151['p5c_hma'] = df_copy_20151['p5c_hma'].astype('int64')
df_copy_20151.p5c_hma.value_counts()

99    491184
8     211104
10     64017
0      56011
9      54823
6      39058
12     31054
7      27875
5      19833
4      17635
3       9684
11      7842
2       6966
98      2932
1       2527
14      2133
13      1336
16      1045
15       939
17       207
24       163
18       150
20        31
19        20
21         3
22         2
23         1
Name: p5c_hma, dtype: int64

## Minutos martes (p5c_mma)
00-59 NÃºmero de minutos en martes

In [281]:
df_copy_20151['p5c_mma'] = df_copy_20151['p5c_mma'].astype('int64')
df_copy_20151.p5c_mma.value_counts()

0     545771
99    491128
30     11068
40       100
20        73
45        72
15        71
10        56
1         48
8         42
50        36
36        36
3         12
2         11
12         8
35         7
5          7
6          5
25         5
11         4
9          4
37         2
4          1
48         1
7          1
46         1
24         1
33         1
42         1
43         1
16         1
Name: p5c_mma, dtype: int64

## Horas miÃ©rcoles (p5c_hmi)
00-24 NÃºmero de horas en miÃ©rcoles
98 TrabajÃ³ ese dÃ­a pero no sabe cuanto tiempo
99 No sabe si trabajÃ³ ese dÃ­a

In [282]:
df_copy_20151['p5c_hmi'] = df_copy_20151['p5c_hmi'].astype('int64')
df_copy_20151.p5c_hmi.value_counts()

99    491185
8     211208
10     64304
9      54888
0      51319
6      39272
12     31855
7      27921
5      20130
4      18276
3      10277
11      7920
2       7266
98      2936
1       2695
14      2168
16      1419
13      1348
15       942
17       418
18       412
24       359
20        33
19        20
21         3
23         1
Name: p5c_hmi, dtype: int64

## Minutos miÃ©rcoles (p5c_mmi)
00-59 NÃºmero de minutos en miÃ©rcoles

In [283]:
df_copy_20151['p5c_mmi'] = df_copy_20151['p5c_mmi'].astype('int64')
df_copy_20151.p5c_mmi.value_counts()

0     545679
99    491128
30     11177
40       105
20        74
45        72
15        71
10        53
1         51
36        35
50        29
8         23
12        11
5         10
35         8
2          8
3          8
9          7
25         5
11         4
6          4
4          3
37         2
43         2
7          1
22         1
24         1
42         1
33         1
48         1
Name: p5c_mmi, dtype: int64

## Horas jueves(p5c_hju)
00-24 NÃºmero de horas jueves
98 TrabajÃ³ ese dÃ­a pero no sabe cuanto tiempo
99 No sabe si trabajÃ³ ese dÃ­a

In [284]:
df_copy_20151['p5c_hju'] = df_copy_20151['p5c_hju'].astype('int64')
df_copy_20151.p5c_hju.value_counts()

99    491187
8     208620
10     63629
0      60513
9      54262
6      38614
12     30935
7      27435
5      19717
4      17519
3       9560
11      7776
2       6955
98      2909
1       2593
14      2125
13      1311
16      1255
15       935
17       261
18       222
24       191
20        32
19        14
21         3
23         2
Name: p5c_hju, dtype: int64

## Minutos jueves  (p5c_mju)
00-59 NÃºmero de minutos jueves

In [285]:
df_copy_20151['p5c_mju'] = df_copy_20151['p5c_mju'].astype('int64')
df_copy_20151.p5c_mju.value_counts()

0     545822
99    491128
30     11004
40        94
20        75
1         75
15        70
45        69
10        55
36        35
50        33
8         33
6         11
3         10
9          9
5          8
35         8
12         8
2          6
25         5
11         4
43         3
4          3
37         2
7          1
22         1
24         1
42         1
48         1
Name: p5c_mju, dtype: int64

## Horas viernes  (p5c_hvi)
00-24 NÃºmero de horas en viernes
98 TrabajÃ³ ese dÃ­a pero no sabe cuanto tiempo
99 No sabe si trabajÃ³ ese dÃ­a

In [286]:
df_copy_20151['p5c_hvi'] = df_copy_20151['p5c_hvi'].astype('int64')
df_copy_20151.p5c_hvi.value_counts()

99    491185
8     210022
10     63927
0      55059
9      54231
6      39190
12     30847
7      27506
5      20393
4      18014
3      10095
11      7750
2       7247
98      2932
1       2645
14      2208
16      1581
13      1345
15       989
18       485
17       482
24       371
20        41
19        22
22         4
21         3
23         1
Name: p5c_hvi, dtype: int64

## Minutos viernes  (p5c_mvi)
00-59 NÃºmero de minutos en  viernes

In [287]:
df_copy_20151['p5c_mvi'] = df_copy_20151['p5c_mvi'].astype('int64')
df_copy_20151.p5c_mvi.value_counts()

0     545818
99    491128
30     10994
40       105
20        85
45        72
15        69
10        57
1         51
36        33
50        32
8         29
2         17
3         13
5         12
12        10
11         9
6          9
35         7
25         5
9          4
4          3
7          3
37         2
43         2
48         1
46         1
24         1
33         1
42         1
22         1
Name: p5c_mvi, dtype: int64

## Horas sÃ¡bado (p5c_hsa)
00-24 NÃºmero de horas en sÃ¡bado
98 TrabajÃ³ ese dÃ­a pero no sabe cuanto tiempo
99 No sabe si trabajÃ³ ese dÃ­a

In [288]:
df_copy_20151['p5c_hsa'] = df_copy_20151['p5c_hsa'].astype('int64')
df_copy_20151.p5c_hsa.value_counts()

99    491182
0     195784
8     119800
6      51797
5      39559
10     36077
12     24365
9      23104
4      20628
7      18638
3       7898
2       5420
11      4616
98      2354
14      1917
1       1874
13      1157
16       957
15       870
17       193
24       179
18       158
20        27
19        16
21         3
22         2
Name: p5c_hsa, dtype: int64

## Minutos sÃ¡bado  (p5c_msa)
00-59 NÃºmero de minutos en sÃ¡bado

In [289]:
df_copy_20151['p5c_msa'] = df_copy_20151['p5c_msa'].astype('int64')
df_copy_20151.p5c_msa.value_counts()

0     553232
99    491128
30      3918
40        55
20        48
50        30
10        28
1         24
15        23
45        21
8         18
6          7
2          7
3          6
9          5
11         5
5          4
35         3
36         3
12         3
33         2
46         1
4          1
25         1
43         1
14         1
Name: p5c_msa, dtype: int64

## Horas domingo (p5c_hdo)
00-24 NÃºmero de horas en domingo
98 TrabajÃ³ ese dÃ­a pero no sabe cuanto tiempo
99 No sabe si trabajÃ³ ese dÃ­a

In [290]:
df_copy_20151['p5c_hdo'] = df_copy_20151['p5c_hdo'].astype('int64')
df_copy_20151.p5c_hdo.value_counts()

99    491169
0     426860
8      41237
10     15945
12     15658
6      12134
9       8956
5       7091
4       6573
7       6038
3       3949
2       3091
11      2268
16      1270
14      1268
98      1229
1       1175
13       709
15       607
18       436
17       423
24       414
20        29
22        21
19        19
21         5
23         1
Name: p5c_hdo, dtype: int64

## Minutos domingo (p5c_mdo)
00-59 NÃºmero de minutos en  domingo

In [291]:
df_copy_20151['p5c_mdo'] = df_copy_20151['p5c_mdo'].astype('int64')
df_copy_20151.p5c_mdo.value_counts()

0     555085
99    491128
30      1579
1        481
40        99
2         81
11        17
20        16
14        15
22        12
10        12
45        10
50        10
15        10
8          4
3          4
5          3
12         3
6          2
4          2
21         1
35         1
Name: p5c_mdo, dtype: int64

## Total de horas (p5c_thrs)
001-998 Total de NÃºmero de horas en pregunta 5c
999 No especificado

In [292]:
df_copy_20151['p5c_thrs'] = df_copy_20151['p5c_thrs'].astype('int64')
df_copy_20151.p5c_thrs.value_counts()

99     491136
48      99977
40      64258
45      29480
60      27956
30      19908
50      19197
56      17587
36      17571
54      17560
24      16073
42      15841
35      13146
72      12860
46      11632
70       8666
20       8138
84       8035
25       7640
18       7142
12       7136
32       7076
44       6861
55       6589
51       6496
16       6057
28       4832
15       4770
66       4510
8        4329
        ...
102        28
119        21
95         20
101        17
97         12
93         12
104        12
106        11
120        10
110         8
168         8
109         4
118         4
103         4
117         3
140         3
114         2
107         2
116         2
144         2
133         2
111         1
113         1
121         1
123         1
132         1
129         1
127         1
125         1
115         1
Name: p5c_thrs, Length: 132, dtype: int64

## Total de dÃ­as (p5c_tdia)
1 - 7 Total de dias trabajados  a la semana
9 NÃºmero de dÃ­as no  especificado

In [293]:
df_copy_20151['p5c_tdia'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [294]:
df_copy_20151['p5c_tdia'] = df_copy_20151['p5c_tdia'].astype('int64')
df_copy_20151.p5c_tdia.value_counts()

99    491128
6     265398
5     147637
7      62295
3      28633
4      23231
2      20025
1       9271
9        957
Name: p5c_tdia, dtype: int64

## Â¿Ese es el nÃºmero de horas que habitualmente trabaja..-?(p5d)
1 SÃ­
2 No 
99 No sabe

In [295]:
df_copy_20151['p5d'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [296]:
df_copy_20151['p5d'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [297]:
df_copy_20151['p5d'] = df_copy_20151['p5d'].astype('int64')
df_copy_20151.p5d.value_counts()

99    491237
1     469158
2      88180
Name: p5d, dtype: int64

# Pregunta 5E: Â¿QuÃ© dÃ­as y cuÃ¡ntas horas le dedica habitualmente ...  a su trabajo?

## Horas y minutos o no tiene horario regurlar de trabajo (p5e1)
1 si diÃ³ horas y/o minutos a la semana
2 No tiene un horario regular de trabajo
99 No sabe

In [298]:
df_copy_20151['p5e1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [299]:
df_copy_20151['p5e1'] = df_copy_20151['p5e1'].astype('int64')
df_copy_20151.p5e1.value_counts()

99    945083
2      68995
1      34497
Name: p5e1, dtype: int64

## Horas lunes (p5e_hlu)
00-59 NÃºmero de minutos en lunes

In [300]:
df_copy_20151['p5e_hlu'] = df_copy_20151['p5e_hlu'].astype('int64')
df_copy_20151.p5e_hlu.value_counts()

99    1014080
8       14750
9        3587
10       3512
6        2723
7        2503
5        1688
12       1500
0        1459
4        1102
3         455
11        449
2         289
1         105
14         79
16         76
98         56
13         54
15         37
17         27
18         20
24         20
20          4
Name: p5e_hlu, dtype: int64

## Minutos lunes (p5e_mlu)
00-59 NÃºmero de minutos en lunes

In [301]:
df_copy_20151['p5e_mlu'] = df_copy_20151['p5e_mlu'].astype('int64')
df_copy_20151.p5e_mlu.value_counts()

99    1014078
0       33280
30       1160
20         12
45          9
40          8
10          7
15          4
8           4
1           4
36          3
46          1
35          1
50          1
12          1
3           1
22          1
Name: p5e_mlu, dtype: int64

## Horas martes (p5e_hma)
00-24 NÃºmero de horas en martes
98 TrabajÃ³ ese dÃ­a pero no sabe cuanto tiempo
99 No sabe si trabajÃ³ ese dÃ­a

In [302]:
df_copy_20151['p5e_hma'] = df_copy_20151['p5e_hma'].astype('int64')
df_copy_20151.p5e_hma.value_counts()

99    1014080
8       14724
9        3638
10       3503
6        2744
7        2501
0        1668
5        1653
12       1448
4        1066
11        457
3         427
2         274
1         101
14         80
98         56
13         52
16         46
15         40
17          8
20          4
24          3
18          2
Name: p5e_hma, dtype: int64

## Minutos martes  (p5e_mma)
00-59 NÃºmero de minutos en martes

In [303]:
df_copy_20151['p5e_mma'] = df_copy_20151['p5e_mma'].astype('int64')
df_copy_20151.p5e_mma.value_counts()

99    1014078
0       33291
30       1146
20         11
45          9
40          9
10          9
15          4
8           4
36          3
1           3
6           2
46          1
35          1
33          1
50          1
12          1
22          1
Name: p5e_mma, dtype: int64

## Horas miÃ©rcoles (p5e_hmi)
00-24 NÃºmero de horas en miÃ©rcoles
98 TrabajÃ³ ese dÃ­a pero no sabe cuanto tiempo
99 No sabe si trabajÃ³ ese dÃ­a

In [304]:
df_copy_20151['p5e_hmi'] = df_copy_20151['p5e_hmi'].astype('int64')
df_copy_20151.p5e_hmi.value_counts()

99    1014080
8       14707
9        3629
10       3510
6        2728
7        2479
5        1686
0        1529
12       1490
4        1096
3         461
11        459
2         284
1          99
14         84
16         64
98         55
13         54
15         38
17         18
24         15
18          8
20          2
Name: p5e_hmi, dtype: int64

## Minutos miÃ©rcoles (p5e_mmi) 
00-59 NÃºmero de minutos en miÃ©rcoles

In [305]:
df_copy_20151['p5e_mmi'] = df_copy_20151['p5e_mmi'].astype('int64')
df_copy_20151.p5e_mmi.value_counts()

99    1014078
0       33286
30       1152
10         11
20         10
45          9
40          8
15          4
8           4
1           4
36          3
46          1
35          1
50          1
12          1
3           1
22          1
Name: p5e_mmi, dtype: int64

## Horas jueves (p5e_hju)
00-24 NÃºmero de horas en jueves
98 TrabajÃ³ ese dÃ­a pero no sabe cuanto tiempo
99 No sabe si trabajÃ³ ese dÃ­a

In [306]:
df_copy_20151['p5e_hju'] = df_copy_20151['p5e_hju'].astype('int64')
df_copy_20151.p5e_hju.value_counts()

99    1014080
8       14684
9        3634
10       3506
6        2716
7        2487
0        1733
5        1668
12       1448
4        1071
11        449
3         419
2         265
1         104
14         81
98         56
13         53
16         49
15         38
18         14
17         12
24          6
20          2
Name: p5e_hju, dtype: int64

## Minutos jueves (p5e_mju)
00-59 NÃºmero de minutos en jueves

In [307]:
df_copy_20151['p5e_mju'] = df_copy_20151['p5e_mju'].astype('int64')
df_copy_20151.p5e_mju.value_counts()

99    1014078
0       33300
30       1139
20         11
10          9
45          9
40          7
15          4
36          3
8           3
1           3
9           2
35          1
31          1
50          1
12          1
39          1
2           1
22          1
Name: p5e_mju, dtype: int64

## Minutos viernes (p5e_hvi)
00-59 NÃºmero de minutos en viernes

In [308]:
df_copy_20151['p5e_hvi'] = df_copy_20151['p5e_hvi'].astype('int64')
df_copy_20151.p5e_hvi.value_counts()

99    1014080
8       14804
9        3630
10       3534
6        2783
7        2502
5        1705
12       1404
0        1366
4        1103
3         462
11        453
2         282
1         110
14         85
16         73
13         56
98         56
15         39
17         25
24         13
18          8
20          2
Name: p5e_hvi, dtype: int64

## Horas sÃ¡bado (p5e_hsa)
00-24 NÃºmero de horas en sÃ¡bado
98 TrabajÃ³ ese dÃ­a pero no sabe cuanto tiempo
99 No sabe si trabajÃ³ ese dÃ­a

In [309]:
df_copy_20151['p5e_hsa'] = df_copy_20151['p5e_hsa'].astype('int64')
df_copy_20151.p5e_hsa.value_counts()

99    1014080
0       16534
8        5979
6        2935
5        2796
10       1268
9        1100
4        1039
12        979
7         960
3         250
11        205
2         155
1          69
14         66
13         44
16         36
98         34
15         34
17          6
18          4
24          2
Name: p5e_hsa, dtype: int64

## Minutos sÃ¡bado(p5e_msa)
00-59 NÃºmero de minutos en sÃ¡bado

In [310]:
df_copy_20151['p5e_msa'] = df_copy_20151['p5e_msa'].astype('int64')
df_copy_20151.p5e_msa.value_counts()

99    1014078
0       34218
30        261
20          4
45          3
10          2
55          1
46          1
40          1
15          1
12          1
8           1
5           1
3           1
1           1
Name: p5e_msa, dtype: int64

## Horas domingo (p5e_hdo)
00-24 NÃºmero de horas en domingo
98 TrabajÃ³ ese dÃ­a pero no sabe cuanto tiempo
99 No sabe si trabajÃ³ ese dÃ­a

In [311]:
df_copy_20151['p5e_hdo'] = df_copy_20151['p5e_hdo'].astype('int64')
df_copy_20151.p5e_hdo.value_counts()

99    1014079
0       30262
8        1426
12        599
10        435
6         342
9         294
5         219
7         206
4         182
3         102
2          94
11         80
14         52
16         52
1          33
13         28
15         25
98         19
18         17
17         17
24         12
Name: p5e_hdo, dtype: int64

## Minutos domingo (p5e_mdo)
00-59 NÃºmero de minutos en domingo

In [312]:
df_copy_20151['p5e_mdo'] = df_copy_20151['p5e_mdo'].astype('int64')
df_copy_20151.p5e_mdo.value_counts()

99    1014078
0       34400
30         80
1           5
45          4
8           2
46          1
40          1
20          1
12          1
5           1
2           1
Name: p5e_mdo, dtype: int64

## Total de horas (p5e_thrs)
001-998 Total de NÃºmero de horas
999 No especificado

In [313]:
df_copy_20151['p5e_thrs'] = df_copy_20151['p5e_thrs'].astype('int64')
df_copy_20151.p5e_thrs.value_counts()

99     1014080
40        6541
48        5452
45        2448
30        1924
35        1644
50        1630
60        1288
25        1113
54         932
46         859
56         823
36         775
42         727
20         634
72         549
55         524
44         483
24         472
51         468
84         305
32         270
15         266
47         246
70         244
12         235
66         234
18         181
37         176
10         166
        ...
13          13
19          12
29          12
112         11
75          11
105         11
79           7
89           6
71           5
74           5
73           5
85           4
82           4
81           4
1            3
94           3
87           3
120          3
92           2
108          2
83           2
119          2
76           2
97           1
93           1
100          1
102          1
106          1
113          1
86           1
Name: p5e_thrs, Length: 108, dtype: int64

## Total de dÃ­as (campo adicional contenido en la base de datos) (p5e_tdia)
1-7 total de dÃ­as trabajados en la semana
99 NÃºmero  de dÃ¡s no especificado

In [314]:
df_copy_20151['p5e_tdia'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [315]:
df_copy_20151['p5e_tdia'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [316]:
df_copy_20151['p5e_tdia'] = df_copy_20151['p5e_tdia'].astype('int64')
df_copy_20151.p5e_tdia.value_counts()

99    1014091
5       15388
6       15253
7        1824
3         663
4         601
2         521
1         234
Name: p5e_tdia, dtype: int64

## Â¿CuÃ¡l es el motivo principal por el que la semana pasada... no trabajo las horas habituales?(p5f)
1 Exceso de trabajo
2 Obtener mÃ¡s ingresos
3 Horas extras
4 Temporada alta (clientes, ventas, siembra o cosecha) 
5 ReducciÃ³n o suspensiÃ³n
 del trabajo (falta de ven
 tas o clientes, temporada
 baja, paro tÃ©cnico)
6 TÃ©rmino del contrato o
 temporada de trabajo
7 Causas climatolÃ³gicas
8 Vacaciones o dÃ­as festivos
9 Enfermedad o accidente
10 Cuidar o atender a niÃ±os,
 enfermos o ancianos
11 Otros motivos personales
 o familiares
12 Ninguno de los anteriores
99 No sabe

In [317]:
df_copy_20151['p5f'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [318]:
df_copy_20151['p5f'] = df_copy_20151['p5f'].astype('int64')
df_copy_20151.p5f.value_counts()

99    1027703
8       12783
5        2028
12       1207
3        1101
1        1015
7        1011
11        666
9         532
4         225
10        130
6         111
2          63
Name: p5f, dtype: int64

# Pregunta 5G: Â¿En que meses del aÃ±o â€¦ realiza este trabajo?

## OpciÃ³n 1: enero C  (p5g1)
01 Enero
99 No sabe

In [319]:
df_copy_20151['p5g1'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [320]:
df_copy_20151['p5g1'] = df_copy_20151['p5g1'].astype('int64')
df_copy_20151.p5g1.value_counts()

99    1047962
1         613
Name: p5g1, dtype: int64

## OpciÃ³n 2: febrero (p5g2)
2 Febrero
99 No sabe

In [321]:
df_copy_20151['p5g2'] = df_copy_20151['p5g2'].astype('int64')
df_copy_20151.p5g2.value_counts()

99    1047993
2         582
Name: p5g2, dtype: int64

## OpciÃ³n 3: marzo  (p5g3)
3 marzo
99 No sabe

In [322]:
df_copy_20151['p5g3'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [323]:
df_copy_20151['p5g3'] = df_copy_20151['p5g3'].astype('int64')
df_copy_20151.p5g3.value_counts()

99    1047944
3         631
Name: p5g3, dtype: int64

## OpciÃ³n 4: abril  (p5g4)
4 abril
99 No sabe

In [324]:
df_copy_20151['p5g4'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [325]:
df_copy_20151['p5g4'] = df_copy_20151['p5g4'].astype('int64')
df_copy_20151.p5g4.value_counts()

99    1047779
4         796
Name: p5g4, dtype: int64

## OpciÃ³n 6: junio   (p5g6)
6 junio
99 No sabe

In [326]:
df_copy_20151['p5g6'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [327]:
df_copy_20151['p5g6'] = df_copy_20151['p5g6'].astype('int64')
df_copy_20151.p5g6.value_counts()

99    1047526
6        1049
Name: p5g6, dtype: int64

## OpciÃ³n 7: julio  (p5g7)
7 julio 
99 No sabe

In [328]:
df_copy_20151['p5g7'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [329]:
df_copy_20151['p5g7'] = df_copy_20151['p5g7'].astype('int64')
df_copy_20151.p5g7.value_counts()

99    1047547
7        1028
Name: p5g7, dtype: int64

## OpciÃ³n 8: agosto   (p5g8)
8 agosto
99 No sabe

In [330]:
df_copy_20151['p5g8'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [331]:
df_copy_20151['p5g8'] = df_copy_20151['p5g8'].astype('int64')
df_copy_20151.p5g8.value_counts()

99    1047585
8         990
Name: p5g8, dtype: int64

## OpciÃ³n 9: septiembre  (p5g9)
9 Septiembre 
99 No sabe

In [332]:
df_copy_20151['p5g9'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [333]:
df_copy_20151['p5g9'] = df_copy_20151['p5g9'].astype('int64')
df_copy_20151.p5g9.value_counts()

99    1047695
9         880
Name: p5g9, dtype: int64

## OpciÃ³n 10: octubre  (p5g10)
10 octubre
99 No sabe

In [334]:
df_copy_20151['p5g10'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [335]:
df_copy_20151['p5g10'] = df_copy_20151['p5g10'].astype('int64')
df_copy_20151.p5g10.value_counts()

99    1047697
10        878
Name: p5g10, dtype: int64

## OpciÃ³n 11: noviembre(p5g11)
11 Noviembre
99 No sabe

In [336]:
df_copy_20151['p5g11'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [337]:
df_copy_20151['p5g11'] = df_copy_20151['p5g11'].astype('int64')
df_copy_20151.p5g11.value_counts()

99    1047675
11        900
Name: p5g11, dtype: int64

## OpciÃ³n 12: diciembre  (p5g12)
12 diciembre
99 No sabe

In [338]:
df_copy_20151['p5g12'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [339]:
df_copy_20151['p5g12'] = df_copy_20151['p5g12'].astype('int64')
df_copy_20151.p5g12.value_counts()

99    1047778
12        797
Name: p5g12, dtype: int64

## OpciÃ³n 13: VarÃ­an los meses en que trabaja  (p5g13)
13 VarÃ­an los meses en que trabaja
99 No sabe

In [340]:
df_copy_20151['p5g13'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [341]:
df_copy_20151['p5g13'] = df_copy_20151['p5g13'].astype('int64')
df_copy_20151.p5g13.value_counts()

99    1043820
13       4755
Name: p5g13, dtype: int64

## OpciÃ³n 14: Trabaja todos los meses del aÃ±o (p5g14)
14 Trabaja todos los meses del aÃ±o
99 No sabe

In [342]:
df_copy_20151['p5g14'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [343]:
df_copy_20151['p5g14'] = df_copy_20151['p5g14'].astype('int64')
df_copy_20151.p5g14.value_counts()

99    558537
14    490038
Name: p5g14, dtype: int64

## OpciÃ³n 15: Tiene menos de un aÃ±o en este trabajo  (p5g15)
15 Tiene menos de un aÃ±o en este trabajo
99 No sabe

In [344]:
df_copy_20151['p5g15'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [345]:
df_copy_20151['p5g15'] = df_copy_20151['p5g15'].astype('int64')
df_copy_20151.p5g15.value_counts()

99    972594
15     75981
Name: p5g15, dtype: int64

## OpciÃ³n 99: no sabe (p5g99)
99 No sabe

In [346]:
df_copy_20151['p5g99'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [347]:
df_copy_20151['p5g99'] = df_copy_20151['p5g99'].astype('int64')
df_copy_20151.p5g99.value_counts()

99    1048575
Name: p5g99, dtype: int64

##  Â¿CuÃ¡l es el motivo principal por el que ... no trabaja  todos los meses del aÃ±o? (p5h)
1 Trabaja solo cuando lo llaman o solicitan sus servicios
2 SÃ³lo hay trabajo durante algunas Ã©pocas o temporadas del aÃ±o
3 Trabaja solo en periodos de vacaciones escolares
4 No necesita trabajar todo el aÃ±o
5 Motivos personales o familiares
6 Otro motivo
9 No sabe

In [348]:
df_copy_20151['p5h'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [349]:
df_copy_20151['p5h'] = df_copy_20151['p5h'].astype('int64')
df_copy_20151.p5h.value_counts()

99    1047102
2         911
1         415
6          56
3          48
5          17
9          14
4          12
Name: p5h, dtype: int64

## Campo exclusivo del sistema  (ur)
1,2  Campo exclusivo del sistema

In [350]:
df_copy_20151['ur'] = df_copy_20151['ur'].astype('int64')
df_copy_20151.ur.value_counts()

1     684522
2     364052
99         1
Name: ur, dtype: int64

## Factor de expansiÃ³n  (fac)
000001-999998 Valor

In [351]:
df_copy_20151['fac'] = df_copy_20151['fac'].astype('int64')
df_copy_20151.fac.value_counts()

113      7225
118      6908
114      6455
111      6093
116      6008
117      5914
109      5904
119      5890
120      5870
131      5822
127      5784
110      5752
115      5685
123      5586
128      5562
108      5530
106      5518
104      5492
122      5465
102      5460
101      5432
129      5347
107      5311
124      5258
121      5223
138      5200
132      5188
134      5157
125      5117
112      5107
         ...
2287        2
7923        2
5783        2
1385        2
11735       2
3449        2
3191        2
2576        2
3156        2
2593        2
4834        2
8326        2
5914        2
3276        2
2486        2
5184        2
10361       2
5043        2
4391        2
4109        2
2203        2
5959        1
6473        1
5548        1
5702        1
4606        1
7230        1
2909        1
4086        1
5804        1
Name: fac, Length: 2483, dtype: int64

In [352]:
#df_copy_20151.to_csv ('C:/Users/Pc-Adri/Documents/ENOE/Documento2015.csv', sep=',', index=False)

In [353]:
df_copy_20151.dtypes

r_def          int64
cd_a           int64
ent            int64
con            int64
upm            int64
d_sem          int64
n_pro_viv      int64
v_sel          int64
n_hog          int64
h_mud          int64
n_ent          int64
per            int64
n_ren          int64
eda            int64
n_inf          int64
p1             int64
p1a1           int64
p1a2           int64
p1a3           int64
p1b            int64
p1c            int64
p1d            int64
p1e            int64
p2_1           int64
p2_2           int64
p2_3           int64
p2_4           int64
p2_9           int64
p2a_dia        int64
p2a_sem        int64
              ...
p5e_hju        int64
p5e_mju        int64
p5e_hvi        int64
p5e_mvi      float64
p5e_hsa        int64
p5e_msa        int64
p5e_hdo        int64
p5e_mdo        int64
p5e_thrs       int64
p5e_tdia       int64
p5f            int64
p5g1           int64
p5g2           int64
p5g3           int64
p5g4           int64
p5g5         float64
p5g6           int64
p5g7           int64
p5g8           int64
p5g9           int64
p5g10          int64
p5g11          int64
p5g12          int64
p5g13          int64
p5g14          int64
p5g15          int64
p5g99          int64
p5h            int64
ur             int64
fac            int64
Length: 186, dtype: object

## Elimacion de columnas con mas de 50% de 99

In [354]:
n = df_copy_20151.columns.values.tolist()
m = round(df_copy_20151.shape[0]*.50)
l = []
for i in n:
    if df_copy_20151[i].value_counts().get(99) != None:
        if m < df_copy_20151[i].value_counts().get(99):
            l.append(i)
            df_copy_20151 = df_copy_20151.drop(i, 1)

In [355]:
df_copy_20151.dtypes

r_def        int64
cd_a         int64
ent          int64
con          int64
upm          int64
d_sem        int64
n_pro_viv    int64
v_sel        int64
n_hog        int64
h_mud        int64
n_ent        int64
per          int64
n_ren        int64
eda          int64
n_inf        int64
p1           int64
p3           int64
p3a          int64
p5a          int64
p5c_hlu      int64
p5c_mlu      int64
p5c_hma      int64
p5c_mma      int64
p5c_hmi      int64
p5c_mmi      int64
p5c_hju      int64
p5c_mju      int64
p5c_hvi      int64
p5c_mvi      int64
p5c_hsa      int64
p5c_msa      int64
p5c_hdo      int64
p5c_mdo      int64
p5c_thrs     int64
p5c_tdia     int64
p5d          int64
ur           int64
fac          int64
dtype: object

In [356]:
df_copy_20151.to_csv ('C:/Users/JoseAntonio/Desktop/ENOE/adri/2017/2017Clean.csv', sep=',', index=False)

## NormaliaciÃ³n

In [357]:
df_copy_20151 = sk.preprocessing.normalize(df_copy_20151, norm='l2', axis=1, copy=True )

In [358]:
df2015 = pd.DataFrame(df_copy_20151)

In [359]:
df2015.head()

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,0.0,0.000001,0.00001,0.044376,0.998958,0.000112,0.000061,0.000002,0.000001,0.0,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.000027,0.000003,0.000001,0.000001,0.00054
1,0.0,0.000001,0.00001,0.044379,0.999015,0.000112,0.000061,0.000002,0.000001,0.0,...,0.00011,0.00011,0.00011,0.00011,0.00011,0.000110,0.000110,0.000110,0.000001,0.00054
2,0.0,0.000001,0.00001,0.044378,0.999010,0.000112,0.000061,0.000002,0.000001,0.0,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.000044,0.000006,0.000001,0.000001,0.00054
3,0.0,0.000001,0.00001,0.044378,0.999011,0.000112,0.000089,0.000003,0.000001,0.0,...,0.00011,0.00011,0.00011,0.00011,0.00011,0.000110,0.000110,0.000110,0.000001,0.00054
4,0.0,0.000001,0.00001,0.044379,0.999015,0.000112,0.000089,0.000003,0.000001,0.0,...,0.00011,0.00011,0.00011,0.00011,0.00011,0.000110,0.000110,0.000110,0.000001,0.00054

In [360]:
df2015.to_csv ('C:/Users/JoseAntonio/Desktop/ENOE/adri/2017/norm2017.csv', sep=',', index=False)