In [1]:
import pandas as pd
import numpy as np
import sklearn as sk
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

In [2]:
path = 'C:/Users/JoseAntonio/Desktop/ENOE/adri/2016/coe1t2016.csv'
df = pd.read_csv(path, encoding='latin', low_memory=False)
df.head()

,r_def,cd_a,ent,con,upm,d_sem,n_pro_viv,v_sel,n_hog,h_mud,...,p5g10,p5g11,p5g12,p5g13,p5g14,p5g15,p5g99,p5h,ur,fac
0,0.0,1.0,9.0,40001.0,900471.0,101.0,15.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,,1.0,422.0
1,0.0,1.0,9.0,40001.0,900471.0,101.0,15.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,,1.0,422.0
2,0.0,1.0,9.0,40001.0,900471.0,101.0,15.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,14.0,NaN,NaN,,1.0,422.0
3,0.0,1.0,9.0,40001.0,900471.0,101.0,15.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,1.0,422.0
4,0.0,1.0,9.0,40001.0,900471.0,101.0,38.0,2.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,1.0,422.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Columns: 186 entries, r_def to fac
dtypes: float64(101), object(85)
memory usage: 1.5+ GB

In [4]:
df.shape

(1048575, 186)

In [5]:
df.shape[0]

1048575

In [6]:
df.shape[1]

186

In [7]:
df.columns.values.tolist()

['r_def',
 'cd_a',
 'ent',
 'con',
 'upm',
 'd_sem',
 'n_pro_viv',
 'v_sel',
 'n_hog',
 'h_mud',
 'n_ent',
 'per',
 'n_ren',
 'eda',
 'n_inf',
 'p1',
 'p1a1',
 'p1a2',
 'p1a3',
 'p1b',
 'p1c',
 'p1d',
 'p1e',
 'p2_1',
 'p2_2',
 'p2_3',
 'p2_4',
 'p2_9',
 'p2a_dia',
 'p2a_sem',
 'p2a_mes',
 'p2a_anio',
 'p2b_dia',
 'p2b_sem',
 'p2b_mes',
 'p2b_anio',
 'p2b',
 'p2c',
 'p2d1',
 'p2d2',
 'p2d3',
 'p2d4',
 'p2d5',
 'p2d6',
 'p2d7',
 'p2d8',
 'p2d9',
 'p2d10',
 'p2d11',
 'p2d99',
 'p2e',
 'p2f',
 'p2g1',
 'p2g2',
 'p2h1',
 'p2h2',
 'p2h3',
 'p2h4',
 'p2h9',
 'p3',
 'p3a',
 'p3b',
 'p3c1',
 'p3c2',
 'p3c3',
 'p3c4',
 'p3c9',
 'p3d',
 'p3e',
 'p3f1',
 'p3f2',
 'p3g1_1',
 'p3g1_2',
 'p3g2_1',
 'p3g2_2',
 'p3g3_1',
 'p3g3_2',
 'p3g4_1',
 'p3g4_2',
 'p3g9',
 'p3g_tot',
 'p3h',
 'p3i',
 'p3j',
 'p3k1',
 'p3k2',
 'p3l1',
 'p3l2',
 'p3l3',
 'p3l4',
 'p3l5',
 'p3l9',
 'p3m1',
 'p3m2',
 'p3m3',
 'p3m4',
 'p3m5',
 'p3m6',
 'p3m7',
 'p3m8',
 'p3m9',
 'p3n',
 'p3o',
 'p3p1',
 'p3p2',
 'p3q',
 'p3r_anio',
 'p3r_mes',
 'p3r',
 'p3s',
 'p3t_anio',
 'p3t_mes',
 'p4',
 'p4_1',
 'p4_2',
 'p4_3',
 'p4a',
 'p4a_1',
 'p4b',
 'p4c',
 'p4d1',
 'p4d2',
 'p4d3',
 'p4e',
 'p4f',
 'p4g',
 'p4h',
 'p4i',
 'p4i_1',
 'p5',
 'p5a',
 'p5b',
 'p5c_hlu',
 'p5c_mlu',
 'p5c_hma',
 'p5c_mma',
 'p5c_hmi',
 'p5c_mmi',
 'p5c_hju',
 'p5c_mju',
 'p5c_hvi',
 'p5c_mvi',
 'p5c_hsa',
 'p5c_msa',
 'p5c_hdo',
 'p5c_mdo',
 'p5c_thrs',
 'p5c_tdia',
 'p5d',
 'p5e1',
 'p5e_hlu',
 'p5e_mlu',
 'p5e_hma',
 'p5e_mma',
 'p5e_hmi',
 'p5e_mmi',
 'p5e_hju',
 'p5e_mju',
 'p5e_hvi',
 'p5e_mvi',
 'p5e_hsa',
 'p5e_msa',
 'p5e_hdo',
 'p5e_mdo',
 'p5e_thrs',
 'p5e_tdia',
 'p5f',
 'p5g1',
 'p5g2',
 'p5g3',
 'p5g4',
 'p5g5',
 'p5g6',
 'p5g7',
 'p5g8',
 'p5g9',
 'p5g10',
 'p5g11',
 'p5g12',
 'p5g13',
 'p5g14',
 'p5g15',
 'p5g99',
 'p5h',
 'ur',
 'fac']

In [8]:
df.dtypes

r_def        float64
cd_a         float64
ent          float64
con          float64
upm          float64
d_sem        float64
n_pro_viv    float64
v_sel        float64
n_hog        float64
h_mud        float64
n_ent        float64
per          float64
n_ren        float64
eda          float64
n_inf        float64
p1           float64
p1a1          object
p1a2          object
p1a3          object
p1b           object
p1c          float64
p1d           object
p1e           object
p2_1          object
p2_2          object
p2_3          object
p2_4          object
p2_9          object
p2a_dia      float64
p2a_sem       object
              ...
p5e_hju      float64
p5e_mju      float64
p5e_hvi      float64
p5e_mvi      float64
p5e_hsa      float64
p5e_msa      float64
p5e_hdo      float64
p5e_mdo      float64
p5e_thrs     float64
p5e_tdia      object
p5f          float64
p5g1         float64
p5g2         float64
p5g3         float64
p5g4         float64
p5g5         float64
p5g6         float64
p5g7         float64
p5g8         float64
p5g9         float64
p5g10        float64
p5g11        float64
p5g12        float64
p5g13        float64
p5g14        float64
p5g15        float64
p5g99        float64
p5h           object
ur           float64
fac          float64
Length: 186, dtype: object

## Copia de df

In [9]:
df_copy_20151 = df.copy()

In [10]:
df_copy_20151.shape

(1048575, 186)

## Verificando si tenemos datos faltantes

In [11]:
df.notnull()

,r_def,cd_a,ent,con,upm,d_sem,n_pro_viv,v_sel,n_hog,h_mud,...,p5g10,p5g11,p5g12,p5g13,p5g14,p5g15,p5g99,p5h,ur,fac
0,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
5,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
6,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
7,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
8,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,True,False,True,True,True
9,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
10,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
11,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
12,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
13,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
14,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
15,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
16,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
17,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
18,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
19,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
20,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
21,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
22,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,True,False,True,True,True
23,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
24,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
25,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
26,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,True,False,True,True,True
27,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
28,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,True,True,True
29,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048545,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048546,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048547,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048548,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048549,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048550,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048551,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048552,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048553,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048554,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048555,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048556,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048557,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048558,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048559,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048560,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048561,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,True,False,False,True,True
1048562,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048563,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048564,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048565,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048566,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048567,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,True,False,False,True,True
1048568,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048569,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048570,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,True,True
1048571,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048572,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048573,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,True,False,False,False,True,True
1048574,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

## Columnas con datos completos (complete data) y faltantes (missing data)

In [12]:
df_copy_20151.notnull().all()

r_def        False
cd_a         False
ent          False
con          False
upm          False
d_sem        False
n_pro_viv    False
v_sel        False
n_hog        False
h_mud        False
n_ent        False
per          False
n_ren        False
eda          False
n_inf        False
p1           False
p1a1         False
p1a2         False
p1a3         False
p1b          False
p1c          False
p1d          False
p1e          False
p2_1         False
p2_2         False
p2_3         False
p2_4         False
p2_9         False
p2a_dia      False
p2a_sem      False
             ...
p5e_hju      False
p5e_mju      False
p5e_hvi      False
p5e_mvi      False
p5e_hsa      False
p5e_msa      False
p5e_hdo      False
p5e_mdo      False
p5e_thrs     False
p5e_tdia     False
p5f          False
p5g1         False
p5g2         False
p5g3         False
p5g4         False
p5g5         False
p5g6         False
p5g7         False
p5g8         False
p5g9         False
p5g10        False
p5g11        False
p5g12        False
p5g13        False
p5g14        False
p5g15        False
p5g99        False
p5h          False
ur           False
fac          False
Length: 186, dtype: bool

In [13]:
df_copy_20151 = df_copy_20151.fillna(value=99)

In [14]:
df_copy_20151.head()

,r_def,cd_a,ent,con,upm,d_sem,n_pro_viv,v_sel,n_hog,h_mud,...,p5g10,p5g11,p5g12,p5g13,p5g14,p5g15,p5g99,p5h,ur,fac
0,0.0,1.0,9.0,40001.0,900471.0,101.0,15.0,1.0,1.0,0.0,...,99.0,99.0,99.0,99.0,14.0,99.0,99.0,,1.0,422.0
1,0.0,1.0,9.0,40001.0,900471.0,101.0,15.0,1.0,1.0,0.0,...,99.0,99.0,99.0,99.0,14.0,99.0,99.0,,1.0,422.0
2,0.0,1.0,9.0,40001.0,900471.0,101.0,15.0,1.0,1.0,0.0,...,99.0,99.0,99.0,99.0,14.0,99.0,99.0,,1.0,422.0
3,0.0,1.0,9.0,40001.0,900471.0,101.0,15.0,1.0,1.0,0.0,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,,1.0,422.0
4,0.0,1.0,9.0,40001.0,900471.0,101.0,38.0,2.0,1.0,0.0,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,,1.0,422.0

## Resultado definitivo de la entrevista (r_def)

0 Entrevista completa

In [15]:
df_copy_20151['r_def'] = df_copy_20151['r_def'].astype('int64')
df_copy_20151.r_def.value_counts()

0     1048574
99          1
Name: r_def, dtype: int64

## Ciudad autorrepresentada (cd_a)
1 México 2 Guadalajara 3 Monterrey 4 Puebla 5 León 6 Torreón (a partir de 2017) 7 San Luis Potosí 8 Mérida 9 Chihuahua 10 Tampico 12 Veracruz 13 Acapulco 14 Aguascalientes 15 Morelia 16 Toluca 17 Saltillo 18 Villahermosa 19 Tuxtla Gutiérrez 21 Tijuana 24 Culiacán 25 Hermosillo 26 Durango 27 Tepic 28 Campeche 29 Cuernavaca 31 Oaxaca 32 Zacatecas 33 Colima 36 Querétaro 39 Tlaxcala 40 La Paz 41 Cancún 43 Pachuca 81 Complemento urbano-rural 82 Complemento urbano-rural 83 Complemento urbano-rural 84 Complemento urbano-rural 85 Complemento urbano-rural 86 Complemento urbano-rural

In [16]:
df_copy_20151['cd_a'] = df_copy_20151['cd_a'].astype('int64')
df_copy_20151.cd_a.value_counts()

86    139331
81     70091
1      50637
83     50368
84     47105
85     37040
5      34646
2      32726
3      32605
4      31581
16     24289
82     23986
15     22335
14     21885
7      21821
24     21735
17     21277
19     21079
18     21051
8      20597
9      20060
25     20010
13     19582
21     19573
26     18756
10     18589
39     18079
12     17185
31     16808
27     16283
32     16111
29     15620
36     15242
33     14829
43     14792
28     14431
41     13546
40     12893
99         1
Name: cd_a, dtype: int64

## Entidad (ent)
1 Aguascalientes 2 Baja California 3 Baja California Sur 4 Campeche 5 Coahuila de Zaragoza 6 Colima 7 Chiapas 8 Chihuahua 9 Distrito Federal 10 Durango 11 Guanajuato 12 Guerrero 13 Hidalgo 14 Jalisco 15 México 16 Michoacán de Ocampo 17 Morelos 18 Nayarit 19 Nuevo León 20 Oaxaca 21 Puebla 22 Querétaro 23 Quintana Roo 24 San Luis Potosí 25 Sinaloa 26 Sonora 27 Tabasco 28 Tamaulipas 29 Tlaxcala 30 Veracruz de Ignacio de la Llave 31 Yucatán 32 Zacatecas

In [17]:
df_copy_20151['ent'] = df_copy_20151['ent'].astype('int64')
df_copy_20151.ent.value_counts()

15    54880
11    48898
21    43692
14    42706
19    40627
7     37859
30    35420
16    34645
5     34047
1     33871
12    33731
24    33730
2     33557
27    33272
25    32961
20    32584
31    31951
8     31918
9     31502
28    30359
26    30277
32    28980
10    28706
29    28583
18    27654
22    26663
4     26657
17    25623
13    25031
6     24807
23    22751
3     20632
99        1
Name: ent, dtype: int64

## Control (con)
Primer dígito Ámbito del número de control 0 El control pertenece a la muestra anterior 4 Ciudades autorrepresentadas 5 Complemento urbano 6 Rural

Los últimos cuatro Consecutivo por entidad dígitos y ámbito 0001-9999 ]

In [18]:
df_copy_20151['con'] = df_copy_20151['con'].astype('int64')
df_copy_20151.con.value_counts()

60002    5443
60004    5117
60006    5020
60003    5014
60005    4985
60001    4941
60013    4933
60012    4900
60008    4900
60011    4857
60007    4853
60014    4831
60009    4822
60010    4793
60015    4706
50007    3757
60016    3691
60017    3662
50008    3550
50016    3529
60018    3457
50010    3390
60020    3388
50014    3383
60019    3373
60022    3361
50029    3344
50023    3331
50025    3303
50009    3279
         ...
40617      42
50270      42
40603      41
50244      41
50257      40
40624      40
50265      36
40609      35
40606      34
40604      34
50259      34
40636      33
40627      33
40637      32
40631      32
50258      32
50268      32
50266      31
40601      31
40634      30
40610      29
50261      29
40611      28
50263      26
50267      26
50260      20
50264      20
40613      12
40629      12
99          1
Name: con, Length: 1382, dtype: int64

## Unidad primaria de muestreo (upm)
0100001-3299999 Número de la unidad primaria de muestreo

In [19]:
df_copy_20151['upm'] = df_copy_20151['upm'].astype('int64')
df_copy_20151.upm.value_counts()

2107921    268
460169     250
1160872    249
3202317    239
3104127    238
1261319    237
2901145    237
1520943    236
3102796    235
1108161    232
704588     231
160215     229
2960130    228
2701731    228
2001127    227
1526668    227
2460665    227
1562014    226
1461148    225
3061392    223
860591     221
2761026    220
1161107    219
2960066    219
1524857    218
102351     218
762502     216
3103005    216
1204400    216
102330     216
          ...
2501911      6
1404264      6
902786       6
3001079      6
2302167      6
1200754      6
3000207      6
1202343      6
919166       5
1700210      5
804807       5
2806636      5
2808462      5
2300755      5
1201599      4
2105397      4
3000087      4
3004197      4
2800693      4
3102149      4
2801177      4
2301629      3
1514922      3
1702785      3
1701897      3
101879       2
2800542      2
2202100      2
702105       2
99           1
Name: upm, Length: 19340, dtype: int64

## Distribución semanal(D_SEM)¶
Primer dígito 1-500

In [20]:
df_copy_20151['d_sem'] = df_copy_20151['d_sem'].astype('int64')
df_copy_20151.d_sem.value_counts()

503    36003
403    35672
102    35411
101    35372
103    35356
501    35253
402    35230
302    35043
301    34981
203    34955
502    34751
202    34725
201    34468
401    34262
303    34140
110    10987
304    10862
510    10807
408    10797
504    10779
111    10701
205    10674
409    10674
509    10645
109    10630
413    10616
112    10594
310    10594
104    10585
507    10576
       ...
512    10498
412    10494
207    10492
505    10484
311    10465
406    10415
211    10401
312    10388
407    10386
306    10373
305    10369
206    10367
107    10366
511    10360
404    10356
113    10351
410    10339
405    10327
308    10286
212    10263
106    10259
307    10255
506    10204
513    10187
108    10167
309    10162
210    10132
508    10046
209    10011
99         1
Name: d_sem, Length: 66, dtype: int64

## Número progresivo de la vivienda (N_PRO_VIV)
Número progresivo de la vivienda 0001-9999

Número progresivo de la vivienda en el listado 0001-9999

In [21]:
df_copy_20151['n_pro_viv'] = df_copy_20151['n_pro_viv'].astype('int64')
df_copy_20151.n_pro_viv.value_counts()

38     7889
59     7816
14     7784
18     7727
67     7727
22     7647
20     7643
2      7633
43     7627
3      7572
34     7561
47     7547
70     7524
51     7518
39     7511
63     7502
31     7493
36     7485
78     7450
11     7440
92     7439
72     7428
74     7419
24     7414
5      7413
62     7411
48     7392
29     7388
19     7370
86     7364
       ...
460       6
494       6
446       5
478       5
842       5
469       5
549       5
522       4
508       4
514       4
648       4
485       4
526       4
552       4
530       4
540       4
451       4
559       3
546       3
532       3
456       3
430       3
618       3
536       2
534       2
600       2
499       2
573       2
466       2
556       1
Name: n_pro_viv, Length: 541, dtype: int64

## Vivienda seleccionada (V_SEL)
01-99 seleccionada

In [22]:
df_copy_20151['v_sel'] = df_copy_20151['v_sel'].astype('int64')
df_copy_20151.v_sel.value_counts()

1     166999
3     165278
4     165007
2     164968
5     163534
8      15153
17     15052
6      14992
13     14968
14     14832
15     14828
12     14794
9      14793
16     14783
11     14715
7      14688
18     14642
10     14612
19     14265
20     13841
21      1244
22       438
23       136
24        12
99         1
Name: v_sel, dtype: int64

## Número de hogar (n_hog)
1 Número de hogar principal dentro de la vivienda
2-9 Número de hogar adicional dentro de la vivienda

In [23]:
df_copy_20151['n_hog'] = df_copy_20151['n_hog'].astype('int64')
df_copy_20151.n_hog.value_counts()

1     1043367
2        4442
3         624
4         121
5          18
6           2
99          1
Name: n_hog, dtype: int64

## Hogar mudado (h_mud)
0-4 Número de veces que el hogar se ha mudado

In [24]:
df_copy_20151['h_mud'] = df_copy_20151['h_mud'].astype('int64')
df_copy_20151.h_mud.value_counts()

0     1017654
1       27823
2        2907
3         178
4          12
99          1
Name: h_mud, dtype: int64

## Número de entrevista o visita (n_ent)
1-5 Número de entrevista o visita realizada a la vivienda

In [25]:
df_copy_20151['n_ent'] = df_copy_20151['n_ent'].astype('int64')
df_copy_20151.n_ent.value_counts()

1     212410
2     210954
3     209093
5     208168
4     207949
99         1
Name: n_ent, dtype: int64

## Periodo (per)
Primer dígito, 1-4
Primer dígito Trimestre de año 1 Enero-Marzo 2 Abril-Junio 3 Julio-Septiembre 4 Octubre-Diciembre

Segundo y tercer dígito 05-99 Año en curso

In [26]:
df_copy_20151['per'] = df_copy_20151['per'].astype('int64')
df_copy_20151.per.value_counts()

216    309697
116    309387
316    305048
416    124442
99          1
Name: per, dtype: int64

## Número de renglón (n_ren)
01-30 Número de renglón del integrante del hogar

In [27]:
df_copy_20151['n_ren'] = df_copy_20151['n_ren'].astype('int64')
df_copy_20151.n_ren.value_counts()

1     357144
2     314923
3     182091
4     106627
5      48411
6      20747
7       9352
8       4458
9       2250
10      1156
11       636
12       344
13       190
14       110
15        50
16        25
17        17
18        16
19        12
20        10
25         3
21         2
99         1
Name: n_ren, dtype: int64

## Edad (eda)
00 Menores de 1 año 01-96 Número de años cumplidos del integrante del hogar 97 97 años y más 98 Edad no especificada para mayores (12 años y más) 99 Edad no especificada para menores (00 a 11 años)

In [28]:
df_copy_20151['eda'] = df_copy_20151['eda'].astype('int64')
df_copy_20151.eda.value_counts()

15    25704
16    24910
18    24585
13    24257
14    24107
17    23726
12    23604
23    23248
20    23201
21    23190
22    23023
19    22667
25    21695
24    21432
26    20774
40    20436
30    20301
28    19748
36    19422
27    19356
35    19141
43    19078
33    18953
38    18880
31    18771
41    18732
39    18582
29    18504
42    18236
32    18060
      ...
69     5556
71     5189
73     4961
72     4671
74     4337
76     4305
75     4294
77     3386
80     3143
78     3113
79     2974
81     2447
83     2036
82     1959
84     1842
85     1815
86     1662
87     1170
88     1031
90      817
89      770
91      538
98      511
97      483
93      419
92      393
94      340
95      284
96      188
99        1
Name: eda, Length: 88, dtype: int64

## Renglón del Informante (n_inf)
01-30, 97, 99 Número de renglón del informante

In [29]:
df_copy_20151['n_inf'] = df_copy_20151['n_inf'].astype('int64')
df_copy_20151.n_inf.value_counts()

2     464753
1     383031
3     101097
4      52854
5      23769
6      11096
7       5442
8       2689
9       1443
10       717
99       531
11       363
97       278
12       259
13        99
14        76
19        23
15        20
16        13
17        11
18        10
25         1
Name: n_inf, dtype: int64

## Pregunta 1: Ahora le voy a preguntar por la situación laboral de …¿La semana pasada trabajó por lo menos una hora? (P1)
1 Sí 2 No

In [30]:
df_copy_20151['p1'] = df_copy_20151['p1'].astype('int64')
df_copy_20151.p1.value_counts()

1     549985
2     498589
99         1
Name: p1, dtype: int64

## Opción 1: realizó una actividad que le proporcionó ingresos? (P1A1)
1 Sí realizó una actividad que le proporcionó ingresos? 
9 No aplica

In [31]:
 df_copy_20151['p1a1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [32]:
df_copy_20151['p1a1'] = df_copy_20151['p1a1'].astype('int64')
df_copy_20151.p1a1.value_counts()

99    1044289
1        4286
Name: p1a1, dtype: int64

## Opción 2: ayudar en las tierras o en el negocio de un familiar o de otra persona? (p1a2)

2 Sí ayudó en las tierras o en el negocio de un familiar o de otra persona?
99  No aplica

In [33]:
df_copy_20151['p1a2'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [34]:
df_copy_20151['p1a2'] = df_copy_20151['p1a2'].astype('int64')
df_copy_20151.p1a2.value_counts()

99    1043504
2        5071
Name: p1a2, dtype: int64

## Opción 3: no trabajó la semana pasada (p1a3)
3 No trabajó la semana pasada  
99 No aplica

In [35]:
df_copy_20151['p1a3'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [36]:
df_copy_20151['p1a3'] = df_copy_20151['p1a3'].astype('int64')
df_copy_20151.p1a3.value_counts()

99    559341
3     489234
Name: p1a3, dtype: int64

##  Pregunta 1b: Aunque ya me dijo que ... no trabajó la semana pasada, ¿tiene algún empleo negocio o realiza alguna actividad por  su cuenta? (p1b)
 1 Si
 2 No 
 99 No se sabe

In [37]:
df_copy_20151['p1b'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [38]:
df_copy_20151['p1b'] = df_copy_20151['p1b'].astype('int64')
df_copy_20151.p1b.value_counts()

99    559341
2     457263
1      31971
Name: p1b, dtype: int64

## Pregunta 1c: ¿Cuál Carácter es la razón principal por la que ... no trabajó la semana pasada? (p1c)
01 Huelga o paro laboral 02 Paro técnico 03 Suspensión temporal de sus funciones (asalariado) 04 Asistencia a cursos de capacitación 05 Vacaciones 06 Permiso, enfermedad o arreglo de asuntos personales 07 Falta de vehículo o descompostura de maquinaria 08 Falta de materias primas,financiamiento o clientes 09 Mal tiempo o fenómeno natural 10 Término de temporada de trabajo o cultivo 11 Comenzará un trabajo o negocio nuevo 12 Otra razón 99 No sabe

In [39]:
df_copy_20151['p1c'] = df_copy_20151['p1c'].astype('int64')
df_copy_20151.p1c.value_counts()

99    1016657
5        9109
6        8706
8        8128
10       2495
12       1286
9         708
11        592
7         350
1         218
3         189
4          89
2          48
Name: p1c, dtype: int64

## Pregunta 1d: Durante esre periodo de ausencia ¿... recibe sueldo o ganancias? (p1d)

1 Sí
2 No
99 No sabe

In [40]:
df_copy_20151['p1d'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [41]:
df_copy_20151['p1d'] = df_copy_20151['p1d'].astype('int64')
df_copy_20151.p1d.value_counts()

99    1017740
2       21046
1        9704
9          85
Name: p1d, dtype: int64

In [42]:
df_copy_20151['p1d'].replace(to_replace=['9', '99'],value='99',inplace=True)

## Pregunta 1e: ¿En ¿cuánto tiempo regresará... a este semana ? mismi trabajo?(p1e)

1 Ya se reincorporó o regresara a trabajar esta 
2 En cuantro semanas o menos
3 En más de cuatro  semanas
4 No hay seguridad de que regrese a trabajar  o cuándo reinicie su actividad?
5 No regresará
99 No sabe

In [43]:
df_copy_20151['p1e'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [44]:
df_copy_20151['p1e'] = df_copy_20151['p1e'].astype('int64')
df_copy_20151.p1e.value_counts()

99    1027444
2       10052
1        5358
3        2687
4        2373
9         624
5          37
Name: p1e, dtype: int64

In [45]:
df_copy_20151['p1e'].replace(to_replace=['9', '99'],value='99',inplace=True)

## Opción 1: buscar trabajo en otro país o hacer preparativos para cruzar la frontera ? (p2_1)

1 Sí buscó trabajo aquí en el país 
99 No sabe

In [46]:
df_copy_20151['p2_1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [47]:
df_copy_20151['p2_1'] = df_copy_20151['p2_1'].astype('int64')
df_copy_20151.p2_1.value_counts()

99    1048307
1         268
Name: p2_1, dtype: int64

## Opción 2: buscar trabajo aquí en el país (p2_2)

2 Buscó trabajo aquí en el país
99 No sabe

In [48]:
df_copy_20151['p2_2'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [49]:
df_copy_20151['p2_2'] = df_copy_20151['p2_2'].astype('int64')
df_copy_20151.p2_2.value_counts()

99    1023442
2       25133
Name: p2_2, dtype: int64

## Opción 3: poner un negocio o realizar una actividad por su cuenta sin poder todavía comenzar? (p2_3)

3 Sí trato de poner un negocio o realizo una activida por su cuenta sin poder todavía comenzar?
99 No sabe

In [50]:
df_copy_20151['p2_3'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [51]:
df_copy_20151['p2_3'] = df_copy_20151['p2_3'].astype('int64')
df_copy_20151.p2_3.value_counts()

99    1048155
3         420
Name: p2_3, dtype: int64

## Opción 4: ¿no ha tratado de buscar tranajo ?(p2_4)
4 Entonces, ¿no ha tratado de buscar trabajo? 99 No aplica

In [52]:
df_copy_20151['p2_4'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [53]:
df_copy_20151['p2_4'] = df_copy_20151['p2_4'].astype('int64')
df_copy_20151.p2_4.value_counts()

99    600760
4     447815
Name: p2_4, dtype: int64

## Opción 9: No sabe (p2_9)
9 No sabe 99 aplica

In [54]:
df_copy_20151['p2_9'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [55]:
df_copy_20151['p2_9'] = df_copy_20151['p2_9'].astype('int64')
df_copy_20151.p2_9.value_counts()

99    1048525
9          50
Name: p2_9, dtype: int64

# Pregunta 2A: ¿En qué fecha comenzó … a buscar trabajo (o comenzó con los preparativos para poner el negocio)?

## Día en que comenzó (p2a_dia) 
1 -31 Día en qué comenzó 
9 No se sabe

In [56]:
df_copy_20151['p2a_dia'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [57]:
df_copy_20151['p2a_dia'] = df_copy_20151['p2a_dia'].astype('int64')
df_copy_20151.p1c.value_counts()

99    1016657
5        9109
6        8706
8        8128
10       2495
12       1286
9         708
11        592
7         350
1         218
3         189
4          89
2          48
Name: p1c, dtype: int64

## Sema en que comenzó (p2a_sem)
1-4 Semana qué comenzo 99 No sabe

In [58]:
df_copy_20151['p2a_sem'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [59]:
df_copy_20151['p2a_sem'] = df_copy_20151['p2a_sem'].astype('int64')
df_copy_20151.p2a_sem.value_counts()

99    1037774
1        4499
2        2281
4        1550
9        1509
3         962
Name: p2a_sem, dtype: int64

## Mes en que comenzó (p2a_mes) 
1 Comenzó en enero
2 Comenzó en febrero
03 Comenzó en marzo
04 Comenzó en abril
05 Comenzó en mayo
06 Comenzó en junio
07 Comenzó en julio
08 Comenzó en agosto
09 Comenzó en septiembre
10 Comenzó en octubre
11 Comenzó en noviembre
12 Comenzó en diciembre
99 No sabe

In [60]:
df_copy_20151['p2a_mes'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [61]:
df_copy_20151['p2a_mes'] = df_copy_20151['p2a_mes'].astype('int64')
df_copy_20151.p2a_mes.value_counts()

99    1022894
1        3919
6        2493
5        2454
8        2342
7        2324
2        2296
3        2166
4        2165
9        1577
12       1432
11       1283
10       1230
Name: p2a_mes, dtype: int64

## Año en que comenzó (p2a_anio)
1950- año actual 9999 No sabe

In [62]:
df_copy_20151['p2a_anio'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [63]:
df_copy_20151['p2a_anio'] = df_copy_20151['p2a_anio'].astype('int64')
df_copy_20151.p2a_anio.value_counts()

99      1022812
2016      22145
2015       3358
2014        108
2010         37
2013         35
2012         23
2011         20
2006         12
9999          9
2009          7
2008          2
2005          2
2004          2
2001          2
2017          1
Name: p2a_anio, dtype: int64

# Pregunta 2B: ¿En qué fecha fue la última vez que … buscó trabajo (o terminó con los preparativos para poner el negocio)?

# Día en que terminó (p2b_dia)
1-31 Día en que terminoo 99 No sabe

In [64]:
df_copy_20151['p2b_dia'] = df_copy_20151['p2b_dia'].astype('int64')
df_copy_20151.p2b_dia.value_counts()

99    1027964
15       1311
20       1003
18        875
10        819
8         797
22        796
5         791
25        750
4         744
1         739
30        733
12        722
28        667
2         665
11        664
29        643
26        641
6         634
7         628
9         621
16        606
19        604
14        591
13        523
3         514
23        498
27        495
21        469
17        409
24        397
31        262
Name: p2b_dia, dtype: int64

## Semana en que terminó (p2b_sem)
1-4 Semana en que termino 99 nose sabe

In [65]:
df_copy_20151['p2b_sem'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [66]:
df_copy_20151['p2b_sem'] = df_copy_20151['p2b_sem'].astype('int64')
df_copy_20151.p2b_sem.value_counts()

99    1043423
1        1589
4        1212
2        1205
3         654
9         492
Name: p2b_sem, dtype: int64

##  Mes en que terminó(p2b_mes)  
01 Terminó en enero
02 Terminó en febrero
03 Terminó en marzo
04 Terminó en abril
05 Terminó en mayo
06 Terminó en junio
07 Terminó en julio
08 Terminó en agosto
09 Terminó en septiembre
10 Terminó en octubre
11 Terminó en noviembre
12 Terminó en diciembre
99 No sabe

In [67]:
df_copy_20151['p2b_mes'] = df_copy_20151['p2b_mes'].astype('int64')
df_copy_20151.p2b_mes.value_counts()

99    1022824
8        2681
2        2554
5        2539
1        2512
6        2507
4        2437
7        2425
3        2409
9        2207
10       1204
12       1197
11       1079
Name: p2b_mes, dtype: int64

## Año en que terminó (p2b_anio)

1950-año actual Año en que terminó
9999 No sabe

In [68]:
df_copy_20151['p2b_anio'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [69]:
df_copy_20151['p2b_anio'] = df_copy_20151['p2b_anio'].astype('int64')
df_copy_20151.p2b_anio.value_counts()

99      1022812
2016      25053
2015        690
2014          8
9999          6
2013          2
2012          2
2017          1
2010          1
Name: p2b_anio, dtype: int64

## ¿En qué fecha fue la última vez que... buscó trabajo (o terminó conlos preparativos para poner el negocio)? (p2b)
 
1 Hasta 1 mes
2 Más de  1 hasta 2 meses
3 Mas de 2 has 3 meses
4 Más de 3 meses
99 No sabe

In [70]:
df_copy_20151['p2b'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [71]:
df_copy_20151['p2b'] = df_copy_20151['p2b'].astype('int64')
df_copy_20151.p2b.value_counts()

99    1022812
1       24023
2        1103
4         326
3         302
9           9
Name: p2b, dtype: int64

##  ¿... estaba dispuesto a trabajar la semana pasada?(p2c)
1 Si
2 No
99 No sabe

In [72]:
df_copy_20151['p2c'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [73]:
df_copy_20151['p2c'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [74]:
df_copy_20151['p2c'] = df_copy_20151['p2c'].astype('int64')
df_copy_20151.p2c.value_counts()

99    1023162
1       25116
2         297
Name: p2c, dtype: int64

# Pregunta 2D: ¿Adónde acudió o que hizo…para buscar empleo (o iniciar un negocio o actividad por su cuenta)?

## Opción 1: acudió directamente al lugar de trabajo (p2d1)
1 Si acudió directamente al lugar de trabajo
99 No sabe

In [75]:
df_copy_20151['p2d1'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [76]:
df_copy_20151['p2d1'] = df_copy_20151['p2d1'].astype('int64')
df_copy_20151.p2d1.value_counts()

99    1030456
1       18119
Name: p2d1, dtype: int64

## Opción 2: hizo trámites en una agencia o bolsa de trabajo privada (p2d2)
2 Si hizo trámites en una agencia o bolsa de trabajo privada
99 No sabe

In [77]:
df_copy_20151['p2d2'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [78]:
df_copy_20151['p2d2'] = df_copy_20151['p2d2'].astype('int64')
df_copy_20151.p2d2.value_counts()

99    1048314
2         261
Name: p2d2, dtype: int64

## Opción 3: hizo trámites en un servicio público de colocación (p2d3)
3 Sí hizo trámites en un servicio público de colocación
99 No se sabe

In [79]:
df_copy_20151['p2d3'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [80]:
df_copy_20151['p2d3'] = df_copy_20151['p2d3'].astype('int64')
df_copy_20151.p2d3.value_counts()

99    1048159
3         416
Name: p2d3, dtype: int64

## opción 4: hizo trámirtes en algún programa de empleo temporal del gobierno(p2d4)

4 Sí hizo trámites en algún programa de empleo temporal del gobierno
99 No se sabe

In [81]:
df_copy_20151['p2d4'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [82]:
df_copy_20151['p2d4'] = df_copy_20151['p2d4'].astype('int64')
df_copy_20151.p2d4.value_counts()

99    1048300
4         275
Name: p2d4, dtype: int64

## Opción 5: hizo trámites o realizo alguna actividad para iniciar un negocio por su cuenta (p2d5)
5 Si hizo trámites o realizó alguna actividad para iniciar un negocio por su cuenta 
99 No sabe

In [83]:
df_copy_20151['p2d5'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [84]:
df_copy_20151['p2d5'] = df_copy_20151['p2d5'].astype('int64')
df_copy_20151.p2d5.value_counts()

99    1048289
5         286
Name: p2d5, dtype: int64

## Opción 6: puso o contestó un anuncio en internet  (p2d6)

6 Si puso o contestó un anuncio en internet 
99 No sabe

In [85]:
df_copy_20151['p2d6'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [86]:
df_copy_20151['p2d6'] = df_copy_20151['p2d6'].astype('int64')
df_copy_20151.p2d6.value_counts()

99    1044520
6        4055
Name: p2d6, dtype: int64

## Opción 7: puso o contestó un anuncio en algún lugar público o en medios de comunicación (periodico,radio)  (p2d7)
7 Sí puso o contestó un anuncio en algún lugar público o en medios de comunicación (periódo, radio)
99 No sabe

In [87]:
df_copy_20151['p2d7'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [88]:
df_copy_20151['p2d7'] = df_copy_20151['p2d7'].astype('int64')
df_copy_20151.p2d7.value_counts()

99    1046809
7        1766
Name: p2d7, dtype: int64

## Opción 8: acudió a un sindicato o gremio (p2d8)
8 Si acudió a un sindicato o gremio 
99 No sabe

In [89]:
df_copy_20151['p2d8'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [90]:
df_copy_20151['p2d8'] = df_copy_20151['p2d8'].astype('int64')
df_copy_20151.p2d8.value_counts()

99    1048398
8         177
Name: p2d8, dtype: int64

## Opción 9: pidió a conocidfos que lo recomendaran o le avisaran o le avisaran de algun trabajo (p2d9)

9 Sí pidio a conocidos o familiares que lo recomendaran o le avisaran de algún trabajo 
99 No sabe

In [91]:
df_copy_20151['p2d9'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [92]:
df_copy_20151['p2d9'] = df_copy_20151['p2d9'].astype('int64')
df_copy_20151.p2d9.value_counts()

99    1045025
9        3550
Name: p2d9, dtype: int64

## Opción 10: solo consulto el anuncio clasificado (p2d10)
10 Solo consultó el anuncio clasificado
99 No sabe

In [93]:
df_copy_20151['p2d10'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [94]:
df_copy_20151['p2d10'] = df_copy_20151['p2d10'].astype('int64')
df_copy_20151.p2d10.value_counts()

99    1047984
10        591
Name: p2d10, dtype: int64

## Otra actividad (p2d11)
11 Si realizo otra actividad
99 No sabe

In [95]:
df_copy_20151['p2d11'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [96]:
df_copy_20151['p2d11'] = df_copy_20151['p2d11'].astype('int64')
df_copy_20151.p2d11.value_counts()

99    1048471
11        104
Name: p2d11, dtype: int64

## No sabe(p2d99)
99 No sabe

In [97]:
df_copy_20151['p2d99'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [98]:
df_copy_20151['p2d99'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [99]:
df_copy_20151['p2d99'] = df_copy_20151['p2d99'].astype('int64')
df_copy_20151.p2d99.value_counts()

99    1048575
Name: p2d99, dtype: int64

## Pregunta 2e: ¿..es (p2e)

1 Una persona temporalmente ausente de su actividad u oficio
2 pensionado o jubilado de su empleo?
3 estudiante?
4 una persona que se dedica a los quehaceres de su hogar?
5 una persona con alguna  limitación física o mental  que le impide trabajar por  el resto de su vida?
6 Otra condición
99No sabe

In [100]:
df_copy_20151['p2e'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [101]:
df_copy_20151['p2e'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [102]:
df_copy_20151['p2e'] = df_copy_20151['p2e'].astype('int64')
df_copy_20151.p2e.value_counts()

99    600085
4     207042
3     162634
2      37428
6      20967
1      14826
5       5593
Name: p2e, dtype: int64

## Actualmente,¿... tiene necesidad de trabajar?(p2f)
1 sí tiene necesidad de trabajar
2 Solo tiene deseos de trabajar
3 No tiene necesidad no deseos de trabajar
99 No sabe

In [103]:
df_copy_20151['p2f'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [104]:
df_copy_20151['p2f'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [105]:
df_copy_20151['p2f'] = df_copy_20151['p2f'].astype('int64')
df_copy_20151.p2f.value_counts()

99    620647
3     340081
1      75729
2      12118
Name: p2f, dtype: int64

## Hay alguna otra razon, además de ser(menciona lo que contstaron en p2e) por la que ... no este buscando trabajo (p2g1)

1 Sí
2 No
99 No sabe

In [106]:
df_copy_20151['p2g1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [107]:
df_copy_20151['p2g1'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [108]:
df_copy_20151['p2g1'] = df_copy_20151['p2g1'].astype('int64')
df_copy_20151.p2g1.value_counts()

99    960682
2      51347
1      36546
Name: p2g1, dtype: int64

## **  Opciones de respuesta cuando p2g1= 1 (p2g2)
 
1 Está esperando la respuesta a una solicitud o está apaladrando con un patrón que lo llamará en fecha próxima
2 No hay trabajo en su especialidad, oficio o profesión
3 No cuenta con la escolaridad, los papeles o la experiencia necesaria para realizar un trabajo
4 Piensa que por su edad o por su aspecto no lo aceptarían en un trabajo
5 En su localidad no hay trabajo o sólo se realiza en ciertas temporadas del año
6 La inseguridad pública o el exceso de trámites lo desalientan a iniciar una actividad
7 Espera recuperarse de una enfermedad o accidente
8 Está embarazada
9 No tiene quién le cuide a sus hijos pequeños,ancianos o enfermos
10 No lo(a) deja un familiar
11 Otras razones de mercado
12 Otras razones personales
99 No sabe

In [109]:
df_copy_20151['p2g2'] = df_copy_20151['p2g2'].astype('int64')
df_copy_20151.p2g2.value_counts()

99    1012029
9       15576
4        6427
12       3825
7        3488
5        2726
10       2232
8         814
3         752
1         232
11        202
2         191
6          81
Name: p2g2, dtype: int64

# Pregunta 2H: ¿…ha trabajado alguna vez en su vida

## Opción 1: una pago o salario?(p2h1)
1 por un pago o salario ?
99 No sabe

In [110]:
df_copy_20151['p2h1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [111]:
df_copy_20151['p2h1'] = df_copy_20151['p2h1'].astype('int64')
df_copy_20151.p2h1.value_counts()

99    845298
1     203277
Name: p2h1, dtype: int64

## Opción 2: por su cuenta? (p2h2)
2 por su cuenta
99 No sabe

In [112]:
df_copy_20151['p2h2'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [113]:
df_copy_20151['p2h2'] = df_copy_20151['p2h2'].astype('int64')
df_copy_20151.p2h2.value_counts()

99    1021036
2       27539
Name: p2h2, dtype: int64

## Opción 3: ayudando en el negocio o actividad económica de alguna persona? (p2h3)
3 ayudando en el negocio o actividad económica
99 no sabe

In [114]:
df_copy_20151['p2h3'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [115]:
df_copy_20151['p2h3'] = df_copy_20151['p2h3'].astype('int64')
df_copy_20151.p2h3.value_counts()

99    1040719
3        7856
Name: p2h3, dtype: int64

## Opción 4: nunca ha trabajado (p2h4)

4 Nunca ha trabajado 
99 No aplica

In [116]:
df_copy_20151['p2h4'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [117]:
df_copy_20151['p2h4'] = df_copy_20151['p2h4'].astype('int64')
df_copy_20151.p2h4.value_counts()

99    815387
4     233188
Name: p2h4, dtype: int64

## Opción 9: No sabe (p2h9)
99 No sabe

In [118]:
df_copy_20151['p2h9'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [119]:
df_copy_20151['p2h9'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [120]:
df_copy_20151['p2h9'] = df_copy_20151['p2h9'].astype('int64')
df_copy_20151.p2h9.value_counts()

99    1048575
Name: p2h9, dtype: int64

## * Si... tiene más de un trabajo, hablemos del principal ¿Cuales son las tareas o funciones principales que.... desempeña en su trabajo?(p3)

In [121]:
df_copy_20151['p3'] = df_copy_20151['p3'].astype('int64')
df_copy_20151.p3.value_counts()

99      473629
4211     34969
4111     25192
9611     20990
7121     15407
9221     14888
9111     14398
8342     13452
6111     12622
3115     11723
9621     11295
8341     10802
5114      9105
5313      9095
9521      8958
3111      8712
7513      7857
2332      7248
9512      7159
3121      6821
5116      6487
4224      5927
9411      5884
3132      5811
2632      5740
9231      5503
2121      4960
5111      4951
2512      4722
4221      4686
         ...
8349        14
1324        13
2134        12
4233        11
2234        11
1112        11
1619        11
8162        10
5252        10
2639         9
6119         9
1525         9
1133         8
9732         8
2421         7
2339         6
6999         6
2991         6
2824         5
2334         5
2649         5
2992         4
1129         4
5999         4
2391         4
6231         4
1225         3
2141         3
6129         1
9733         1
Name: p3, Length: 467, dtype: int64

## ¿En su trabajo... tiene un jefe(a) o superior? (p3a)
1 Si
2 No
99 No sabe

In [122]:
df_copy_20151['p3a'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [123]:
df_copy_20151['p3a'] = df_copy_20151['p3a'].astype('int64')
df_copy_20151.p3a.value_counts()

99    473629
1     433917
2     141029
Name: p3a, dtype: int64

## Entonces, ¿... se dedica a un negocio o activida por su cuenta?(p3b)

1 Sí
2 No
99 No sabe

In [124]:
df_copy_20151['p3b'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [125]:
df_copy_20151['p3b'] = df_copy_20151['p3b'].astype('int64')
df_copy_20151.p3b.value_counts()

99    907546
1     139842
2       1187
Name: p3b, dtype: int64

#  Pregunta 3C: ¿…ofrece sus productos o servicios

## Opción 1: a una sola empresa, negocio o intermediario ?(p3c1)

1 a una sola empresa, negocio o intermediario?
99 No sabe

In [126]:
df_copy_20151['p3c1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [127]:
df_copy_20151['p3c1'] = df_copy_20151['p3c1'].astype('int64')
df_copy_20151.p3c1.value_counts()

99    1044108
1        4467
Name: p3c1, dtype: int64

## Opción 2: a varios negocios, empresas o intermediarios? (p3c2)
2 a varios negocios, empresas o intermediarios?
99 No sabe

In [128]:
df_copy_20151['p3c2'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [129]:
df_copy_20151['p3c2'] = df_copy_20151['p3c2'].astype('int64')
df_copy_20151.p3c2.value_counts()

99    1038195
2       10380
Name: p3c2, dtype: int64

## Opción 3: directamente al público? (p3c3)

3 directamente al público?
99 No aplica

In [130]:
df_copy_20151['p3c3'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [131]:
df_copy_20151['p3c3'] = df_copy_20151['p3c3'].astype('int64')
df_copy_20151.p3c3.value_counts()

99    924564
3     124011
Name: p3c3, dtype: int64

## Opción 4: autoconsumo gropecuario (p3c4)

4 Es autoconsumo agropecuario
99 No sabe

In [132]:
df_copy_20151['p3c4'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [133]:
df_copy_20151['p3c4'] = df_copy_20151['p3c4'].astype('int64')
df_copy_20151.p3c4.value_counts()

99    1039987
4        8588
Name: p3c4, dtype: int64

## No sabe (p3c9)
99 No sabe

In [134]:
df_copy_20151['p3c9'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [135]:
df_copy_20151['p3c9'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [136]:
df_copy_20151['p3c9'] = df_copy_20151['p3c9'].astype('int64')
df_copy_20151.p3c9.value_counts()

99    1048575
Name: p3c9, dtype: int64

## ¿... tiene empleados o le ayudan personas en su negocio o actividad?(p3d)

1 Sí
2 No
99 No sabe

In [137]:
df_copy_20151['p3d'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [138]:
df_copy_20151['p3d'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [139]:
df_copy_20151['p3d'] = df_copy_20151['p3d'].astype('int64')
df_copy_20151.p3d.value_counts()

99    908766
2      89742
1      50067
Name: p3d, dtype: int64

## ¿...Tiene (p3e)

1 no solo tipo de negocio (o actividad)?
2 varios tipos de negocios?
99 no sabe

In [140]:
df_copy_20151['p3e'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [141]:
df_copy_20151['p3e'] = df_copy_20151['p3e'].astype('int64')
df_copy_20151.p3e.value_counts()

99    998508
1      49853
2        214
Name: p3e, dtype: int64

## ¿Cuántos puestos o establecimientos (o en su caso vehículos) forman este negocio o empresa?(p3f1)
1 ¿Uno solo?
2 ¿Más de uno?
3 No tiene establecimiento (o vehículo)
99 No sabe

In [142]:
df_copy_20151['p3f1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [143]:
df_copy_20151['p3f1'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [144]:
df_copy_20151['p3f1'] = df_copy_20151['p3f1'].astype('int64')
df_copy_20151.p3f1.value_counts()

99    998525
1      44956
3       4375
2        719
Name: p3f1, dtype: int64

## ¿Cuántos puestos o establecimientos (o en su caso vehículos) forman este negocio o empresa?(p3f2)

2-98 Cantidad de puestos o vehículos
99 No sabe

In [145]:
df_copy_20151['p3f2'] = df_copy_20151['p3f2'].astype('int64')
df_copy_20151.p3f2.value_counts()

99    1047858
2         418
3         165
4          50
5          25
6          17
10         15
9           6
8           4
30          3
20          3
11          2
1           2
98          1
12          1
13          1
18          1
27          1
33          1
70          1
Name: p3f2, dtype: int64

# Pregunta 3G: De las personas que ocupa o le ayudan a…,¿cuántos son

## Opción 1:  trabajadores que reciben un pago?(p3g1_1)
1 trabajadores que reciben un pago?
99 No sabe

In [146]:
df_copy_20151['p3g1_1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [147]:
df_copy_20151['p3g1_1'] = df_copy_20151['p3g1_1'].astype('int64')
df_copy_20151.p3g1_1.value_counts()

99    1022062
1       26513
Name: p3g1_1, dtype: int64

## Número de trabajadores (p3g1_2)
1-998 Número de trabajadores
999 No sabe número de trabajadores

In [148]:
df_copy_20151['p3g1_2'] = df_copy_20151['p3g1_2'].astype('int64')
df_copy_20151.p3g1_2.value_counts()

99     1022064
1        12879
2         6024
3         2570
4         1355
5          974
6          612
10         427
8          306
7          229
20         164
999        163
15         158
12         100
9           82
30          70
25          49
11          44
50          43
40          28
14          25
13          24
18          23
60          19
100         12
150         11
35          10
70          10
16          10
17           9
        ...
80           7
22           7
24           6
23           6
45           4
200          3
28           3
120          2
90           2
19           2
21           2
26           2
39           2
29           2
32           2
27           1
102          1
83           1
85           1
54           1
42           1
98           1
990          1
160          1
185          1
38           1
64           1
340          1
52           1
140          1
Name: p3g1_2, Length: 62, dtype: int64

## Opción 2: socios? (p3g2_1) 
2 socios?
99 No sabe

In [149]:
df_copy_20151['p3g2_1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [150]:
df_copy_20151['p3g2_1'] = df_copy_20151['p3g2_1'].astype('int64')
df_copy_20151.p3g2_1.value_counts()

99    1040529
2        8046
Name: p3g2_1, dtype: int64

## Número de trabajadores  (p3g2_2)
1 - 998 Cantidad en opcion 1 de pregunta 3g
999 No sabe que número de trabajadores

In [151]:
df_copy_20151['p3g2_2'] = df_copy_20151['p3g2_2'].astype('int64')
df_copy_20151.p3g2_2.value_counts()

99     1040529
1         6088
2          973
3          432
4          201
5           91
6           49
8           35
7           33
999         24
10          22
15          12
9           11
13          11
12           9
240          8
11           7
19           5
56           4
16           4
14           4
20           2
200          2
170          2
24           2
27           2
80           2
70           1
140          1
122          1
17           1
60           1
21           1
33           1
30           1
42           1
22           1
40           1
Name: p3g2_2, dtype: int64

## Opción 3: trabajadores sin pago? (p3g3_1)
3 trabajadores sin pago?
99 No sabe

In [152]:
df_copy_20151['p3g3_1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [153]:
df_copy_20151['p3g3_1'] = df_copy_20151['p3g3_1'].astype('int64')
df_copy_20151.p3g3_1.value_counts()

99    1027972
3       20603
Name: p3g3_1, dtype: int64

## * Número de trabajadores (p3g3_2)
1-998 Cantidad en opción 3 de pregunta 3g 
999 No sabe número de trabajadores

In [154]:
df_copy_20151['p3g3_2'] = df_copy_20151['p3g3_2'].astype('int64')
df_copy_20151.p3g3_2.value_counts()

99     1027972
1        15272
2         3711
3         1201
4          305
5           73
6           21
7            8
8            3
999          2
11           2
9            2
20           1
12           1
10           1
Name: p3g3_2, dtype: int64

## *Opción 4: no sabe qué tipo de trabajadores son (p3g4_1)
4 No sabe que tipo de trabajadores son

In [155]:
df_copy_20151['p3g4_1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [156]:
df_copy_20151['p3g4_1'] = df_copy_20151['p3g4_1'].astype('int64')
df_copy_20151.p3g4_1.value_counts()

99    1048559
4          16
Name: p3g4_1, dtype: int64

## Número de trabajadores(p3g4_2)
1-998 Cantidad en opción 4 de pregunta 3g
999 No sabe

In [157]:
df_copy_20151['p3g4_2'] = df_copy_20151['p3g4_2'].astype('int64')
df_copy_20151.p3g4_2.value_counts()

99     1048559
1            6
999          3
3            2
2            2
10           1
5            1
4            1
Name: p3g4_2, dtype: int64

## Opción 9: no sabe (p3g9)
99 No sabe

In [158]:
df_copy_20151['p3g9'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [159]:
df_copy_20151['p3g9'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [160]:
df_copy_20151['p3g9'] = df_copy_20151['p3g9'].astype('int64')
df_copy_20151.p3g9.value_counts()

99    1048575
Name: p3g9, dtype: int64

## Sumatoria de número de trabajadores (p3g_tot)
1-998 Sumatoria de número de trabajadores
999  No sabe

In [161]:
df_copy_20151['p3g_tot'] = df_copy_20151['p3g_tot'].astype('int64')
df_copy_20151.p3g_tot.value_counts()

99     998657
1       28002
2       10541
3        4635
4        2142
5        1291
6         783
10        381
7         363
8         352
999       181
9         147
15        132
12        121
11        121
20        117
13         48
14         44
30         42
16         40
21         38
25         35
50         26
18         25
17         17
22         16
24         14
60         14
23         13
40         13
        ...
72          2
210         2
340         1
310         1
370         1
48          1
38          1
44          1
201         1
200         1
185         1
170         1
153         1
141         1
122         1
116         1
105         1
104         1
103         1
102         1
98          1
85          1
83          1
64          1
63          1
57          1
990         1
54          1
205         1
56          1
Name: p3g_tot, Length: 103, dtype: int64

## ¿En este trabajo ...  (p3h)
1 recibe un pago?
2 es un trabajador no  familiar sin pago?
3 es un trabajador familiar  sin pago?
99 No sabe

In [162]:
df_copy_20151['p3h'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [163]:
df_copy_20151['p3h'] = df_copy_20151['p3h'].astype('int64')
df_copy_20151.p3h.value_counts()

99    613471
1     409212
3      24121
2       1771
Name: p3h, dtype: int64

## ¿En su empleo... Pertenece a algún sindicato? (p3i)

1 Si
2 No 
99 No sabe

In [164]:
df_copy_20151['p3i'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [165]:
df_copy_20151['p3i'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [166]:
df_copy_20151['p3i'] = df_copy_20151['p3i'].astype('int64')
df_copy_20151.p3i.value_counts()

99    644667
2     217289
1     186619
Name: p3i, dtype: int64

##  ¿En su empleo... cuenta con un contrato por escrito?(p3j) 
1 Si
2 No
99 No sabe

In [167]:
df_copy_20151['p3j'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [168]:
df_copy_20151['p3j'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [169]:
df_copy_20151['p3j'] = df_copy_20151['p3j'].astype('int64')
df_copy_20151.p3j.value_counts()

99    931400
1      66210
2      50965
Name: p3j, dtype: int64

## ¿El contrato de .... es ?(p3k1)
1 temporal o por obra determinada?
2 de base, planta o por tienpo indefinido ?
99 No sabe

In [170]:
df_copy_20151['p3k1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [171]:
df_copy_20151['p3k1'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [172]:
df_copy_20151['p3k1'] = df_copy_20151['p3k1'].astype('int64')
df_copy_20151.p3k1.value_counts()

99    982814
2      54066
1      11695
Name: p3k1, dtype: int64

## Desglose de contrato temporal(p3k2)

1 menos de dos meses de dos a seis meses
3 más de seis meses hasta  un año
4 hasta el término de la obra
99 No sabe

In [173]:
df_copy_20151['p3k2'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [174]:
df_copy_20151['p3k2'] = df_copy_20151['p3k2'].astype('int64')
df_copy_20151.p3k2.value_counts()

99    1036880
2        4723
3        3352
4        2113
1        1507
Name: p3k2, dtype: int64

 # Pregunta 3L: En este trabajo, ¿a ... le dan

## Opción 1: aguinaldo ? (p3l1)
1 Aguinaldo?
99 No sabe

In [175]:
df_copy_20151['p3l1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [176]:
df_copy_20151['p3l1'] = df_copy_20151['p3l1'].astype('int64')
df_copy_20151.p3l1.value_counts()

99    971460
1      77115
Name: p3l1, dtype: int64

## Opción 2: vacaciones con goce de sueldo ? (p3l2)
2 vacaciones con goce de sueldo?
99 No sabe

In [177]:
df_copy_20151['p3l2'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [178]:
df_copy_20151['p3l2'] = df_copy_20151['p3l2'].astype('int64')
df_copy_20151.p3l2.value_counts()

99    981909
2      66666
Name: p3l2, dtype: int64

## Opción 3: reparto de utilidades?(p3l3)
3 reparto de utilidades?
99 no sabe

In [179]:
df_copy_20151['p3l3'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [180]:
df_copy_20151['p3l3'] = df_copy_20151['p3l3'].astype('int64')
df_copy_20151.p3l3.value_counts()

99    1027070
3       21505
Name: p3l3, dtype: int64

## Opción 4: ninguna de las anteriores (p3l4)
4 Ninguna de las anteriores
99 No sabe

In [181]:
df_copy_20151['p3l4'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [182]:
df_copy_20151['p3l4'] = df_copy_20151['p3l4'].astype('int64')
df_copy_20151.p3l4.value_counts()

99    1046552
4        2023
Name: p3l4, dtype: int64

## Opción 5: no le dan nada (p3l5)
5 No le dad nada
99 No sabe

In [183]:
df_copy_20151['p3l5'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [184]:
df_copy_20151['p3l5'] = df_copy_20151['p3l5'].astype('int64')
df_copy_20151.p3l5.value_counts()

99    1010512
5       38063
Name: p3l5, dtype: int64

## Opción 9: nos sabe(p3l9)
99 No sabe

In [185]:
df_copy_20151['p3l9'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [186]:
df_copy_20151['p3l9'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [187]:
df_copy_20151['p3l9'] = df_copy_20151['p3l9'].astype('int64')
df_copy_20151.p3l9.value_counts()

99    1048575
Name: p3l9, dtype: int64

# Pregunta 3M: En este trabajo, a…le dan, aunque no utilice,

## Opción 1: crédito para vivienda (infonavit, fovissste)(p3m1)
1 crédito para vivienda (Infonavit,Fovissste)?
99 No sabe

In [188]:
df_copy_20151['p3m1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [189]:
df_copy_20151['p3m1'] = df_copy_20151['p3m1'].astype('int64')
df_copy_20151.p3m1.value_counts()

99    990164
1      58411
Name: p3m1, dtype: int64

## Opción 2: guardería? (p3m2)
2 guardería?
99 No sabe

In [190]:
df_copy_20151['p3m2'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [191]:
df_copy_20151['p3m2'] = df_copy_20151['p3m2'].astype('int64')
df_copy_20151.p3m2.value_counts()

99    1032256
2       16319
Name: p3m2, dtype: int64

## tiempo para cuidados maternos o paternos ?(p3m3)
3 tiempo para cuidados maternos o paternos?
99 No se sabe

In [192]:
df_copy_20151['p3m3'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [193]:
df_copy_20151['p3m3'] = df_copy_20151['p3m3'].astype('int64')
df_copy_20151.p3m3.value_counts()

99    1032765
3       15810
Name: p3m3, dtype: int64

## Opción 4: fondo de retiro (SAR o Afore)(p3m4)
4 fondo de retiro (SAR o Afore)?
99 No sabe

In [194]:
df_copy_20151['p3m4'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [195]:
df_copy_20151['p3m4'] = df_copy_20151['p3m4'].astype('int64')
df_copy_20151.p3m4.value_counts()

99    989927
4      58648
Name: p3m4, dtype: int64

## Opción 5: seguro de vida? (p3m5)
5 seguro de vida?
99 No sabe

In [196]:
df_copy_20151['p3m5'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [197]:
df_copy_20151['p3m5'] = df_copy_20151['p3m5'].astype('int64')
df_copy_20151.p3m5.value_counts()

99    1023602
5       24973
Name: p3m5, dtype: int64

## Opción 6: seguro privado para gastos médicos ?(p3m6)
6 seguro privado para gastos médicos?
99 No sabe

In [198]:
df_copy_20151['p3m6'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [199]:
df_copy_20151['p3m6'] = df_copy_20151['p3m6'].astype('int64')
df_copy_20151.p3m6.value_counts()

99    1044025
6        4550
Name: p3m6, dtype: int64

## Opción 7: préstamos personales y/o caja de ahorro? (p3m7)
7 préstamos personales y/o caja de ahorro?
99 No sabe

In [200]:
df_copy_20151['p3m7'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [201]:
df_copy_20151['p3m7'] = df_copy_20151['p3m7'].astype('int64')
df_copy_20151.p3m7.value_counts()

99    1016752
7       31823
Name: p3m7, dtype: int64

## Opción 8: ninguna de las anteriores (p3m8)
8 Ninguna de las anteriores
99 No sabe

In [202]:
df_copy_20151['p3m8'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [203]:
df_copy_20151['p3m8'] = df_copy_20151['p3m8'].astype('int64')
df_copy_20151.p3m8.value_counts()

99    1034446
8       14129
Name: p3m8, dtype: int64

## Opción 9: no sabe(p3m9)
99 No sabe

In [204]:
df_copy_20151['p3m9'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [205]:
df_copy_20151['p3m9'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [206]:
df_copy_20151['p3m9'] = df_copy_20151['p3m9'].astype('int64')
df_copy_20151.p3m9.value_counts()

99    1048575
Name: p3m9, dtype: int64

## ¿Cómo se enteró... de este empleo ? (p3n)
1 Acudió directamente al lugar de trabajo(fábrica, tienda,taller)
2 Acudió a una agencia o bolsa de trabajo privada
3 Acudió a un servicio público de colocación
4 Por medio de un programa de empleo temporal del gobierno (federal, estatal y/o municipal)
5 Acudió a un sindicato o gremio
6 Por internet
7 Por medio de un anuncio en un lugar público o en  medios de comunicación (periódico, radio)
8 Por medio de un familiar, amigo o conocido
9 Le ofrecieron el empleo
10 Otro medio
99 No sabe

In [207]:
df_copy_20151['p3n'] = df_copy_20151['p3n'].astype('int64')
df_copy_20151.p3n.value_counts()

99    932367
8      64125
1      22776
9      12948
7      10908
6       2542
5       1375
10       741
2        309
3        248
4        236
Name: p3n, dtype: int64

## Para conseguir o conservar este trabajo, ¿... se vio obligado a cambiar de ciudad o localidad? (p3o)
1 Sí
2 No
99 No sabe

In [208]:
df_copy_20151['p3o'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [209]:
df_copy_20151['p3o'] = df_copy_20151['p3o'].astype('int64')
df_copy_20151.p3o.value_counts()

99    930008
2     116040
1       2527
Name: p3o, dtype: int64

## Antes de este cambio, ¿en qué estado de la República o país vivía...?(p3p1)
1 En el mismo estado
2 En otro estado
3 En otro país
99 No sabe

In [210]:
df_copy_20151['p3p1'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [211]:
df_copy_20151['p3p1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [212]:
df_copy_20151['p3p1'] = df_copy_20151['p3p1'].astype('int64')
df_copy_20151.p3p1.value_counts()

99    1046050
2        1283
1        1170
3          72
Name: p3p1, dtype: int64

## * Clave asignada a la descripción del lugar de residencia (p3p2)

In [213]:
df_copy_20151['p3p2'] = df_copy_20151['p3p2'].astype('int64')
df_copy_20151.p3p2.value_counts()

99     1046048
9          174
30         153
20         136
7          134
14         112
23         104
25         102
3          101
28          92
26          91
15          91
12          89
32          88
21          78
13          77
31          74
18          74
24          73
16          71
10          70
27          70
11          65
5           57
19          53
4           46
6           40
8           39
221         32
2           31
22          23
1           18
17          17
200         13
29          10
300         10
225          9
415          4
400          3
33           2
500          1
Name: p3p2, dtype: int64

## ¿Aprosimadamente, cuantas personas, incluyendo al dueño, laboran donde trabaja...?(p3q)
1  1 persona
2  2 a 5 personas
3  6 a 10 personas
4  11 a 15 personas
5 16 a 20 personas
6 21 a 30 personas
7 31 a 50 personas
8 51 a 100 personas
9 101 a 250 personas
0 251 a 500 personas
11 501 y más personas
99 No sabe

In [214]:
df_copy_20151['p3q'] = df_copy_20151['p3q'].astype('int')
df_copy_20151.p3q.value_counts()

99    930858
2      37472
11     19410
3      11833
8       8128
9       7074
7       6487
4       6066
5       5913
6       5654
1       5047
10      4633
Name: p3q, dtype: int64

## * ¿En que año... entro a trabajar por primera para su actual empresa, institución o patrón (subordinados) comenzó o se hizo cargo de su actual  negocio (o  actividad) [independientes]  (p3r_anio)

1900-año actual Año en pregunta 3r
9999 No sabe

In [215]:
df_copy_20151['p3r_anio'].replace(to_replace=['0','9999'],value='9999',inplace=True)

In [216]:
df_copy_20151['p3r_anio'] = df_copy_20151['p3r_anio'].astype('int64')
df_copy_20151.p3r_anio.value_counts()

99      880694
2015     29463
2014     17792
2013     14041
2016     10663
2012     10662
2010     10607
2011      7911
2000      6897
2005      5952
2006      4962
2009      4952
2008      4882
2007      3610
1995      3432
1990      2717
1996      2670
2001      2346
2003      2151
2004      1839
2002      1822
1985      1641
1998      1636
1999      1280
1986      1178
1997      1162
1980      1041
1991       925
1993       876
1992       857
         ...
1971        95
1973        93
1968        82
1969        62
1967        58
1955        51
1962        47
1963        44
1950        42
1964        39
1956        35
1961        33
1959        27
1957        25
1958        24
1952        13
1954        12
1951        11
1945        10
1953        10
1947         8
1948         6
1940         4
1949         2
1946         2
1944         2
1942         2
1943         1
1941         1
1938         1
Name: p3r_anio, Length: 80, dtype: int64

## mes (p3r_mes)
1 Enero
2 Febrero
3 Marzo
4 Abril
5 Mayo
6 Junio
7 Julio
8 Agosto
9 Septiembre
10 Octubre
11 Noviembre
12 Diciembre
99 No sabe mes que inició
 trabajo

In [217]:
df_copy_20151['p3r_mes'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [218]:
df_copy_20151['p3r_mes'] = df_copy_20151['p3r_mes'].astype('int64')
df_copy_20151.p3r_mes.value_counts()

99    1008857
1        9890
2        5150
12       3411
11       3405
10       3056
8        3002
9        2788
3        2497
6        2458
7        1890
5        1150
4        1021
Name: p3r_mes, dtype: int64

## Año(p3r)
1 El año en curso
2 El año pasado
3 Antes del año pasado
99 No sabe

In [219]:
df_copy_20151['p3r'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [220]:
df_copy_20151['p3r'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [221]:
df_copy_20151['p3r'] = df_copy_20151['p3r'].astype('int64')
df_copy_20151.p3r.value_counts()

99    881416
3     127033
2      29463
1      10663
Name: p3r, dtype: int64

##  ¿Desde entonces... ha trabajado todos los años para su actual empresa,  institución o patrón  (subordinados) ha  trabajado en todos  estos años en su  actual negocio (o  actividad)  [Independientes] (p3s)
1 Sí 
2 No
99 No sabe

In [222]:
df_copy_20151['p3s'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [223]:
df_copy_20151['p3s'] = df_copy_20151['p3s'].astype('int64')
df_copy_20151.p3s.value_counts()

99    921542
1     125709
2       1297
9         27
Name: p3s, dtype: int64

##  ¿En qué año … regresó a trabajar  (subordinados)  reinició su actual  negocio (o actividad) [independientes] (p3t_anio)
1900-año actual Año en pregunta 3t
9999 No sabe

In [224]:
df_copy_20151['p3t_anio'].replace(to_replace=['0', '9999'],value='9999',inplace=True)

In [225]:
df_copy_20151['p3t_anio'] = df_copy_20151['p3t_anio'].astype('int64')
df_copy_20151.p3t_anio.value_counts()

99      1047278
2015        467
2016        217
2014        114
2013         96
2012         62
2010         61
2011         39
2009         31
2008         30
2006         23
2007         21
2005         17
2004         14
2002         12
2000         12
1995         10
9999          8
1998          8
2001          8
1996          6
1990          6
1999          4
1986          4
1994          3
1983          3
1980          3
2003          3
1997          3
1992          2
1991          2
1993          2
1985          2
1988          1
1981          1
1978          1
1976          1
Name: p3t_anio, dtype: int64

## Mes (p3t_mes)
1 Enero
2 Febrero
3 Marzo
4 Abril
5 Mayo
6 Junio
7 Julio
8 Agosto
9 Septiembre
10 Octubre
11 Noviembre
12 Diciembre
99 No sabe

In [226]:
df_copy_20151['p3t_mes'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [227]:
df_copy_20151['p3t_mes'] = df_copy_20151['p3t_mes'].astype('int64')
df_copy_20151.p3t_mes.value_counts()

99    1047898
1         161
12         77
10         71
11         67
2          65
9          52
3          44
8          40
7          38
6          29
4          17
5          16
Name: p3t_mes, dtype: int64

## ¿Cuál es el nombre de la empresa, negocio o institución para la que ... trabaja o ayuda?(p4)
1 Nombre de la empresa
2 El negocio no tiene nombre
3 El trabajador (subordinado) de una  unidad doméstica o trabajador de otro trabajador (a) trabajador(a)
4 Es un(a) trabajador(a) en el extranjero
99 No sabe

In [228]:
df_copy_20151['p4'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [229]:
df_copy_20151['p4'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [230]:
df_copy_20151['p4'] = df_copy_20151['p4'].astype('int64')
df_copy_20151.p4.value_counts()

99    880824
1     103816
2      55437
3       8130
4        368
Name: p4, dtype: int64

## *Campo exclusivo del sistema (p4_1)
1-2, blanco Campo exlusivo del sistema

In [231]:
df_copy_20151['p4_1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [232]:
df_copy_20151['p4_1'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [233]:
df_copy_20151['p4_1'] = df_copy_20151['p4_1'].astype('int64')
df_copy_20151.p4_1.value_counts()

99    1023390
1       20435
2        4750
Name: p4_1, dtype: int64

## Campo exclusivo del sistema (p4_2)
1-9, blanco Campo exclusivo del sistema

In [234]:
df_copy_20151['p4_2'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [235]:
df_copy_20151['p4_2'] = df_copy_20151['p4_2'].astype('int64')
df_copy_20151.p4_2.value_counts()

99    1023389
3       10045
5        4601
6        2890
1        2830
4        2475
2        2186
7         154
9           3
8           2
Name: p4_2, dtype: int64

## Campo exclusivo del sistema (p4_3)
1-2, blanco Campo exclusivo del sistema

In [236]:
df_copy_20151['p4_3'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [237]:
df_copy_20151['p4_3'] = df_copy_20151['p4_3'].astype('int64')
df_copy_20151.p4_3.value_counts()

99    1000400
2       47799
1         376
Name: p4_3, dtype: int64

## * ¿A qué se dedica esta empresa, negocio o institución?(p4a)

In [238]:
df_copy_20151['p4a'] = df_copy_20151['p4a'].astype('int64')
df_copy_20151.p4a.value_counts()

99      880694
1110     11973
7221     10448
4611      8048
8140      7731
2382      6153
6112      5744
2361      5619
3110      5601
3360      4156
9313      4106
4850      4087
5411      3755
8111      3538
4620      3298
9314      2634
6222      2633
4631      2520
9312      2334
4681      2324
8121      2307
1121      2191
3320      2188
3150      2160
4661      2054
4310      2054
8112      1958
4651      1888
4690      1834
7210      1790
         ...
7113        43
1122        42
4830        41
7132        40
6232        39
6122        38
5223        36
5190        35
2131        32
4882        32
2121        21
4370        20
8125        17
3399        14
2222        13
4699        11
4860         9
5180         9
6121         8
2399         5
9320         5
5330         5
5612         4
4399         4
6150         4
8124         2
7133         2
6239         1
2199         1
7115         1
Name: p4a, Length: 159, dtype: int64

## (p4a_1)

In [239]:
df_copy_20151['p4a_1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [240]:
df_copy_20151['p4a_1'] = df_copy_20151['p4a_1'].astype('int64')
df_copy_20151.p4a_1.value_counts()

99    880694
1     167844
2         37
Name: p4a_1, dtype: int64

## ** SÓLO PARA EL  ENTREVISTADOR( p4b)

1 Es una actividad  agropecuaria
 2 Es una institución educativa u hospital
 3 Es una institución pública o una sin fines de lucro
 4 Se trata de una actividad o negocio del sector privado
 5 Aún no se puede  determinar

In [241]:
df_copy_20151['p4b'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [242]:
df_copy_20151['p4b'] = df_copy_20151['p4b'].astype('int64')
df_copy_20151.p4b.value_counts()

99    889192
4     120101
1      14164
3      12878
2      12226
5         14
Name: p4b, dtype: int64

## Entonces ,¿estamos hablando de que este negocio es ?(p4c)
1 de tipo independiente personal o familiar?
2 una compañía o empresa del sector privado (sociedad mercantil:anónima o bajo otra modalidad; transnacional, cadena comercial,bancaria o de servicios)?
 3 Ninguno de los anteriores
 99 No sabe

In [243]:
df_copy_20151['p4c'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [244]:
df_copy_20151['p4c'] = df_copy_20151['p4c'].astype('int64')
df_copy_20151.p4c.value_counts()

99    928460
1      75737
2      44367
3         11
Name: p4c, dtype: int64

##  Entonces,¿... trabaja para (p4d1)
1 una institución de gobierno?
2 una institución no administrada por el gobierno?
99 No sabe

In [245]:
df_copy_20151['p4d1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [246]:
df_copy_20151['p4d1'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [247]:
df_copy_20151['p4d1'] = df_copy_20151['p4d1'].astype('int64')
df_copy_20151.p4d1.value_counts()

99    1023464
1       20334
2        4777
Name: p4d1, dtype: int64

## Opciones de respuestas cuando p4d1=2(p4d2)
1 Institución educativa u hospital particular
2 Una institución autónoma
 y pública de estudios de
 nivel medio superior o
 superior (UNAM, UAM,
 UACH, universidades
 autónomas estatales)
3 “Organismo autónomo
 (IFE, Institutos Estatales
 Electorales, Comisiones
 Nacionales o Estatales de
 Derechos Humanos)”
4 “Iglesia, asociación
 profesional, cámara
 o sindicato”
5 “Asociación civil no
clasificada en las opciones
 anteriores”
6 Organismo internacional
 Partido político
8 Ninguna de las anteriores
99 No sabe

In [248]:
df_copy_20151['p4d2'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [249]:
df_copy_20151['p4d2'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [250]:
df_copy_20151['p4d2'] = df_copy_20151['p4d2'].astype('int64')
df_copy_20151.p4d2.value_counts()

99    1023464
3       10097
5        4550
6        2890
1        2845
4        2377
2        2183
7         169
Name: p4d2, dtype: int64

## Campo explusivo el sistema(p4d3)
1-3, blanco Campo exclusivo del sistema

In [251]:
df_copy_20151['p4d3'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [252]:
df_copy_20151['p4d3'] = df_copy_20151['p4d3'].astype('int64')
df_copy_20151.p4d3.value_counts()

99    979154
3      49868
2      18640
1        913
Name: p4d3, dtype: int64

## ¿El negocio o actividad(p4e)
1 cuenta con establecimientp y oficina
2 solo tiene oficina o
 despacho?
3 solo tiene local?
4 no tiene local, oficina o
 establecimiento?
99 No sabe

In [253]:
df_copy_20151['p4e'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [254]:
df_copy_20151['p4e'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [255]:
df_copy_20151['p4e'] = df_copy_20151['p4e'].astype('int64')
df_copy_20151.p4e.value_counts()

99    972875
4      37783
3      30790
1       3808
2       3319
Name: p4e, dtype: int64

## Entonces,¿en dónde se realizan las actividades de este negocio?(p4f)

1 En el campo, a cielo abierto,bordo,poza,mar 
2 Ambulante de casa en casa o en la calle
3 Puesto improvisado
4 En vehículo sin motor (bicicleta, triciclo, carretón,
 lancha)
5 En vehículo motorizado (automóvil, motocicleta,
 camioneta)
6 En su propio domicilio sin instalación especial
7 En su propio domicilio con instalación especial
8 En el domicilio o propie dad del patrón o en el
 lugar donde lo requieren los clientes
9 Puesto semifijo
10 Puesto fijo
11 Otro lugar
99 No sabe

In [256]:
df_copy_20151['p4f'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [257]:
df_copy_20151['p4f'] = df_copy_20151['p4f'].astype('int64')
df_copy_20151.p4f.value_counts()

99    1010759
8       15633
6        6973
5        4206
7        2395
2        2309
3        2054
9        1973
4         952
10        592
11        446
1         283
Name: p4f, dtype: int64

## En este negocio o actividad,(p4g)
1 ¿se acude a los servicios de un contador para llevar las cuentas?
2 ¿sólo se utiliza un cuaderno o una libreta de apuntes personales para llevar las cuentas?
3 Aplica hasta periodo 415) Está inscrito en algún
 esquema o régimen para pequeños contribuyentes (Repecos) de la Secreta ría de Hacienda (lleva el cuadernillo de ingresos o utiliza la caja registradora)

In [258]:
df_copy_20151['p4g'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [259]:
df_copy_20151['p4g'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [260]:
df_copy_20151['p4g'] = df_copy_20151['p4g'].astype('int64')
df_copy_20151.p4g.value_counts()

99    980204
4      33844
1      20855
2       8770
3       4902
Name: p4g, dtype: int64

## ¿Normalmente en que lugar trabaja...? (p4h)
1¿En las instalaciones (o vehiculos) de..?
2 ¿En las instalaciones de otra empresa o institución a donde se le envía?
3 ¿Visitando a distintos clientes?
4 ¿En el lugar de la obra?
5 Ninguna de las anteriores
99 No sabe

In [261]:
df_copy_20151['p4h'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [262]:
df_copy_20151['p4h'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [263]:
df_copy_20151['p4h'] = df_copy_20151['p4h'].astype('int64')
df_copy_20151.p4h.value_counts()

99    1000514
1       40066
2        3439
4        2331
3        2115
5         110
Name: p4h, dtype: int64

## La empresa a la que oertenece.. ¿tiene oficinas o establecimientos?(p4i)
1 en otros países?
2 únicamente de México  pero en varias ciudades del pais?
3 solo en una ciudad?
4 Se trata de un negocio
 que opera bajo la modali-
 dad de franquicia
9 No sabe

In [264]:
df_copy_20151['p4i'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [265]:
df_copy_20151['p4i'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [266]:
df_copy_20151['p4i'] = df_copy_20151['p4i'].astype('int64')
df_copy_20151.p4i.value_counts()

99    1001699
3       18315
2       17844
1        9694
4        1023
Name: p4i, dtype: int64

## Campo exclusivo del sistema (p4i_1)
1-3,blanco Campo exclusivo del sistema

In [267]:
df_copy_20151['p4i_1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [268]:
df_copy_20151['p4i_1'] = df_copy_20151['p4i_1'].astype('int64')
df_copy_20151.p4i_1.value_counts()

99    1000400
3       47771
1         325
2          79
Name: p4i_1, dtype: int64

## ¿La jornada de trabajo de ... es?(p5)
1 de día ? (entre las 6 am y las 8 pm)
2 de noche? (entre las 8 pm y las 6 am)
3 mixta?
4 rola turnos?
99 No sabe

In [269]:
df_copy_20151['p5'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [270]:
df_copy_20151['p5'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [271]:
df_copy_20151['p5'] = df_copy_20151['p5'].astype('int64')
df_copy_20151.p5.value_counts()

99    895233
1     136880
3       7368
4       6447
2       2647
Name: p5, dtype: int64

## La semana pasada, ¿..tuvo poco trabajo que hacer?(p5a)
1 Sí
2 No trabajó la semana pasada
3 No se encontró en esa situación
99 No sabe

In [272]:
df_copy_20151['p5a'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [273]:
df_copy_20151['p5a'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [274]:
df_copy_20151['p5a'] = df_copy_20151['p5a'].astype('int64')
df_copy_20151.p5a.value_counts()

3     520321
99    475327
1      37077
2      15850
Name: p5a, dtype: int64

## ¿Le preocupa a ... esta situación?(p5b)
1 Sí
2 Solo un poco
3 No, porque así es su trabajo
4 No, porque así es en esta época del año
5 No, porque la considera una situación pasajera
6 No, por otras razones
99 No sabe

In [275]:
df_copy_20151['p5b'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [276]:
df_copy_20151['p5b'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [277]:
df_copy_20151['p5b'] = df_copy_20151['p5b'].astype('int64')
df_copy_20151.p5b.value_counts()

99    1011573
1       22197
3        6855
4        3516
2        2060
6        1973
5         401
Name: p5b, dtype: int64

# Pregunta 5C: ¿Qué días y cuántas horas le dedicó ... a su trabajo  la semana pasada?

## Horas lunes (p5c_hlu)
00-24 Número de horas en lunes
98 Trabajó ese día pero no sabe cuanto tiempo
99 No sabe si trabajó ese día

In [278]:
df_copy_20151['p5c_hlu'] = df_copy_20151['p5c_hlu'].astype('int64')
df_copy_20151.p5c_hlu.value_counts()

99    490764
8     206129
10     64432
0      55887
9      54737
6      39346
12     32535
7      26595
5      19700
4      18300
3      10543
11      8096
2       7866
1       2797
98      2539
14      2235
16      1843
13      1483
15      1034
18       599
17       575
24       477
20        33
19        24
21         5
22         1
Name: p5c_hlu, dtype: int64

## Minutos lunes (p5c_mlu)
00-59 Número de minutos en lunes

In [279]:
df_copy_20151['p5c_mlu'] = df_copy_20151['p5c_mlu'].astype('int64')
df_copy_20151.p5c_mlu.value_counts()

0     546494
99    490730
30     10851
40        91
20        71
15        61
45        60
36        55
10        38
1         26
8         22
50        19
3         13
5          9
9          5
6          5
7          5
12         4
2          3
24         2
11         2
35         2
37         1
21         1
23         1
33         1
13         1
58         1
16         1
Name: p5c_mlu, dtype: int64

## Horas martes (p5c_hma)
00-24 Número de horas en martes
98 Trabajó ese día pero no sabe cuanto tiempo
99 No sabe si trabajó ese día

In [280]:
df_copy_20151['p5c_hma'] = df_copy_20151['p5c_hma'].astype('int64')
df_copy_20151.p5c_hma.value_counts()

99    490768
8     207323
10     64826
0      57703
9      55422
6      39162
12     31498
7      27125
5      19608
4      17790
3       9961
11      8301
2       7469
1       2625
98      2571
14      2209
13      1491
16      1030
15      1008
17       270
18       180
24       169
20        41
19        18
21         6
22         1
Name: p5c_hma, dtype: int64

## Minutos martes (p5c_mma)
00-59 Número de minutos en martes

In [281]:
df_copy_20151['p5c_mma'] = df_copy_20151['p5c_mma'].astype('int64')
df_copy_20151.p5c_mma.value_counts()

0     546285
99    490730
30     10984
20        97
40        88
45        66
15        60
36        58
10        49
1         40
8         30
50        17
9         11
2         10
3         10
5         10
6          7
7          4
12         3
24         2
35         2
33         2
11         2
22         1
13         1
26         1
25         1
58         1
21         1
37         1
17         1
Name: p5c_mma, dtype: int64

## Horas miércoles (p5c_hmi)
00-24 Número de horas en miércoles
98 Trabajó ese día pero no sabe cuanto tiempo
99 No sabe si trabajó ese día

In [282]:
df_copy_20151['p5c_hmi'] = df_copy_20151['p5c_hmi'].astype('int64')
df_copy_20151.p5c_hmi.value_counts()

99    490766
8     207738
10     65090
9      55521
0      51854
6      39664
12     32329
7      27216
5      20093
4      18551
3      10528
11      8311
2       7840
1       2889
98      2623
14      2253
13      1480
16      1437
15      1022
17       443
18       441
24       411
20        41
19        27
21         6
23         1
Name: p5c_hmi, dtype: int64

## Minutos miércoles (p5c_mmi)
00-59 Número de minutos en miércoles

In [283]:
df_copy_20151['p5c_mmi'] = df_copy_20151['p5c_mmi'].astype('int64')
df_copy_20151.p5c_mmi.value_counts()

0     546247
99    490730
30     11001
20        92
40        90
45        64
15        60
36        58
1         56
10        52
8         27
50        20
2         13
5         12
6         10
3          8
12         7
9          6
7          3
24         2
35         2
13         2
11         1
21         1
17         1
46         1
58         1
23         1
25         1
26         1
33         1
37         1
39         1
41         1
22         1
Name: p5c_mmi, dtype: int64

## Horas jueves(p5c_hju)
00-24 Número de horas jueves
98 Trabajó ese día pero no sabe cuanto tiempo
99 No sabe si trabajó ese día

In [284]:
df_copy_20151['p5c_hju'] = df_copy_20151['p5c_hju'].astype('int64')
df_copy_20151.p5c_hju.value_counts()

99    490768
8     204832
10     64414
0      61514
9      54550
6      39002
12     31403
7      26833
5      19725
4      17850
3       9924
11      8197
2       7433
1       2730
98      2582
14      2201
13      1461
16      1278
15       989
17       320
18       275
24       219
20        41
19        25
21         6
22         2
23         1
Name: p5c_hju, dtype: int64

## Minutos jueves  (p5c_mju)
00-59 Número de minutos jueves

In [285]:
df_copy_20151['p5c_mju'] = df_copy_20151['p5c_mju'].astype('int64')
df_copy_20151.p5c_mju.value_counts()

0     546333
99    490730
30     10905
20        86
40        86
45        68
1         63
15        59
10        56
36        55
8         36
50        18
9         14
5         13
3         11
2         10
6          7
7          7
12         3
35         2
13         2
24         2
11         2
33         1
37         1
58         1
21         1
26         1
32         1
41         1
Name: p5c_mju, dtype: int64

## Horas viernes  (p5c_hvi)
00-24 Número de horas en viernes
98 Trabajó ese día pero no sabe cuanto tiempo
99 No sabe si trabajó ese día

In [286]:
df_copy_20151['p5c_hvi'] = df_copy_20151['p5c_hvi'].astype('int64')
df_copy_20151.p5c_hvi.value_counts()

99    490766
8     203953
10     64157
0      60570
9      54186
6      39199
12     31227
7      26785
5      20106
4      18226
3      10311
11      8068
2       7829
1       2777
98      2604
14      2240
16      1607
13      1472
15      1012
17       507
18       468
24       418
20        51
19        27
21         8
23         1
Name: p5c_hvi, dtype: int64

## Minutos viernes  (p5c_mvi)
00-59 Número de minutos en  viernes

In [287]:
df_copy_20151['p5c_mvi'] = df_copy_20151['p5c_mvi'].astype('int64')
df_copy_20151.p5c_mvi.value_counts()

0     546476
99    490730
30     10761
40        99
20        89
45        60
1         58
15        56
36        52
10        44
8         33
50        25
2         15
3         13
6         12
5         12
9          8
7          5
22         4
12         4
33         3
35         2
4          2
11         2
24         2
41         1
26         1
37         1
13         1
32         1
58         1
21         1
16         1
Name: p5c_mvi, dtype: int64

## Horas sábado (p5c_hsa)
00-24 Número de horas en sábado
98 Trabajó ese día pero no sabe cuanto tiempo
99 No sabe si trabajó ese día

In [288]:
df_copy_20151['p5c_hsa'] = df_copy_20151['p5c_hsa'].astype('int64')
df_copy_20151.p5c_hsa.value_counts()

99    490767
0     196719
8     117005
6      52015
5      39774
10     36295
12     24759
9      23584
4      20890
7      18204
3       8057
2       5817
11      4836
98      2051
14      2002
1       1960
13      1231
16       965
15       916
17       261
24       213
18       178
20        43
19        21
21         6
22         5
23         1
Name: p5c_hsa, dtype: int64

## Minutos sábado  (p5c_msa)
00-59 Número de minutos en sábado

In [289]:
df_copy_20151['p5c_msa'] = df_copy_20151['p5c_msa'].astype('int64')
df_copy_20151.p5c_msa.value_counts()

0     553673
99    490730
30      3907
40        51
20        44
50        22
10        22
1         21
15        21
45        20
8         12
2          9
3          9
6          6
5          5
9          3
14         2
33         2
4          2
12         2
11         2
7          2
43         1
26         1
24         1
53         1
16         1
21         1
23         1
35         1
Name: p5c_msa, dtype: int64

## Horas domingo (p5c_hdo)
00-24 Número de horas en domingo
98 Trabajó ese día pero no sabe cuanto tiempo
99 No sabe si trabajó ese día

In [290]:
df_copy_20151['p5c_hdo'] = df_copy_20151['p5c_hdo'].astype('int64')
df_copy_20151.p5c_hdo.value_counts()

99    490757
0     424561
8      41392
12     16120
10     16008
6      12516
9       9118
5       7374
4       6828
7       6176
3       4090
2       3324
11      2390
1       1349
14      1321
16      1308
98      1050
13       809
15       649
18       467
24       443
17       423
20        46
22        26
19        24
21         6
Name: p5c_hdo, dtype: int64

## Minutos domingo (p5c_mdo)
00-59 Número de minutos en  domingo

In [291]:
df_copy_20151['p5c_mdo'] = df_copy_20151['p5c_mdo'].astype('int64')
df_copy_20151.p5c_mdo.value_counts()

0     555532
99    490730
30      1630
1        381
40        96
2         69
14        26
20        22
50        17
10        16
11        12
15         8
6          7
45         6
8          5
22         5
21         2
7          2
5          2
3          2
36         2
9          1
33         1
13         1
Name: p5c_mdo, dtype: int64

## Total de horas (p5c_thrs)
001-998 Total de Número de horas en pregunta 5c
999 No especificado

In [292]:
df_copy_20151['p5c_thrs'] = df_copy_20151['p5c_thrs'].astype('int64')
df_copy_20151.p5c_thrs.value_counts()

99     490740
48      96174
40      63894
45      29318
60      28033
30      20128
50      19378
56      18080
54      17649
36      17470
24      16429
42      15461
72      13046
35      13042
46      11215
70       8770
84       8361
20       8146
32       7597
12       7471
25       7453
18       7296
44       6834
55       6794
16       6472
51       6361
28       4869
15       4784
66       4687
10       4452
        ...
93         26
100        25
120        17
101        16
104        14
95         13
106        11
97          8
168         7
115         6
133         5
111         5
110         5
109         5
103         4
114         4
129         3
118         3
107         3
113         3
132         3
144         3
122         2
136         2
140         1
161         1
116         1
139         1
117         1
121         1
Name: p5c_thrs, Length: 133, dtype: int64

## Total de días (p5c_tdia)
1 - 7 Total de dias trabajados  a la semana
9 Número de días no  especificado

In [293]:
df_copy_20151['p5c_tdia'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [294]:
df_copy_20151['p5c_tdia'] = df_copy_20151['p5c_tdia'].astype('int64')
df_copy_20151.p5c_tdia.value_counts()

99    490730
6     262000
5     147153
7      64460
3      28810
4      24029
2      21157
1       9438
9        798
Name: p5c_tdia, dtype: int64

## ¿Ese es el número de horas que habitualmente trabaja..-?(p5d)
1 Sí
2 No 
99 No sabe

In [295]:
df_copy_20151['p5d'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [296]:
df_copy_20151['p5d'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [297]:
df_copy_20151['p5d'] = df_copy_20151['p5d'].astype('int64')
df_copy_20151.p5d.value_counts()

99    490807
1     469226
2      88542
Name: p5d, dtype: int64

# Pregunta 5E: ¿Qué días y cuántas horas le dedica habitualmente ...  a su trabajo?

## Horas y minutos o no tiene horario regurlar de trabajo (p5e1)
1 si dió horas y/o minutos a la semana
2 No tiene un horario regular de trabajo
99 No sabe

In [298]:
df_copy_20151['p5e1'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [299]:
df_copy_20151['p5e1'] = df_copy_20151['p5e1'].astype('int64')
df_copy_20151.p5e1.value_counts()

99    944106
2      67787
1      36682
Name: p5e1, dtype: int64

## Horas lunes (p5e_hlu)
00-59 Número de minutos en lunes

In [300]:
df_copy_20151['p5e_hlu'] = df_copy_20151['p5e_hlu'].astype('int64')
df_copy_20151.p5e_hlu.value_counts()

99    1011894
8       15510
10       3904
9        3765
6        2927
7        2529
5        1726
0        1684
12       1654
4        1169
3         541
11        463
2         296
14        109
1         109
13         68
98         63
16         57
15         31
17         28
18         22
24         20
20          4
19          2
Name: p5e_hlu, dtype: int64

## Minutos lunes (p5e_mlu)
00-59 Número de minutos en lunes

In [301]:
df_copy_20151['p5e_mlu'] = df_copy_20151['p5e_mlu'].astype('int64')
df_copy_20151.p5e_mlu.value_counts()

99    1011893
0       35579
30       1036
36         12
40         11
15         11
45         10
20         10
8           4
10          3
1           2
50          1
35          1
12          1
5           1
Name: p5e_mlu, dtype: int64

## Horas martes (p5e_hma)
00-24 Número de horas en martes
98 Trabajó ese día pero no sabe cuanto tiempo
99 No sabe si trabajó ese día

In [302]:
df_copy_20151['p5e_hma'] = df_copy_20151['p5e_hma'].astype('int64')
df_copy_20151.p5e_hma.value_counts()

99    1011894
8       15568
10       3923
9        3797
6        2910
7        2545
0        1800
5        1716
12       1629
4        1137
3         498
11        460
2         263
14        108
1         106
13         69
98         64
15         34
16         30
17          8
18          7
20          4
24          3
21          1
19          1
Name: p5e_hma, dtype: int64

## Minutos martes  (p5e_mma)
00-59 Número de minutos en martes

In [303]:
df_copy_20151['p5e_mma'] = df_copy_20151['p5e_mma'].astype('int64')
df_copy_20151.p5e_mma.value_counts()

99    1011893
0       35588
30       1027
36         12
40         11
20         10
15         10
45          9
10          4
1           3
5           2
46          1
35          1
33          1
50          1
8           1
6           1
Name: p5e_mma, dtype: int64

## Horas miércoles (p5e_hmi)
00-24 Número de horas en miércoles
98 Trabajó ese día pero no sabe cuanto tiempo
99 No sabe si trabajó ese día

In [304]:
df_copy_20151['p5e_hmi'] = df_copy_20151['p5e_hmi'].astype('int64')
df_copy_20151.p5e_hmi.value_counts()

99    1011894
8       15559
10       3931
9        3773
6        2938
7        2554
5        1732
12       1664
0        1559
4        1185
3         524
11        467
2         295
1         118
14        107
13         68
98         64
16         47
15         32
17         25
24         19
18         15
20          3
19          2
Name: p5e_hmi, dtype: int64

## Minutos miércoles (p5e_mmi) 
00-59 Número de minutos en miércoles

In [305]:
df_copy_20151['p5e_mmi'] = df_copy_20151['p5e_mmi'].astype('int64')
df_copy_20151.p5e_mmi.value_counts()

99    1011893
0       35579
30       1035
36         12
20         12
45         10
40         10
15         10
10          4
1           3
8           2
50          1
35          1
6           1
5           1
2           1
Name: p5e_mmi, dtype: int64

## Horas jueves (p5e_hju)
00-24 Número de horas en jueves
98 Trabajó ese día pero no sabe cuanto tiempo
99 No sabe si trabajó ese día

In [306]:
df_copy_20151['p5e_hju'] = df_copy_20151['p5e_hju'].astype('int64')
df_copy_20151.p5e_hju.value_counts()

99    1011894
8       15549
10       3918
9        3794
6        2901
7        2556
0        1783
5        1729
12       1634
4        1147
3         492
11        462
2         261
14        106
1         105
13         70
98         66
16         42
15         33
17         12
18         11
24          5
20          4
19          1
Name: p5e_hju, dtype: int64

## Minutos jueves (p5e_mju)
00-59 Número de minutos en jueves

In [307]:
df_copy_20151['p5e_mju'] = df_copy_20151['p5e_mju'].astype('int64')
df_copy_20151.p5e_mju.value_counts()

99    1011893
0       35583
30       1027
36         12
15         11
45         10
40         10
20          9
10          5
1           5
50          2
5           2
3           2
35          1
22          1
11          1
8           1
Name: p5e_mju, dtype: int64

## Minutos viernes (p5e_hvi)
00-59 Número de minutos en viernes

In [308]:
df_copy_20151['p5e_hvi'] = df_copy_20151['p5e_hvi'].astype('int64')
df_copy_20151.p5e_hvi.value_counts()

99    1011894
8       15653
10       3959
9        3810
6        2951
7        2567
5        1764
12       1603
0        1420
4        1189
3         524
11        457
2         281
1         114
14        105
13         72
98         66
16         46
15         32
17         29
24         18
18         16
20          3
19          2
Name: p5e_hvi, dtype: int64

## Horas sábado (p5e_hsa)
00-24 Número de horas en sábado
98 Trabajó ese día pero no sabe cuanto tiempo
99 No sabe si trabajó ese día

In [309]:
df_copy_20151['p5e_hsa'] = df_copy_20151['p5e_hsa'].astype('int64')
df_copy_20151.p5e_hsa.value_counts()

99    1011894
0       16912
8        6693
6        3256
5        2872
10       1516
9        1209
12       1147
4        1058
7        1047
3         276
11        212
2         152
14         92
1          54
13         50
98         43
15         37
16         29
17         11
18          7
24          5
20          2
21          1
Name: p5e_hsa, dtype: int64

## Minutos sábado(p5e_msa)
00-59 Número de minutos en sábado

In [310]:
df_copy_20151['p5e_msa'] = df_copy_20151['p5e_msa'].astype('int64')
df_copy_20151.p5e_msa.value_counts()

99    1011893
0       36431
30        232
10          4
15          3
40          2
20          2
8           2
50          1
36          1
33          1
11          1
5           1
1           1
Name: p5e_msa, dtype: int64

## Horas domingo (p5e_hdo)
00-24 Número de horas en domingo
98 Trabajó ese día pero no sabe cuanto tiempo
99 No sabe si trabajó ese día

In [311]:
df_copy_20151['p5e_hdo'] = df_copy_20151['p5e_hdo'].astype('int64')
df_copy_20151.p5e_hdo.value_counts()

99    1011894
0       31916
8        1588
12        666
10        509
6         425
9         328
5         250
7         249
4         209
3         113
11         94
2          71
14         59
16         43
1          32
13         28
98         25
17         23
24         19
15         17
18         14
19          2
21          1
Name: p5e_hdo, dtype: int64

## Minutos domingo (p5e_mdo)
00-59 Número de minutos en domingo

In [312]:
df_copy_20151['p5e_mdo'] = df_copy_20151['p5e_mdo'].astype('int64')
df_copy_20151.p5e_mdo.value_counts()

99    1011893
0       36595
30         71
1           8
14          2
8           2
40          1
22          1
20          1
10          1
Name: p5e_mdo, dtype: int64

## Total de horas (p5e_thrs)
001-998 Total de Número de horas
999 No especificado

In [313]:
df_copy_20151['p5e_thrs'] = df_copy_20151['p5e_thrs'].astype('int64')
df_copy_20151.p5e_thrs.value_counts()

99     1011894
40        6703
48        5973
45        2387
30        2046
50        1708
35        1663
60        1404
25        1164
56        1032
54        1027
46         891
36         848
42         840
20         645
72         638
55         569
51         532
24         495
44         449
84         386
70         318
15         290
66         245
18         238
32         224
12         217
10         204
47         199
49         192
        ...
31          14
13          13
1           13
80          13
29          13
88          12
105         11
11          11
74          10
71           7
112          7
82           5
75           5
76           5
73           4
92           4
126          3
79           3
95           2
100          2
108          2
94           2
119          2
168          2
81           1
93           1
102          1
103          1
85           1
87           1
Name: p5e_thrs, Length: 106, dtype: int64

## Total de días (campo adicional contenido en la base de datos) (p5e_tdia)
1-7 total de días trabajados en la semana
99 Número  de dás no especificado

In [314]:
df_copy_20151['p5e_tdia'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [315]:
df_copy_20151['p5e_tdia'].replace(to_replace=['9', '99'],value='99',inplace=True)

In [316]:
df_copy_20151['p5e_tdia'] = df_copy_20151['p5e_tdia'].astype('int64')
df_copy_20151.p5e_tdia.value_counts()

99    1011908
6       16617
5       15689
7        2258
3         706
4         565
2         518
1         314
Name: p5e_tdia, dtype: int64

## ¿Cuál es el motivo principal por el que la semana pasada... no trabajo las horas habituales?(p5f)
1 Exceso de trabajo
2 Obtener más ingresos
3 Horas extras
4 Temporada alta (clientes, ventas, siembra o cosecha) 
5 Reducción o suspensión
 del trabajo (falta de ven
 tas o clientes, temporada
 baja, paro técnico)
6 Término del contrato o
 temporada de trabajo
7 Causas climatológicas
8 Vacaciones o días festivos
9 Enfermedad o accidente
10 Cuidar o atender a niños,
 enfermos o ancianos
11 Otros motivos personales
 o familiares
12 Ninguno de los anteriores
99 No sabe

In [317]:
df_copy_20151['p5f'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [318]:
df_copy_20151['p5f'] = df_copy_20151['p5f'].astype('int64')
df_copy_20151.p5f.value_counts()

99    1026110
8       14439
5        2318
3        1065
1        1010
12        996
7         843
11        641
9         581
4         230
10        144
6         127
2          71
Name: p5f, dtype: int64

# Pregunta 5G: ¿En que meses del año … realiza este trabajo?

## Opción 1: enero C  (p5g1)
01 Enero
99 No sabe

In [319]:
df_copy_20151['p5g1'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [320]:
df_copy_20151['p5g1'] = df_copy_20151['p5g1'].astype('int64')
df_copy_20151.p5g1.value_counts()

99    1047971
1         604
Name: p5g1, dtype: int64

## Opción 2: febrero (p5g2)
2 Febrero
99 No sabe

In [321]:
df_copy_20151['p5g2'] = df_copy_20151['p5g2'].astype('int64')
df_copy_20151.p5g2.value_counts()

99    1047953
2         622
Name: p5g2, dtype: int64

## Opción 3: marzo  (p5g3)
3 marzo
99 No sabe

In [322]:
df_copy_20151['p5g3'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [323]:
df_copy_20151['p5g3'] = df_copy_20151['p5g3'].astype('int64')
df_copy_20151.p5g3.value_counts()

99    1047819
3         756
Name: p5g3, dtype: int64

## Opción 4: abril  (p5g4)
4 abril
99 No sabe

In [324]:
df_copy_20151['p5g4'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [325]:
df_copy_20151['p5g4'] = df_copy_20151['p5g4'].astype('int64')
df_copy_20151.p5g4.value_counts()

99    1047738
4         837
Name: p5g4, dtype: int64

## Opción 6: junio   (p5g6)
6 junio
99 No sabe

In [326]:
df_copy_20151['p5g6'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [327]:
df_copy_20151['p5g6'] = df_copy_20151['p5g6'].astype('int64')
df_copy_20151.p5g6.value_counts()

99    1047275
6        1300
Name: p5g6, dtype: int64

## Opción 7: julio  (p5g7)
7 julio 
99 No sabe

In [328]:
df_copy_20151['p5g7'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [329]:
df_copy_20151['p5g7'] = df_copy_20151['p5g7'].astype('int64')
df_copy_20151.p5g7.value_counts()

99    1047247
7        1328
Name: p5g7, dtype: int64

## Opción 8: agosto   (p5g8)
8 agosto
99 No sabe

In [330]:
df_copy_20151['p5g8'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [331]:
df_copy_20151['p5g8'] = df_copy_20151['p5g8'].astype('int64')
df_copy_20151.p5g8.value_counts()

99    1047270
8        1305
Name: p5g8, dtype: int64

## Opción 9: septiembre  (p5g9)
9 Septiembre 
99 No sabe

In [332]:
df_copy_20151['p5g9'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [333]:
df_copy_20151['p5g9'] = df_copy_20151['p5g9'].astype('int64')
df_copy_20151.p5g9.value_counts()

99    1047448
9        1127
Name: p5g9, dtype: int64

## Opción 10: octubre  (p5g10)
10 octubre
99 No sabe

In [334]:
df_copy_20151['p5g10'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [335]:
df_copy_20151['p5g10'] = df_copy_20151['p5g10'].astype('int64')
df_copy_20151.p5g10.value_counts()

99    1047471
10       1104
Name: p5g10, dtype: int64

## Opción 11: noviembre(p5g11)
11 Noviembre
99 No sabe

In [336]:
df_copy_20151['p5g11'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [337]:
df_copy_20151['p5g11'] = df_copy_20151['p5g11'].astype('int64')
df_copy_20151.p5g11.value_counts()

99    1047495
11       1080
Name: p5g11, dtype: int64

## Opción 12: diciembre  (p5g12)
12 diciembre
99 No sabe

In [338]:
df_copy_20151['p5g12'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [339]:
df_copy_20151['p5g12'] = df_copy_20151['p5g12'].astype('int64')
df_copy_20151.p5g12.value_counts()

99    1047667
12        908
Name: p5g12, dtype: int64

## Opción 13: Varían los meses en que trabaja  (p5g13)
13 Varían los meses en que trabaja
99 No sabe

In [340]:
df_copy_20151['p5g13'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [341]:
df_copy_20151['p5g13'] = df_copy_20151['p5g13'].astype('int64')
df_copy_20151.p5g13.value_counts()

99    1043970
13       4605
Name: p5g13, dtype: int64

## Opción 14: Trabaja todos los meses del año (p5g14)
14 Trabaja todos los meses del año
99 No sabe

In [342]:
df_copy_20151['p5g14'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [343]:
df_copy_20151['p5g14'] = df_copy_20151['p5g14'].astype('int64')
df_copy_20151.p5g14.value_counts()

99    560304
14    488271
Name: p5g14, dtype: int64

## Opción 15: Tiene menos de un año en este trabajo  (p5g15)
15 Tiene menos de un año en este trabajo
99 No sabe

In [344]:
df_copy_20151['p5g15'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [345]:
df_copy_20151['p5g15'] = df_copy_20151['p5g15'].astype('int64')
df_copy_20151.p5g15.value_counts()

99    969893
15     78682
Name: p5g15, dtype: int64

## Opción 99: no sabe (p5g99)
99 No sabe

In [346]:
df_copy_20151['p5g99'].replace(to_replace=['0', '99'],value='99',inplace=True)

In [347]:
df_copy_20151['p5g99'] = df_copy_20151['p5g99'].astype('int64')
df_copy_20151.p5g99.value_counts()

99    1048575
Name: p5g99, dtype: int64

##  ¿Cuál es el motivo principal por el que ... no trabaja  todos los meses del año? (p5h)
1 Trabaja solo cuando lo llaman o solicitan sus servicios
2 Sólo hay trabajo durante algunas épocas o temporadas del año
3 Trabaja solo en periodos de vacaciones escolares
4 No necesita trabajar todo el año
5 Motivos personales o familiares
6 Otro motivo
9 No sabe

In [348]:
df_copy_20151['p5h'].replace(to_replace=[' ', '99'],value='99',inplace=True)

In [349]:
df_copy_20151['p5h'] = df_copy_20151['p5h'].astype('int64')
df_copy_20151.p5h.value_counts()

99    1047073
2         899
1         456
3          63
6          35
5          20
9          17
4          12
Name: p5h, dtype: int64

## Campo exclusivo del sistema  (ur)
1,2  Campo exclusivo del sistema

In [350]:
df_copy_20151['ur'] = df_copy_20151['ur'].astype('int64')
df_copy_20151.ur.value_counts()

1     680653
2     367921
99         1
Name: ur, dtype: int64

## Factor de expansión  (fac)
000001-999998 Valor

In [351]:
df_copy_20151['fac'] = df_copy_20151['fac'].astype('int64')
df_copy_20151.fac.value_counts()

114     6970
112     6736
120     6616
119     6253
111     6192
113     6129
123     5793
115     5792
116     5785
110     5761
125     5571
118     5543
126     5521
124     5373
117     5353
128     5340
130     5284
138     5283
91      5123
94      5082
102     5076
107     5029
99      5029
108     5027
109     5025
127     5020
97      4951
121     4915
135     4903
106     4888
        ...
4358       2
3079       2
2429       2
3912       2
2476       2
2514       2
6344       2
2524       2
2544       2
6067       2
2075       2
1232       2
2343       2
2224       2
7505       2
2660       2
2571       2
3842       1
5163       1
2537       1
4963       1
4884       1
4752       1
2841       1
5945       1
5015       1
2235       1
2649       1
5900       1
3102       1
Name: fac, Length: 2339, dtype: int64

In [352]:
#df_copy_20151.to_csv ('C:/Users/Pc-Adri/Documents/ENOE/Documento2015.csv', sep=',', index=False)

In [353]:
df_copy_20151.dtypes

r_def          int64
cd_a           int64
ent            int64
con            int64
upm            int64
d_sem          int64
n_pro_viv      int64
v_sel          int64
n_hog          int64
h_mud          int64
n_ent          int64
per            int64
n_ren          int64
eda            int64
n_inf          int64
p1             int64
p1a1           int64
p1a2           int64
p1a3           int64
p1b            int64
p1c            int64
p1d            int64
p1e            int64
p2_1           int64
p2_2           int64
p2_3           int64
p2_4           int64
p2_9           int64
p2a_dia        int64
p2a_sem        int64
              ...
p5e_hju        int64
p5e_mju        int64
p5e_hvi        int64
p5e_mvi      float64
p5e_hsa        int64
p5e_msa        int64
p5e_hdo        int64
p5e_mdo        int64
p5e_thrs       int64
p5e_tdia       int64
p5f            int64
p5g1           int64
p5g2           int64
p5g3           int64
p5g4           int64
p5g5         float64
p5g6           int64
p5g7           int64
p5g8           int64
p5g9           int64
p5g10          int64
p5g11          int64
p5g12          int64
p5g13          int64
p5g14          int64
p5g15          int64
p5g99          int64
p5h            int64
ur             int64
fac            int64
Length: 186, dtype: object

## Elimacion de columnas con mas de 50% de 99

In [354]:
n = df_copy_20151.columns.values.tolist()
m = round(df_copy_20151.shape[0]*.50)
l = []
for i in n:
    if df_copy_20151[i].value_counts().get(99) != None:
        if m < df_copy_20151[i].value_counts().get(99):
            l.append(i)
            df_copy_20151 = df_copy_20151.drop(i, 1)

In [355]:
df_copy_20151.dtypes

r_def        int64
cd_a         int64
ent          int64
con          int64
upm          int64
d_sem        int64
n_pro_viv    int64
v_sel        int64
n_hog        int64
h_mud        int64
n_ent        int64
per          int64
n_ren        int64
eda          int64
n_inf        int64
p1           int64
p3           int64
p3a          int64
p5a          int64
p5c_hlu      int64
p5c_mlu      int64
p5c_hma      int64
p5c_mma      int64
p5c_hmi      int64
p5c_mmi      int64
p5c_hju      int64
p5c_mju      int64
p5c_hvi      int64
p5c_mvi      int64
p5c_hsa      int64
p5c_msa      int64
p5c_hdo      int64
p5c_mdo      int64
p5c_thrs     int64
p5c_tdia     int64
p5d          int64
ur           int64
fac          int64
dtype: object

In [356]:
df_copy_20151.to_csv ('C:/Users/JoseAntonio/Desktop/ENOE/adri/2016/2016Clean.csv', sep=',', index=False)

## Normaliación

In [357]:
df_copy_20151 = sk.preprocessing.normalize(df_copy_20151, norm='l2', axis=1, copy=True )

In [358]:
df2015 = pd.DataFrame(df_copy_20151)

In [359]:
df2015.head()

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,0.0,0.000001,0.00001,0.044377,0.998983,0.000112,0.000017,0.000001,0.000001,0.0,...,0.00000,0.00000,0.00000,0.000000,0.00000,0.000009,0.000002,0.000002,0.000001,0.000468
1,0.0,0.000001,0.00001,0.044376,0.998958,0.000112,0.000017,0.000001,0.000001,0.0,...,0.00011,0.00011,0.00011,0.000110,0.00011,0.000110,0.000110,0.000110,0.000001,0.000468
2,0.0,0.000001,0.00001,0.044378,0.999008,0.000112,0.000017,0.000001,0.000001,0.0,...,0.00000,0.00000,0.00000,0.000009,0.00000,0.000049,0.000007,0.000002,0.000001,0.000468
3,0.0,0.000001,0.00001,0.044379,0.999015,0.000112,0.000017,0.000001,0.000001,0.0,...,0.00011,0.00011,0.00011,0.000110,0.00011,0.000110,0.000110,0.000110,0.000001,0.000468
4,0.0,0.000001,0.00001,0.044379,0.999015,0.000112,0.000042,0.000002,0.000001,0.0,...,0.00011,0.00011,0.00011,0.000110,0.00011,0.000110,0.000110,0.000110,0.000001,0.000468

In [360]:
df2015.to_csv ('C:/Users/JoseAntonio/Desktop/ENOE/adri/2016/norm2016.csv', sep=',', index=False)